@import "../../styles/_variables";

gelato-component[data-name='marketing-footer'] {

  background: $texture-footer repeat;

  .list {
    margin-bottom: 75px;

    a {
      display: block;
      color: #8c9196;
      font-family: $font-ubuntu;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 3px;

      &:hover {
        color: $white1;
      }
    }

    i {
      color: #8c9196;
      cursor: pointer;
      font-size: 24px;
      font-weight: 300;
      &:hover {
        color: $white1;
      }
    }

    .icon-link {
      display: inline-block;
    }
  }

  .header {
    color: #b2b5b9;
    font-family: $font-slab;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 75px;
  }

  .v-spacer {
    height: 20px;
  }

  .mixpanel-link {
    margin-top: -55px;
    position: relative;
    display: block;
  }

  .h-spacer {
    display: inline-block;
    width: 12px;
  }
}
