<div class="mobile no-navbar page page-language-select">

    <div class="container text-center">

        <h1>
            <i class="cursor fa fa-arrow-circle-left navigate pull-left" data-url="#"></i>
            {{account-creation.language-select.header}}
        </h1>

        <p class="text-muted">{{account-creation.language-select.message}}</p>

        <hr>

        <div id="language-container">
            <button id="select-chinese" type="button" class="btn btn-primary btn-lg language-select spacing">
                {{account-creation.select-chinese}}
            </button>
            <button id="select-japanese" type="button" class="btn btn-primary btn-lg language-select spacing">
                {{account-creation.select-japanese}}
            </button>
        </div>

        <div id="chinese-options-container">
            <button id="select-chinese-simp" type="button" class="btn btn-primary btn-lg language-select spacing">
                {{account-creation.select-chinese-simp}}
            </button>
            <button id="select-chinese-trad" type="button" class="btn btn-primary btn-lg language-select spacing">
                {{account-creation.select-chinese-trad}}
            </button>
            <button id="select-chinese-both" type="button" class="btn btn-primary btn-lg language-select spacing">
                {{account-creation.select-chinese-both}}
            </button>
        </div>

    </div>

</div>