@import "../../../styles/_variables";

gelato-component[data-name='vocab-sentence'] {

  button {
    background-color: $grey1;
    border-radius: 4px;
    display: block;
  }

  i {
    color: $grey3;
    display: block;
    font-size: 18px;
  }

  label {
    color: $grey3;
    font-size: 14px;
    font-weight: 700;
  }

  .hint {
    display: none;
    font-family: $font-ubuntu;

    .hint-definition {
      font-size: 14px;
      font-weight: 300;
    }

    .hint-reading {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .sentence-missing {
    color: $grey3;
    font-family: $font-ubuntu;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
  }

  .sentence-wrapper {
    min-height: 29px;
  }

  .sentence-writing {
    color: $grey3;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
  }

}
