/*** FONTS ***/
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-Hairline.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-HairlineItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-RegularItalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans/OpenSans-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "kaisho";
    src: url('../font/japanese/DFPKaiSho-Md.ttf');
}
@font-face {
    font-family: "simkai";
    src: url('../font/chinese/simkai.ttf');
}


/*** BOOTSTRAP OVERRIDES ***/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.row.bottom-spacing { margin-bottom: 10px; }


/*** GENERAL ***/
html, body { height: 100%; }
body {
    -moz-user-select: none;
    -ms-text-size-adjust: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-image: url('../img/background/ricepaper1.png');
    background-repeat: repeat;
    user-select: none;
}
.canvas-holder { 
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
}
.canvas-holder .canvas-display {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9001;
}
.canvas-holder .canvas-input {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9002;
}
.content-block {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px;
}
.content-block.no-margin { margin: 0; }
.content-block.no-padding { padding: 0; }
.content-block.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.chinese-text { font-family: "simkai", "Arial Unicode MS", sans-serif; }
.content-container { height: 100%; }
.content-container.full-width { 
    padding-left: 0;
    padding-right: 0;
}
.cursor { cursor: pointer; }
.font-preloader { 
    position: fixed;
    visibility: hidden;
}
.japanese-text { font-family: "kaisho", "Arial Unicode MS", sans-serif; }
.skritter-container { height: 100%; }
.view {
    height: 100%; 
    padding-top: 45px;
}


/*** MODAL ***/
.modal-container .modal { 
    overflow-y: hidden;
    z-index: 9999;
}
.modal-container .progress { height: 20px; }
.modal-container .progress-bar {
    padding-top: 3.5px;
    padding-left: 5px;
    text-align: left;
}
.modal-container .modal-title-icon {
    float: left;
    margin: 10.5px;
}
.modal-container .progress-bar { position: relative; }
.modal-container .modal-progress-value { 
    position: absolute;
    top: -2.5px;
}


/*** NAVBAR ***/
.navbar {
    padding-left: 64px;
    height: 45px;
    min-height: 45px;
}
.navbar.no-menu { padding-left: 0; }
.navbar .navbar-header { 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}
.navbar .navbar-brand {
    padding: 12px 8px;
}
.navbar .navbar-back { 
    cursor: pointer;
    float: left;
    left: 0; 
    position: absolute;
}
.navbar .navbar-back:active { 
    background-color: #2c3e50;
}
.navbar .navbar-back i {
    color: #ffffff;
    padding: 7.5px 6px 7.5px 0;
}
.navbar .navbar-back img {
    margin-top: -12px;
    width: 36px;
}
.navbar .navbar-toggle-sidebar { 
    cursor: pointer;
    float: left;
    left: -16px; 
    padding: 0 6px;
    position: absolute;
}
.navbar .navbar-toggle-sidebar:active { background-color: lightblue; }
.navbar .navbar-toggle-sidebar i {
    color: #ffffff;
    padding: 7.5px 6px 7.5px 0;
}
.navbar .navbar-toggle-sidebar img {
    margin-top: -12px;
    width: 36px;
}
.navbar .navbar-nav { margin: 0; }
.navbar .navbar-nav a { 
    height: 45px;
    padding: 0;
}
.navbar .navbar-nav li { padding: 9px 5px; }
.navbar .navbar-nav i { font-size: 27px; }


/*** PROMPT ***/
.has-audio {
    color: blue;
    cursor: pointer;
}


/*** PROMPT: GRADING BUTTONS ***/
.prompt .grading-container {
    display: none;
    bottom: 0;
    position: absolute;
    z-index: 9004;
}
.prompt .grading-container .btn { 
    background-color: #ffffff;
    padding: 5px;
}
.prompt .grading-container .btn img { opacity: 0.4; }
.prompt .grading-container .btn.active img { opacity: 1; }
.prompt .grading-container .btn:hover img { opacity: 1; }
.prompt .grading-container .grading-icon { max-height: 43px; }


/*** PROMPT: INFO SECTION ***/
.info-section {
    border-bottom: none;
    border-right: 2px solid #333333;
    overflow-y: auto;
    position: relative;
}
.info-section .prompt-row { clear: both; }
.info-section .prompt-row div { float: left; }
.info-section .prompt-writing span { margin-right: 5px; }
.info-section .writing-hidden { border: 2px #333333 solid; }
.info-section .writing-hidden span { visibility: hidden; }
.info-section .prompt-reading span { margin-right: 5px; }
.info-section .reading-hidden { border: 2px #333333 solid; }
.info-section .reading-hidden span { visibility: hidden; }
.info-section .prompt-definition { font-size: 18px }
.info-section .prompt-reading { font-size: 24px }
.info-section .prompt-sentence { font-size: 18px }
.info-section .prompt-writing { font-size: 32px }
@media (max-width: 767px) {
    .info-section { 
        border-bottom: 2px solid #333333;
        border-right: none;
    }
}


/*** PROMPT: INPUT SECTION ***/
.input-section { 
    cursor: pointer;
    position: relative;
}
.input-section .input-toolbar {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.input-section .navigate {
    background-color: #ffffff;
    bottom: 45%;
    border: 1px #dadada solid;
    color: #000000;
    opacity: 0.6;
    padding: 20px 5px;
    position: absolute;
    z-index: 9600;
}
.input-section .navigate:hover, .input-section .navigate:active { opacity: 1; }
.input-section .navigate-left { left: 0; }
.input-section .navigate-right { right: 0; }
.input-section .prompt-text {
    height: 100%;
    padding-top: 20%;
    position: relative;
    width: 100%;
}
.input-section .prompt-text .prompt-answer {
    display: none;
    position: absolute;
    width: 100%;
}
.input-section .prompt-text .prompt-question {
    display: none;
    position: absolute;
    width: 100%;
}
.input-section .prompt-style {
    background-color: #333333;
    color: #ffffff;
    display: none;
    font-size: 12px;
    padding: 2px 10px;
    position: absolute;
    top: 0;
    z-index: 9200;
}
.input-section .prompt-style.simp {
    display: block;
    left: auto;
    right: 0;
}
.input-section .prompt-style.trad {
    display: block;
    left: 0;
    right: auto;
}


/*** SIDEBAR ***/
.sidebar {
    background-color: #333333;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    width: 300px;
    z-index: 9900;
}
.sidebar div {
    color: #ffffff;
    cursor: pointer;
    margin-left: -40px;
    padding: 20px 10px;
}
.sidebar div:hover { background-color: lightblue; }
.sidebar div span { padding-left: 10px; }
.sidebar ul { list-style: none; }


/*** VIEW: LOGIN ***/
.view-login { padding-top: 45px; }
.view-login input[type="email"] { border-radius: 0; }
.view-login input[type="password"] { border-radius: 0; }


/*** VIEW: SETTINGS ***/
.view-study-settings .setting-label {
    float: left;
    width: 100px;
}


/*** VIEW: TEST ***/
.view-test .content-block { background-color: #ffffff; }


/*** VIEW: VOCAB INFO ***/
.view-vocab-info h4 { font-weight: 400; }
.view-vocab-info table .definition { vertical-align: middle; }
.view-vocab-info table .reading { vertical-align: middle; }
.view-vocab-info tbody .writing { font-size: 32px; }