/*** FONTS ***/
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-Hairline.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-HairlineItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-RegularItalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('../font/lato/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "kaisho";
    src: url('../font/japanese/DFPKaiSho-Md.ttf');
}
@font-face {
    font-family: "simkai";
    src: url('../font/chinese/simkai.ttf');
}


/*** BOOTSTRAP OVERRIDES ***/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}


/*** GENERAL ***/
html, body { height: 100%; }
body {
    -moz-user-select: none;
    -ms-text-size-adjust: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    user-select: none;
    /*background-image: url('../img/background/ricepaper1.png');
    background-repeat: repeat;*/
}
.content-block {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #303030;
    margin-top: 10px;
    padding: 5px 10px;
}
.chinese-text { font-family: "simkai", "Arial Unicode MS", sans-serif; }
.content-container { padding-top: 45px; }
.font-preloader { 
    position: fixed;
    visibility: hidden;
}
.japanese-text { font-family: "kaisho", "Arial Unicode MS", sans-serif; }
.skritter-container { 
    height: 100%; 
}
.view {
    height: 100%; 
    margin-left: 300px;
}
.view.no-sidebar { margin-left: 0; }
@media screen and (max-width: 767px) {
    .view { margin-left: 0; }
}

/*** MODALS ***/
.modal-container .modal { 
    overflow-y: hidden;
    z-index: 9999;
}
.modal-container .vertical-centered {
    position: fixed;
    top: 15%;
}
.modal-container .modal-title-right {
    float: right;
    line-height: 1.42857143;  
    margin: 0;
}


/*** NAVBAR ***/
.navbar {
    padding-left: 64px;
    height: 45px;
    min-height: 45px;
}
.navbar.no-menu { padding-left: 0; }
.navbar .navbar-header { 
    margin-left: auto; 
    margin-right: auto; 
}
.navbar .navbar-brand {
    padding: 12px 8px;
}

.navbar .navbar-back { 
    cursor: pointer;
    float: left;
    left: 0; 
    position: absolute;
}
.navbar .navbar-back:hover { 
    background-color: #2c3e50;

}
.navbar .navbar-back i {
    color: #ffffff;
    padding: 7.5px 6px 7.5px 0;
}
.navbar .navbar-back img {
    margin-top: -12px;
    width: 36px;
}
.navbar .navbar-toggle-sidebar { 
    cursor: pointer;
    float: left;
    left: -16px; 
    padding: 0 6px;
    position: absolute;
}
.navbar .navbar-toggle-sidebar:hover { background-color: lightblue; }
.navbar .navbar-toggle-sidebar i {
    color: #ffffff;
    padding: 7.5px 6px 7.5px 0;
}
.navbar .navbar-toggle-sidebar img {
    margin-top: -12px;
    width: 36px;
}


/*** SIDEBAR ***/
.sidebar {
    background-color: #2c3e50;
    display: none;
    height: 100%;
    left: 0;
    margin-top: 45px;
    position: fixed;
    width: 300px;
    z-index: 9000;
}
.sidebar div {
    color: #ffffff;
    cursor: pointer;
    margin-left: -40px;
    padding: 20px 10px;
}
.sidebar div:hover { background-color: lightblue; }
.sidebar div span { padding-left: 10px; }
.sidebar ul { list-style: none; }


/*** VIEW: LOGIN ***/
.view-login { padding-top: 45px; }
.view-login input[type="email"] { border-radius: 0; }
.view-login input[type="password"] { border-radius: 0; }


/*** VIEW: TEST ***/
.view-test .content-block { background-color: #ffffff; }