gelato-page(data-name='mail-unsubscribe')
  section.container

    .text-center
      h3= view.email
      h3 You have been successfully unsubscribed from our mailing list.
      h3
        a(href="/") Back to homepage
