gelato-page(data-name='mail-unsubscribe')

  #navbar-container

  section.container

    .text-center
      h1 You have been successfully unsubscribed from our mailing list.
        h4
          a(href="/") Return home

  #footer-container
