gelato-component(data-name='dashboard-goal')
	.row
		#doughnt-column.col-xs-6
			#goal-doughnut
		#items-column.col-xs-6
			#items-reviewed
				.value -
				| &nbsp;&nbsp;&nbsp;
				.text items reviewed
			#items-added
				.value -
				| &nbsp;&nbsp;&nbsp;
				.text items added
