<div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="gelato-sidebar-button action-home">
                <div class="icon-back fa fa-chevron-left"></div>
                <div class="icon-text">{{admin-character.title}}</div>
            </button>
        </div>
    </div>

</div>

<div class="gelato-content no-padding">
    <div class="container">
        <div class="canvas-container"></div>
    </div>
</div>