<div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="gelato-sidebar-button action-home">
                <div class="icon-back fa fa-chevron-left"></div>
                <div class="icon-text">{{admin-stroke.title}}</div>
            </button>
        </div>
    </div>

</div>

<div class="gelato-content no-padding">
    <div class="gelato-panel-left text-center">
        <h5>Stroke</h5>
        <h4 class="stroke-id"></h4>
        <hr>
        <h5>Param</h5>
        <h4 class="stroke-param">None</h4>
        <hr>
        <h5>Dimensions</h5>
        <h4><span class="stroke-width"></span> x <span class="stroke-height"></span></h4>
        <hr>
        <h5>JSON</h5>
        <textarea class="stroke-json"></textarea>
    </div>
    <div class="gelato-panel-right">
        <div class="canvas-container"></div>
    </div>
</div>