<!-- DIALOGS: Default -->
<div class="dialog-default modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="default" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="loader-image" src="images/ajax-loader.gif" height="64" width="64">
                <h3 class="message-title"></h3>
                <h5 class="message-text"></h5>
            </div>
        </div>
    </div>
</div>

<!-- DIALOGS: Download -->
<div class="dialog-download modal fade" tabindex="-1" role="dialog" aria-labelledby="download" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><span class="download-title"></span><span class="download-status-text pull-right"></span></h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIALOGS: Exit -->
<div class="dialog-exit modal fade" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><i class="fa fa-power-off"></i> <span class="modal-title">Exit Skritter?</span></h3>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, go back!</button>
                <button type="button" class="logout btn btn-danger pull-right">Yes, exit now.</button>
            </div>
        </div>
    </div>
</div>

<!-- DIALOGS: List Confirmation -->
<div class="dialog-list-confirmation modal fade" tabindex="-1" role="dialog" aria-labelledby="list-confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <ul class="media-list">
                        <li class="media">
                            <div class="list-image pull-left"></div>
                            <div class="media-body">
                                <h3 class="list-name media-heading"></h3>
                            </div>
                        </li>
                    </ul>
                </h3>
            </div>
            <div class="modal-body">
                <p class="list-description"></p>
                <p><strong>Categories:</strong> <span class="list-categories"></span></p>
                <p><strong>People Studying:</strong> <span class="list-studying"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="select btn btn-success">Select &raquo;</button>
            </div>
        </div>
    </div>
</div>

<!-- DIALOGS: Logout -->
<div class="dialog-logout modal fade" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i class="fa fa-sign-out"></i> Log out from Skritter?</h3>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, go back!</button>
                <button type="button" class="logout btn btn-danger pull-right">Yes, log out.</button>
            </div>
        </div>
    </div>
</div>