<div class="mobile page page-filters">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="navbar-item"><i class="fa fa-refresh navbar-icon"></i></li>-->
            </ul>
        </div>
    </div>

    <div class="container content-container padding-top">

        <div class="content-box">
            <h2>Styles</h2>
            <p class="lead"></p>
            <div id="styles">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>
                            <span class="setting-label">Simplified</span>
                            <input type="checkbox" id="simp" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                        </h4>
                    </div>
                    <div class="col-xs-6">
                        <h4>
                            <span class="setting-label">Traditional</span>
                            <input type="checkbox" id="trad" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <h2>Parts</h2>
            <p class="lead">Temporarily select one or more parts to study.</p>
            <div id="parts">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>
                                    <span class="setting-label">Definition</span>
                                    <input type="checkbox" id="defn" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                </h4>
                            </div>
                            <div class="col-sm-6">
                                <h4>
                                    <span class="setting-label">Reading</span>
                                    <input type="checkbox" id="rdng" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>
                                    <span class="setting-label">Tone</span>
                                    <input type="checkbox" id="tone" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                </h4>
                            </div>
                            <div class="col-sm-6">
                                <h4>
                                    <span class="setting-label">Writing</span>
                                    <input type="checkbox" id="rune" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <h2>Lists</h2>
            <p class="lead">Select specific lists to study.</p>
            <div id="lists">
                <div class="table-container"></div>
                <button id="button-add-list" type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
        </div>

    </div>
</div>