<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="gelato-sidebar-toggle">
                <div class="icon-bars fa fa-bars"></div>
                <div class="icon-text">{{application.name}}</div>
            </button>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="tests.html">Run Tests</a></li>
            <li><a href="https://github.com/mcfarljw/gelatojs" class="navbar-icon fa fa-github"></a></li>
        </ul>
    </div>
</div>

<div id="content" class="gelato-content container">
    <h1>Starter Template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>