<div class="mobile no-navbar page page-landing">

    <div class="container text-center">

        <img src="images/skritter-critter.png" alt="" class="landing-logo">

        <h1>{{application.name}}</h1>

        <p class="lead tagline"></p>

        <hr>

        <button type="button" class="btn btn-primary btn-lg navigate spacing" data-url="login">{{landing.existing-user}}</button>
        <button type="button" class="btn btn-success btn-lg navigate spacing" data-url="getting-started">{{landing.new-user}} &raquo;</button>

    </div>

</div>