<div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-chevron-left"></i>  {{login.title}}</a>
        </div>

    </div>

</div>

<div class="gelato-content container">

    <form class="login-form" role="form">
        <h4 id="message" class="text-danger"></h4>
        <fieldset>
            <div class="form-group">
                <h4>{{login.username}}:</h4>
                <input type="text" name="login-username" id="login-username" class="form-control input-lg">
                <h4>{{login.password}}:</h4>
                <input type="password" name="login-password" id="login-password" class="form-control input-lg">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button id="button-new" class="btn btn-lg btn-primary btn-block vertical-margin">{{login.new-user}}</button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button id="button-login" class="btn btn-lg btn-success btn-block vertical-margin">{{login.title}} &raquo;</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>