<div class="mobile no-overflow page page-scratchpad">

    <div class="font-preloader">力</div>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-left"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="button-audio" class="navbar-item">
                    <i class="fa fa-volume-up navbar-icon"></i>
                </li>
                <li id="button-info" class="navbar-item">
                    <i class="fa fa-info-circle navbar-icon"></i>
                </li>
            </ul>
        </div>
    </div>

    <div id="content" class="container-fluid content-container no-margins">
        <div class="prompt-container"></div>
    </div>

</div>