<ul id="sidebar-default" class="nav nav-pills nav-stacked sidebar">
    <li class="navigate" data-url="#"><a href="#"><i class="fa fa-dashboard"></i> {{sidebar.dashboard}}</a></li>
    <li class="navigate" data-url="study"><a href="#"><i class="fa fa-pencil"></i> {{sidebar.study}}</a></li>
    <!--<li class="navigate" data-url="#"><a href="#"><i class="fa fa-book"></i> {{sidebar.lists}}</a></li>-->
    <hr>
    <li class="navigate" data-url="settings"><a href="#"><i class="fa fa-cogs"></i> {{sidebar.settings}}</a></li>
    <li class="navigate" data-url="account"><a href="#"><i class="fa fa-user"></i> {{sidebar.account}}</a></li>
    <hr>
    <li class="action-logout"><a href="#"><i class="fa fa-power-off"></i> {{sidebar.logout}}</a></li>
</ul>