<ul id="sidebar-default" class="nav nav-pills nav-stacked sidebar">
    <li><a href="#"><i class="fa fa-2x fa-home"></i> Home</a></li>
    <li><a href="#"><i class="fa fa-2x fa-pencil"></i> Study</a></li>
    <li><a href="#"><i class="fa fa-2x fa-book"></i> Lists</a></li>
    <li><a href="#"><i class="fa fa-2x fa-th-list"></i> Queue</a></li>
    <hr>
    <li><a href="#"><i class="fa fa-2x fa-cogs"></i> Settings</a></li>
    <li><a href="#"><i class="fa fa-2x fa-user"></i> Account</a></li>
    <hr>
    <li><a href="#" class="button-sidebar-logout"><i class="fa fa-2x fa-power-off"></i> Log Out</a></li>
</ul>