<div class="mobile page page-stats">

    <div class="font-preloader">力</div>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="button-sync" class="navbar-item">
                    <i class="fa fa-refresh navbar-icon"></i>
                </li>
            </ul>
        </div>
    </div>

    <div class="container content-container padding-top">

        <div class="row">

            <div class="col-md-6">
                <div id="stats-all" class="content-box">
                    <h3>All Time</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Characters Learned</th>
                            <th>Words Learned</th>
                            <th>Time Studied</th>
                            <th>Days Studied</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="char-learned"></td>
                            <td class="word-learned"></td>
                            <td class="time-studied"></td>
                            <td class="days-studied"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div id="stats-day" class="content-box">
                    <h3>Today</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Characters Learned</th>
                            <th>Words Learned</th>
                            <th>Time Studied</th>
                            <th>Days Studied</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="char-learned"></td>
                            <td class="word-learned"></td>
                            <td class="time-studied"></td>
                            <td class="days-studied"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div id="stats-week" class="content-box">
                    <h3>Week</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Characters Learned</th>
                            <th>Words Learned</th>
                            <th>Time Studied</th>
                            <th>Days Studied</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="char-learned"></td>
                            <td class="word-learned"></td>
                            <td class="time-studied"></td>
                            <td class="days-studied"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="stats-month" class="content-box">
                    <h3>Month</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Characters Learned</th>
                            <th>Words Learned</th>
                            <th>Time Studied</th>
                            <th>Days Studied</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="char-learned"></td>
                            <td class="word-learned"></td>
                            <td class="time-studied"></td>
                            <td class="days-studied"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


</div>