gelato-page(data-name="study")
  gelato-navbar.fixed-top
    .container
      .left
        .item.item-header(data-url="#") {{global.title}}
      .right
        .item.item-link(data-dialog="feedback") Contact
        .item.item-text |
        .item.item-link(data-dialog="logout-confirm") Logout
  gelato-content.container-fluid
    #study-toolbar-container
    #prompt-container