gelato-page(data-name='mobile-vocablists-queue')

  #dialog-container

  section#vocablist-nav-links.container
    .row.text-center
      .col-xs-6.selected Queue
      .col-xs-6
        a(href='/vocablists/browse') Browse

    if app.getLanguage() === 'zh'
      .row.text-center
        .col-xs-4
          a(href='/vocablists/my-lists') My Lists
        .col-xs-4
          a(href='/vocablists/chinesepod') ChinesePod
        .col-xs-4
          a(href='/vocablists/deleted') Deleted
    else
      .row.text-center
        .col-xs-6
          a(href='/vocablists/my-lists') My Lists
        .col-xs-6
          a(href='/vocablists/deleted') Deleted

  section.container
    .content-block
      .row
        .header= app.locale('pages.vocabLists.addingWordsFrom').toUpperCase()
        .col-md-12.main-content
          #adding-container
    .content-block.reviewing-wrapper
      .row
        .header= app.locale('pages.vocabLists.reviewingWordsFrom').toUpperCase()
        .col-md-12.main-content
          #reviewing-container
