gelato-page(data-name='mobile-vocablists-queue')

  #dialog-container

  section#vocablist-nav-links.container
    .row.text-center
      if app.getLanguage() === 'zh'
        .col-xs-3.zh-smaller.zh-first.selected Queue
        .col-xs-3.zh-smaller
          a(href='/vocablists/browse') Browse
        .col-xs-3
          a(href='/vocablists/my-lists') My Lists
        .col-xs-3.zh-last
          a(href='/vocablists/chinesepod') ChinesePod
      else
        .col-xs-4.selected Queue
        .col-xs-4
          a(href='/vocablists/browse') Browse
        .col-xs-4
          a(href='/vocablists/my-lists') My Lists

  section.container
    .content-block
      .row
        .header= app.locale('pages.vocabLists.addingWordsFrom').toUpperCase()
        .description-text You're adding words from these lists while studying.
        .col-md-12.main-content
          #adding-container
    .content-block.reviewing-wrapper
      .row
        .header= app.locale('pages.vocabLists.reviewingWordsFrom').toUpperCase()
        .description-text You're reviewing words from these lists while studying.
        .col-md-12.main-content
          #reviewing-container
