@import "../../styles/_variables";

gelato-page[data-name='mobile-vocablists-mine'] {

  background: $background-primary;
  padding-top: 108px;

  .container {
    margin-top: 0px;
  }
  .content-block {
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .main-content {
    padding: 0px 17px;
    border-radius: 0px;
  }
}
