@import "../../styles/_variables";

gelato-page[data-name='mobile-vocablists-queue'] {
  background: $background-primary;
  padding-top: 108px;

  .header {
    margin-top: 0;

    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .vocablist-title {
    font-size: 2.25vh;
  }

  .status-text {
    font-size: 2vh;
    color: $grey3;
  }

  .content-block {
    margin-top: 10px;
  }

  .reviewing-wrapper {
    margin-top: 5px;
  }

  .main-content {
    padding: 15px 17px;
    border-radius: 0px;
  }

}
