@import "../../styles/_variables";

gelato-page[data-name='mobile-vocablists-deleted'] {

  background: $background-primary;
  padding-top: 78px;

  #vocablist-container {
    margin-left: -25px;
    margin-right: -25px;
  }

  .content-block {
    margin-top: 10px;
  }

  .main-content {
    padding: 0px 17px;
    border-radius: 0px;
  }

  #vocablist-container {

    .row {
      margin: 0px 8px;
    }
  }
}
