@import "../../styles/_variables";

gelato-page[data-name='mobile-vocablists-published'] {

  background: $background-primary;
  padding-top: 108px;

  #search-input {
    margin-bottom: 5px;
  }

  .clear-search {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 3;
    font-size: 26px;
    padding: 4px 15px;
    cursor: pointer;
    color: $grey3;

    &:hover {
      color: $grey5;
    }
  }

  .query-results-text {
    margin: 10px 0px 15px;
    font-size: 16px;
    color: $grey3;
  }

  .content-block {
    margin-top: 10px;
  }

  .main-content {
    padding: 15px 17px;
    border-radius: 0px;
  }

}
