@import "../../styles/_variables";

gelato-page[data-name='mobile-vocablists-queue'] {

  background: $background-primary;
  padding-top: 100px;

  .content-block {
    margin-top: 50px;
  }

  .main-content {
    border-radius: 25px;
  }

}
