@import "../../styles/_variables";

gelato-page[data-name='mobile-vocablists-list'] {

  background: $background-primary;
  padding-top: 75px;

  gelato-component[data-name='vocablists-list-section-editor'] {
    .row {
      padding: 10px 0;

    }
  }

  #editing-buttons {
    margin-top: 10px;
    button {
      margin-right: 15px;
    }
  }

  .fa {
    margin-right: 6px;
  }

  #input-row {
    input {
      background-color: $white;
      border: none;
      font-size: 18px;
      outline: none;
      padding: 10px 5px;
      width: 50%;
    }
    margin: 15px 0;
  }

  .content {
    background-color: $white1;
    border-radius: 5px;
    margin: -15px 0;
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: 600px;
  }

  .content-details {
    input {
      width: 100%;
    }
    textarea {
      min-height: 200px;
      width: 100%;
    }
  }

  .list-options {
    padding-bottom: 30px;

    a {
      display: inline-block;
      margin-right: 25px;
    }
    .glyphicon {
      margin-right: 5px;
    }
    .pull-right {
      margin-right: 0;
    }
  }

  .list-sections-header {
    color: #404851;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .list-description {
    color: #404851;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  .list-name {
    color: #404851;
    font-size: 36px;
    font-weight: 400;
  }

  .list-stats {
    font-size: 12px;
    color: $grey3;
    margin-bottom: 25px;
  }



}
