gelato-page(data-name='mobile-vocablists-browse')

  #dialog-container

  section#vocablist-nav-links.container
    .row.text-center
      if app.getLanguage() === 'zh'
        .col-xs-3.zh-smaller.zh-first
          a(href='/vocablists/queue') Queue
        .col-xs-3.zh-smaller.selected Browse
        .col-xs-3
          a(href='/vocablists/my-lists') My Lists
        .col-xs-3.zh-last
          a(href='/vocablists/chinesepod') ChinesePod
      else
        .col-xs-4
          a(href='/vocablists/queue') Queue
        .col-xs-4.selected Browse
        .col-xs-4
          a(href='/vocablists/my-lists') My Lists

  section.container
    #expiration-container
    .content-block
      .row
        .col-md-12
          #table-options
            .row
              .col-xs-12
                .input-group.input-group-lg
                  span.input-group-addon
                    i.fa.fa-search
                  input#list-search-input.form-control(type="text", placeholder="Type to search by title")

            .form-inline#field-filter-list
              label View only:
              .checkbox
                label
                  input(type="checkbox" value='textbook', checked)
                  span Textbooks
              .checkbox
                label
                  input(type="checkbox" value='published')
                  span User published

      .row
        .col-md-12.main-content
          #vocablist-container
