@import "../../styles/_variables";

gelato-page[data-name='vocablists-deleted'] {
  background: $background-primary;
  padding-top: 75px;

  #vocablist-container {
    margin-left: -25px;
    margin-right: -25px;
  }

  .title-wrapper {
    margin-bottom: 25px;

    .title {
      margin-bottom: 0px;
    }

    .explaination {
      color: $grey3;
      font-size: 16px;
    }
  }

}
