gelato-page(data-name='vocablists-published')

  section.container
    #expiration-container
    .content-block
      .row
        .col-md-3.sidebar
          #vocablist-sidebar-container

        .col-md-9.main-content
          .title-wrapper
            .title Published Lists
            .explaination These are lists published by other Skritter users
          #search-input.row
            .col-md-12
              .input-group.input-group-lg
                span.input-group-addon
                  i.fa.fa-search
                input#list-search-input.form-control(type="text", placeholder="Type to search by title")
                span#clear-search.clear-search.hidden &#10006;
          .row
            .col-xs-12#query-results-text.query-results-text.invisible Showing results for
          .row
            .col-xs-12
              #vocablist-container
