@import "../../styles/_variables";

gelato-page[data-name='vocablists-list-section'] {

  background: $background-primary;
  padding-top: 75px;

  #editing-buttons {
    margin-top: 15px;
    button {
      margin-right: 15px;
    }
  }

  #input-message {
    margin: 15px 0;
  }

  #input-row {
    input {
      background-color: $white1;
      border: none;
      font-size: 18px;
      outline: none;
      padding: 10px 5px;
      width: 50%;
    }
    margin: 15px 0;
  }

  .content {
    background-color: $white1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin: -15px 0;
    padding-bottom: 25px;
    padding-top: 55px;
    min-height: 500px;
  }

  .content-details {
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .list-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .breadcrumb-spacer {
    color: $grey3;
    display: inline-block;
    margin: 0 10px;
  }

  .loading-section {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .section-name {
    display: block;
    font-size: 24px;
    font-weight: 400;
  }

}
