gelato-page(data-name='vocablists-mine')

  section.container
    .content-block
      .row

        .col-md-3.sidebar
          #vocablist-sidebar-container

        .col-md-9.main-content
          .title-wrapper
            .title My Lists
            .explaination These are vocablists that you have made
          #vocablist-container
