gelato-page(data-name='vocablists-queue')

  section.container
    .content-block
      .row

        .col-md-3.sidebar
          #vocablist-sidebar-container

        .col-md-9.main-content
          .title Study Queue
          .header= app.locale('pages.vocabLists.addingWordsFrom')
          .description-text You're adding words from these lists while studying.
          #adding-container
          .header= app.locale('pages.vocabLists.reviewingWordsFrom')
          .description-text You're reviewing words from these lists while studying.
          #reviewing-container
