@import "../../styles/_variables";

gelato-page[data-name='vocablists-browse'] {
  background: $background-primary;
  padding-top: 75px;

  #table-options {
    margin-bottom: 40px;
    .input-group {
      input {
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
      }
      span {
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
      }
      .input-group-addon {
        background-color: transparent;
      }
    }

    .glyphicon.layout-selector {
      font-size: 38px;
      color: $grey1;
      cursor: pointer;
      &.chosen {
        color: $grey5;
      }
    }

    .form-inline {
      margin-top: 15px;
      color: $grey4;
      label {
        margin-right: 10px;
      }
      input {
        margin-right: 10px;
        margin-left: 20px;
      }
    }
  }

  .title-wrapper {
    margin-bottom: 25px;

    .title {
      margin-bottom: 0px;
    }

    .explaination {
      color: $grey3;
      font-size: 16px;
    }
  }

  #vocablist-container {
    margin-left: -25px;
    margin-right: -25px;
  }

}
