gelato-page(data-name='vocablists-deleted')

  section.container
    .content-block
      .row

        .col-md-3.sidebar
          #vocablist-sidebar-container

        .col-md-9.main-content
          .title-wrapper
            .title My Deleted Lists
            .explaination These are lists you made but have deleted and removed from your study queue
          #vocablist-container
