@import "../../styles/_variables";

gelato-page[data-name='vocablists-create'] {
  background: $background-primary;
  padding-top: 75px;

  .back-link {
    color: $grey3;

    .glyphicon {
      margin-right: 5px;
    }
  }

  .title {
    font-size: 26px;
  }

  hr {
    border-top: 2px solid $white5;
  }

  .header {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-control {
    width: 50%;
  }
}


.mobile {
  gelato-page[data-name='vocablists-create'] {

    #create-list-btn {
      float: right;
    }

    .form-control {
      width: 100%;
    }
  }
}
