gelato-page(data-name='vocablists-browse')
  section.container
    #expiration-container
    .content-block
      .row
        .col-md-3.sidebar
          #vocablist-sidebar-container
        .col-md-9.main-content
          .title-wrapper
            .title Browse Lists
            .explaination Search for official textbooks or user contributed lists.
          #table-options
            .row
              .col-md-10
                .input-group.input-group-lg
                  span.input-group-addon
                    i.fa.fa-search
                  input#list-search-input.form-control(
                  type="text",
                  value=app.get('lastVocablistBrowseSearch'),
                  placeholder="Type to search by title"
                  )
              .col-md-1
                span#list-option.glyphicon.glyphicon-th-list.layout-selector.chosen
              .col-md-1
                span#grid-option.glyphicon.glyphicon-th-large.layout-selector

            .form-inline#field-filter-list
              label View only:
              .checkbox
                label
                  input(type="checkbox" value='textbook', checked)
                  span Textbooks
              .checkbox
                label
                  input(type="checkbox" value='published')
                  span User published

          #vocablist-container
