gelato-component(data-name='stats-all-time')

  .title All Time
  .row
    .col-md-3.center
      .characters.data-section
        #characters-learned.num-hero.chars-learned ...
        .units-label characters
        .colored-square.chars-learned-bg
      .total-reviews.data-section
        #total-reviews-num.num-subhero ...
        .units-label total reviews
    .col-md-6
      .circle
        #items-learned
        .chart-overlay-wrapper
          .chart-overlay
            #num-items-learned.num-items-learned ...
            .cicle-label items learned
    .col-md-3.center
      .words.data-section
        #words-learned.num-hero.words-learned ...
        .units-label words
        .colored-square.words-learned-bg
      .days-studied.data-section
        #total-time-studied-num.num-subhero ...
        .units-label
          span#units-total-label
          span &nbsp; studied
