gelato-component(data-name='stats-all-time')

  .title All Time
  .row
    .col-md-4
      .characters
        | 6
        | characters
      .total-reviews
        | 9999
        | total reviews
    .col-md-4
      .circle
        .number-learned 1337
        .cicle-label items learned
    .col-md-4
      .characters
        | 2
        | words
      .days-studied
        | 5000:99:99
        | days studied