gelato-component(data-name='stats-all-time')

  .title All Time
  .row
    .col-md-4
      .characters
        #characters-learned ...
        | characters
      .total-reviews
        | 9999
        | total reviews
    .col-md-4
      .circle
        #items-learned ...
        .cicle-label items learned
    .col-md-4
      .words
        #words-learned ...
        | words
      .days-studied
        | 5000:99:99
        | days studied