gelato-component[data-name="prompt-navigation"] {

  position: absolute;
  top: 27.5%;
  width: 100%;

  > div {
    color: $white5;
    font-size: 72px;
    position: absolute;
  }

  #navigate-next { right: -45px; }

  #navigate-previous { left: -50px; }

}