.gelato-component.prompt {

  position: relative;
  width: 1280px;

  .canvas-section {
    background-color: $white1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
  }

  .content-block {
    height: 640px;
    padding: 0;
  }

  .detail-section {
    background-color: $white2;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    float: left;
    height: 100%;
    margin-top: 0;
    position: relative;
    width: 50%;
  }

  .vocab-new {
    background-image: url('#{$dir-assets}/vectors/study-new-character.svg');
    display: none;
    height: 114px;
    position: absolute;
    width: 114px;
  }

  .writing-canvas-container { margin: 0 auto; }

}