gelato-component[data-name="prompt"] {

  position: relative;

  .canvas-section {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: white;
  }

  .canvas-section .center-column {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .canvas-section .prompt-banner-new {
    background-image: url('#{$dir-assets}/vectors/study-new-character.svg');
    display: none;
    height: 114px;
    left: 0;
    position: absolute;
    top: 0;
    width: 114px;
  }

  .canvas-section .writing-canvas-container { margin-bottom: 25px; }

  .content-block .row {
    background-color: $white1;
    border-radius: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .detail-section {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

}