.gelato-component.prompt-navigation {

  > div {
    height: 64px;
    position: absolute;
    width: 35px;
  }

  .navigate-previous {
    background-image: url('#{$dir-assets}/vectors/study-light-previous.svg');
    left: 30px;
    top: 190px;
  }

  .navigate-next {
    background-image: url('#{$dir-assets}/vectors/study-light-next.svg');
    right: 30px;
    top: 190px;
  }

}