.gelato-component.prompt-toolbar {

  .option-stroke-order {
    background-image: url('#{$dir-assets}/vectors/study-stroke-order.svg');
  }

  .option-eraser {
    background-image: url('#{$dir-assets}/vectors/study-erase.svg');
  }

  .option-reveal {
    background-image: url('#{$dir-assets}/vectors/study-show.svg');
  }

  .option-correct {
    background-image: url('#{$dir-assets}/vectors/study-correct.svg');
  }

}