gelato-component[data-name="prompt-detail"] {

  font-size: 16px;
  margin: 42px 15px;

  .row {
    margin-bottom: 30px;
    &.no-margin { margin-bottom: 0; }
  }

  .title {
    color: #8c9196;
    font-weight: 600;
  }

  .vocab-definition {
    color: #8c9196;
    font-weight: 300;
  }

  .vocab-reading {
    color: #8c9196;
    font-size: 24px;
    margin-left: 5px;
  }

  .vocab-writing {
    color: #666c73;
    font-size: 54px;
  }

}