gelato-component[data-name="study-toolbar"] {

  position: relative;

  .option-add {
    background-image: url('#{$dir-assets}/vectors/study-light-add-word.svg');
  }

  .option-collapse {
    background-image: url('#{$dir-assets}/vectors/study-light-collapse-nav.svg');
  }

  .option-lists {
    background-image: url('#{$dir-assets}/vectors/study-light-list.svg');
  }

  .option-settings {
    background-image: url('#{$dir-assets}/vectors/study-light-settings.svg');
  }

}