gelato-component[data-name="vocab-detail"] {

  position: relative;

  .detail-section { margin: 20px; }

  .detail-section .detail-block { margin-bottom: 20px; }

  .detail-section .detail-title {
    font-size: 16px;
    font-weight: 700;
  }

  .header-row .detail-options { float: right; }

  .header-row .detail-options div {
    background-repeat: no-repeat;
    display: inline-block;
  }

  .header-row .detail-options .button-add {
    background-image: url('#{$dir-assets}/vectors/word-modal-add.svg');
    height: 23px;
    width: 23px;
  }

  .header-row .detail-options .button-audio {
    background-image: url('#{$dir-assets}/vectors/study-word-volume.svg');
    height: 24px;
    width: 24px;
  }

  .header-row .detail-options .button-star {
    background-image: url('#{$dir-assets}/vectors/study-word-star.svg');
    height: 23px;
    width: 23px;
  }

  .header-row .header-block {
    border-right: 1px solid $grey1;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-row .header-block:last-child {
    border-right: none;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

}