.gelato-component.writing-canvas {

  position: relative;

  text-align: center;

  .text-overlay {
    position: absolute;
    top: 30px;
    width: 100%;
  }

  .text-overlay .answer-text {
    color: $grey5;
    font-family: $font-unicode;
    font-size: 18px;
    font-weight: 300;
  }

  .text-overlay .question-word {
    color: $grey6;
    font-size: 120px;
  }

  .text-overlay .question-text {
    color: $grey3;
    font-family: $font-secondary;
    font-size: 28px;
    font-weight: 300;
  }

}