@import "../../styles/variables";

gelato-component[data-name='settings-sidebar'] {

  color: $white1;
  margin: 45px auto 0 auto;
  width: 180px;
  button {
    height: 50px;
    padding: 0 20px;
  }

  .options {
    color: #8c9196;
    font-family: $font-ubuntu;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    padding: 10px;

    > a {
      color: $grey3;
      display: block;
      margin-bottom: 20px;
      text-decoration: none;

      &:hover {
        color: $grey6;
      }

      &.active {
        color: $grey9;
      }

      .glyphicon {
        color: $green5;
        margin-right: 5px;
      }

    }

    .header {
      margin-top: 9px;
      margin-bottom: 30px;
      position: relative;
      z-index: 1;
      color: $grey7;
    }

    .header-stripe {
      background: $white5;
      position: absolute;
      left: 0;
      right: 0;
      height: 45px;
      z-index: 0;
    }

  }

}
