gelato-component(data-name='settings-sidebar')
  .options
    .header-stripe
    .header Account
    a(href="/settings/general") General
    a(href="/settings/study") Study    

    // clearfix aligns stripe with header
    .clearfix
    .header-stripe
    .header Billing
    
    a(href="/billing/history") Billing history
    a(href="/billing/subscription") Subscription
    //- a(href="/billing/school") School validation
