gelato-component(data-name='study-toolbar-timer')

  span#time.hover-tooltip= view.getTotalRunningTime(true)
    span.tooltip-text= app.locale('pages.study.timerDescription')

  if view.showIcon
    span.fa.fa-clock-o
