@import "../../styles/_variables";

gelato-page[data-name='demo'] {

  background: $background-primary;
  padding-top: 50px;
  padding-bottom: 0;

  #demo-prompt-container {
    margin-top: 50px;
  }

}
