@import "../../styles/_variables";

gelato-page[data-name='demo'] {
  background: $background-primary;
  padding-top: 50px;
  padding-bottom: 0;

  #demo-prompt-container {
    padding-top: 50px;
  }

  #progress-container {
    margin: auto;
    position: fixed;
    width: 100%;
    z-index: 5001;
  }
}

#button-signup {
  float: right;
}

.demo-notification-tones-body {
  .tone-wrapper {
    margin-bottom: 10px;

    .first-tone {
      margin-bottom: 10px;
    }

    .media {
      margin-left: 15px;
    }
  }
}

.mobile {
  #page-container gelato-page[data-name='demo'] {
    padding-bottom: 0px;
  }
}

@keyframes swipeUpToErase {
  0% {
    bottom: 10%;
  }
    100% {
    bottom: 33%;
  }
}

.show-erase-swipe-animation {
  animation: swipeUpToErase 2s infinite;
}

.mobile {
  gelato-page[data-name='demo'] {
    #demo-prompt-container {
      padding-top: 0;
    }
  }
}
