p
  | Did you know it? Give yourself a grade. Skritter keeps track of your performance and adjusts when you'll see the item again based on our study algorithm. Our system helps you prioritize the things you're struggling with over the things you already know!