- var localeText = 'pages.demo.readingBody1'+ view.lang;
- if (app.isMobile() && view.lang === 'zh') { localeText += 'Mobile';}

p= app.locale(localeText)

if view.lang === 'zh'
  p Tones are represented by adding 1, 2, 3, 4, or 5 after each character's pronunciation. E.g. zhong1 = zhōng

p
  | If you're not sure, you can use the
  .media
    .media-left
      img.media-object(src="/media/vectors/study-dont-know.svg", alt="", width=20)
  | button to reveal the answer.