p Let’s get started by learning the characters in the word hello.

p
  | We’ll always teach you the correct stroke order for new characters you’re learning on Skritter.
  | Can you trace the strokes and write 你?
