p
  | This is a tone prompt. Put your tone knowledge to the test by drawing the correct tone on the canvas. 1st tone: straight line 2nd tone: rising line 3rd tone: a V 4th tone: falling line 5th (neutral tone): dot on the screen