.demo-complete-view
  .sign-up-area
    img(src="/media/images/demo-complete-features.jpg", alt="")
    //#section-main-features
    //  .container
    //    .row
    //      .col-md-6.block
    //        .media
    //          .media-left
    //            .media-object
    //              i.icon.icon-marketing-handwriting-recognition
    //          .media-body
    //            .media-heading Handwriting Recognition
    //            .media-subtext Write characters, don't trace them with our active-recall learning strategy.
    //      .col-md-6.block
    //        .media
    //          .media-left
    //            .media-object
    //              i.icon.icon-marketing-textbooks
    //          .media-body
    //            .media-heading Studying your way
    //            .media-subtext
    //              | Skritter gives you immediate stroke-level feedback and helps you review hard characters more often.
    //    .row
    //      .col-md-6.block
    //        .media
    //          .media-left
    //            .media-object
    //              i.icon.icon-marketing-stroke-order
    //          .media-body
    //            .media-heading Teaching Mode
    //            .media-subtext Learn the correct stroke order right away for quick character mastery.
    //      .col-md-6.block
    //        .media
    //          .media-left
    //            .media-object
    //              i.icon.icon-marketing-plane
    //          .media-body
    //            .media-heading Characters on the go
    //            .media-subtext Learn Chinese & Japanese characters with our mobile apps anywhere, even in Antarctica.
    a(href="/signup")
      button#button-signup.btn.btn-lg.btn-danger= app.locale('common.signUp').toUpperCase()
    .free-tial-wrapper 7-DAY FREE TRIAL

  a(href="/features#section-call-to-action")
    button#button-back.btn.btn-lg.btn-default= app.locale('pages.demo.seeAllFeatures')