p
  | Can you write it from memory?

.media
  .media-left
    img.media-object(src="/media/vectors/study-show.svg", alt="", width=40)
  .media-body
    .media-heading Click the reveal button if you want to take a quick peak at the character.
