strong Excellent!

p
  | Now try it on your own. If you need help you can use the buttons below the canvas.

.media
  .media-left
    img.media-object(src="/media/vectors/study-stroke-order.svg", alt="", width=40)
  .media-body
    .media-heading Click the teaching button if you want to see the stroke order again.
