p
  | Wanna try again? Swipe up on the canvas or press the

  .media
    .media-left
      img.media-object(src="media/vectors/study-erase.svg", alt="", width=20)
    .media-body
      .media-heading erase button to start the writing prompt over again.
