- var promptString = view.lang === 'zh' ? 'definition, tone, and pronunciation' : 'definition and pronunciation';
p
  | You just completed your first writing prompt, way to go! Skritter also has prompts to help you learn an item's #{promptString}. Let's check those out next!
