p
  | Skritter is more than just a flashcard application. Improve your learning experience with custom definitions and mnemonics, example sentences, character breakdowns, vocabulary information, and more!