strong Great!

p
  | Now it's your turn to write it. If you need help you can use the buttons below the canvas.

.media
  .media-left
    img.media-object(src="/media/vectors/study-stroke-order.svg", alt="", width=40)
  .media-body
    .media-heading Click the teaching button if you want to see the stroke order again.
.media
  .media-left
    img.media-object(src="/media/vectors/study-show.svg", alt="", width=40)
  .media-body
    .media-heading Or the reveal button if you want to see a quick hint.