if view.lang === 'zh'
  p Let’s get started by learning the characters in the word hello.
else
  p Let's get started by learning the characters in the word&nbsp;
    i genki
    |.
  p It's used in the phrase お元気ですか。 which means "How are you?"

p
  | We’ll always teach you the correct stroke order for new characters you’re learning on Skritter.
  | &nbsp;

  case app.get('demoLang')

    when 'ja'
      | Can you trace the strokes and write 元?

    when 'zh'
      | Can you trace the strokes and write 你?
