p
  | Skritter is more than just a flashcard application. Improve your learning experience with example sentences, custom definitions and mnemonics, character breakdowns, vocabulary information, and more!