p
  | Skritter also teaches you the pronunciation. Enter the pronunciation for 中文. Tones are represented by adding 1, 2, 3, 4, or 5 after each characters pronunciation. If your not sure you can use the
  .media
    .media-left
      img.media-object(src="/media/vectors/study-stroke-order.svg", alt="", width=40)
  |to reveal the answer.