.demo-notification-tones-body
  p This is a tone prompt. Put your tone knowledge to the test by drawing the correct tone on the canvas.

  .tone-wrapper
    span 1st tone: straight line
    .media.first-tone
      .media-left
        img.media-object(src="media/images/tones/tones-1.png", alt="", width=20)

  .tone-wrapper
    span 2nd tone: rising line
    .media
      .media-left
        img.media-object(src="media/images/tones/tones-2.png", alt="", width=20)

  .tone-wrapper
    span 3rd tone:
    .media
      .media-left
        img.media-object(src="media/images/tones/tones-3.png", alt="", width=20)

  .tone-wrapper
    span 4th tone: falling line
    .media
      .media-left
        img.media-object(src="media/images/tones/tones-4.png", alt="", width=20)

  .tone-wrapper
    span 5th (neutral tone): tap a dot on the screen
    .media
      .media-left
        img.media-object(src="media/images/tones/tones-5.png", alt="", width=20)