@import "../../styles/variables";

gelato-component[data-name='prompt-rune'] {

  #new-ribbon {
    left: 0;
    position: absolute;
    top: 0;
  }

  #panel-left {
    background-color: $white1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 640px;
    float: left;
    padding-left: 95px;
    padding-right: 95px;
    position: relative;
    width: 640px;
  }

  #panel-right {
    background-color: $white3;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    float: right;
    height: 640px;
    padding: 42px 45px;
    position: relative;
    width: 640px;
  }

  @media (max-width: 1280px) {

    #panel-left { width: 50%; }

    #panel-right { width: 50%; }

  }

}
