gelato-component(data-name='prompt-rune')

  if view.reviews

    #new-ribbon.hidden
      .icon.icon-study-new-character

    #panel-left

    #panel-right
      #vocab-writing-container
      #vocab-reading-container

      label Definition
      #vocab-definition-container

      label Example sentence
      #vocab-sentence-container

  else

    #loading-spinner
      i.fa.fa-5x.fa-spinner.fa-pulse
