@import "../../styles/variables";

gelato-component[data-name="study-toolbar"] {

  color: #714918;
  font-size: 32px;
  margin: 0 auto 15px auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1280px;

  .block {
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: 1280px) {
    width: 1000px;
  }

}