@import "../../styles/variables";

gelato-component[data-name='study-toolbar'] {

  font-family: $font-slab;
  font-size: 24px;
  font-weight: 300;
  margin: 20px 30px;

  i {
    cursor: pointer;
    font-size: 28px;
  }

  .text-left i { margin-right: 15px; }

  .text-right i { margin-left: 15px; }

}
