gelato-component(data-name='study-toolbar')
  - var page = view.page;
  - var items = view.page.items;
  - var vocablist = view.page.vocablist;

  if items.length
    .row

      .col-xs-4.text-left
        if page.sectionId
          .vocablist-name= vocablist.get('name')
          .vocablist-section= vocablist.getSectionById(view.page.sectionId).name
        else if page.listId
          .vocablist-name= vocablist.get('name')

      .col-xs-4.text-center
        #timer-container

      .col-xs-4.text-right
        if page.listId && !page.sectionId
          i#button-add-item.fa.fa-plus-circle
        i#button-study-settings.fa.fa-gear
