gelato-component(data-name="study-toolbar")
    .row
      .col-xs-4.text-left
        #button-add.block
          i.fa.fa-plus-circle
      .col-xs-4.text-center
        #time-studied.block
          .value 0:00
      .col-xs-4.text-right
        #button-lists.block
          i.fa.fa-list
        #button-settings.block
          i.fa.fa-gear