@import "../../styles/_variables";

html {
  overflow-x: hidden;
}

body {
  &.modal-open {
    #main-app-container {
      transform: none;
      -webkit-transform: none;
    }
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#main-app-container {
  position: relative;
  height: 100%;

  &.push-left {
    transform: translate3d(-90%, 0, 0);
    -webkit-transform: translate3d(-90%, 0, 0);
  }

  &.push-right {
    transform: translate3d(250px, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
  }

  &.default {
    background: $background-primary;
  }

  &.marketing {
    background: $background-marketing;
  }
}

#main-app-container-overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
  transition: transform .25s ease-out, opacity .25s;
  -webkit-transition: -webkit-transform .25s ease-out, opacity .25s;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  &.show {
    z-index: 9999;
    opacity: 0.3;
    transform: translate3d(250px, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
  }

  &.show-right {
   z-index: 9999;
    opacity: 0.3;
    transform: translate3d(-90%, 0, 0);
    -webkit-transform: translate3d(-90%, 0, 0);
  }
}

#left-side-app-container {
  position: absolute;
  transition: transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  width: 250px;
}

#right-side-app-container {
  transition: transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transform: translate3d(112%, 0, 0);
  -webkit-transform: translate3d(112%, 0, 0);
  overflow-y: auto;
  width: 90%;

  &.push-main {
    transform: translate3d(11%, 0, 0);
    -webkit-transform: translate3d(11%, 0, 0);
  }
}

.no-overflow {
  overflow: hidden;
}

.side-app-container,
.side-app-container > div {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  #page-container {

    gelato-page {
      padding-bottom: 50px;
    }

  }

  #navbar-container {
    position: fixed;
    z-index: 7001;
    width: 100%;
  }


  &.mobile {
    * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #page-container {
      display: block;
      margin: 0;
      min-height: 100%;
      min-width: 100%;
      overflow: auto;
      padding: 0;

      gelato-page {
        position: absolute;
        left: 0;
        right: 0;

        .container {
          padding: 0;

          .content-block {
            border-radius: 0;
          }
        }
      }
    }

    #main-app-container {
      transition: transform .25s ease-out;
      -webkit-transition: -webkit-transform .25s ease-out;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }

    #main-app-container, #left-side-app-container, #right-side-app-container {
      will-change: transform;
    }

    #main-app-container-overlay {
      will-change: transform, opacity;
    }

    #left-side-app-container {
      transform: translate3d(-250px, 0, 0);
      -webkit-transform: translate3d(-250px, 0, 0);
      overflow-y: auto;

      &.push-right {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
      }
    }
  }
}
