html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
