html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  #page-container {
    gelato-page {
      padding-bottom: 50px;
    }
  }

  #navbar-container {
    position: fixed;
    z-index: 7001;
    width: 100%;
  }

  #page-container {
    //height: inherit;
  }
}
