html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#main-app-container {
  z-index: 2;
  position: relative;
  -webkit-transition: left 250ms, right 250ms; /* Safari */
  transition: left 250ms, right 250ms;
  left: 0;

  &.push-left {
    left: -100%;
  }

  &.push-right {
    left: 250px;
  }
}

#right-side-app-container {
  left: 100%;
  background: #1e365a;

  &.push-main {
    left: 0;
  }
}

.side-app-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  overflow-x: hidden;

  #page-container {

    gelato-page {
      padding-bottom: 50px;
    }

  }

  #navbar-container {
    position: fixed;
    z-index: 7001;
    width: 100%;
  }

  &.mobile {

    #page-container {
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
    }

  }

}
