@import "../../styles/_variables";

html {
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#main-app-container {
  position: relative;
   transition: transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  height: 100%;

  &.push-left {
    transform: translate3d(-90%, 0, 0);
    -webkit-transform: translate3d(-90%, 0, 0);
  }

  &.push-right {
    transform: translate3d(250px, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
  }

  &.default {
    background: $background-primary;
  }

  &.marketing {
    background: $background-marketing;
  }
}

#main-app-container-overlay {
  position: absolute;
  top: 52px;
  bottom: 0px;
  width: 100%;
  background: #000;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;

  &.show {
    z-index: 9999;
    opacity: 0.1;
  }
}

#left-side-app-container {
  position: absolute;
  transition: transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  width: 250px;
}

#right-side-app-container {
  transition: transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transform: translate3d(112%, 0, 0);
  -webkit-transform: translate3d(112%, 0, 0);
  width: 90%;

  &.push-main {
    transform: translate3d(11%, 0, 0);
    -webkit-transform: translate3d(11%, 0, 0);
  }
}

.no-overflow {
  overflow: hidden;
}

.side-app-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  #page-container {

    gelato-page {
      padding-bottom: 50px;
    }

  }

  #navbar-container {
    position: fixed;
    z-index: 7001;
    width: 100%;
  }


  &.mobile {

    #page-container {
      display: block;
      margin: 0;
      min-height: 100%;
      min-width: 100%;
      overflow: auto;
      padding: 0;

      gelato-page {
        position: absolute;
        left: 0;
        right: 0;
      }
    }

    #left-side-app-container {
      transform: translate3d(-250px, 0, 0);
      -webkit-transform: translate3d(-250px, 0, 0);

      &.push-right {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
      }
    }

  }

}
