@import "../../styles/_variables";

html {
  overflow-x: hidden;
}

body {
  &.modal-open {
    #main-app-container {
      transform: none;
      -webkit-transform: none;
    }
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#main-app-container {
  position: relative;
  height: 100%;

  &.default {
    background: $background-primary;
  }

  &.marketing {
    background: #FFF $background-marketing;
  }
}

#main-app-container-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
  transition: transform $sidebar-speed ease-out, opacity $sidebar-speed;
  -webkit-transition: -webkit-transform $sidebar-speed ease-out, opacity $sidebar-speed;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  &.show {
    z-index: 9999;
    opacity: 0.3;
    transform: translate3d(250px, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
  }

  &.show-right {
   z-index: 9999;
    opacity: 0.3;
    transform: translate3d(-90%, 0, 0);
    -webkit-transform: translate3d(-90%, 0, 0);
  }
}

#left-side-app-container {
  position: fixed;
  transition: transform $sidebar-speed ease-out;
  -webkit-transition: -webkit-transform $sidebar-speed ease-out;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  width: 250px;
  z-index: 9000;
}

#right-side-app-container {
  position: fixed;
  transition: transform $sidebar-speed ease-out;
  -webkit-transition: -webkit-transform $sidebar-speed ease-out;
  transform: translate3d(112%, 0, 0);
  -webkit-transform: translate3d(112%, 0, 0);
  overflow-y: auto;
  width: 90%;
  z-index: 9000;

  &.push-main {
    transform: translate3d(11%, 0, 0);
    -webkit-transform: translate3d(11%, 0, 0);
  }
}

.app-cta-guide {
  width: 100px;
  height: 100px;
  background: rgba(101, 172, 233, 0.3);
  border-radius: 50px;
  position: absolute;
  pointer-events: none;
  top: 50%;

  // we want this above pretty much everything because it points out UI functionality...it's a meta-element
  z-index: 8000;
}

.no-overflow {
  overflow: hidden;
}

.side-app-container,
.side-app-container > div {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  #page-container {

    gelato-page {
      padding-bottom: 50px;
    }

  }

  #navbar-container {
    position: fixed;
    z-index: 7001;
    width: 100%;
  }


  &.mobile {
    overflow-x: hidden;

    //* {
    //  -webkit-touch-callout: none;
    //  -webkit-user-select: none;
    //  -khtml-user-select: none;
    //  -moz-user-select: none;
    //  -ms-user-select: none;
    //  user-select: none;
    //}

    .modal-dialog {
      margin: 0;
      width: 100%;
    }

    .modal-content {
      border-radius: 0;

      .modal-header {
        border-radius: 0;
      }
    }

    .progress {
      height: 6px;
    }

    #page-container {
      display: block;
      margin: 0;
      min-height: 100%;
      min-width: 100%;
      overflow: auto;
      padding: 0;

      gelato-page {
        position: absolute;
        left: 0;
        right: 0;
        padding-bottom: 10px;

        .container {
          padding: 0;

          .content-block {
            border-radius: 0;
          }
        }
      }
    }

    #main-app-container {
      //transition: transform $sidebar-speed ease-out;
      //-webkit-transition: -webkit-transform $sidebar-speed ease-out;
      //transform: translate3d(0, 0, 0);
      //-webkit-transform: translate3d(0, 0, 0);
      //z-index: 0;
    }

    #left-side-app-container, #right-side-app-container {
      will-change: transform;
    }

    #main-app-container-overlay {
      will-change: transform, opacity;
    }

    #left-side-app-container {
      transform: translate3d(-250px, 0, 0);
      -webkit-transform: translate3d(-250px, 0, 0);
      overflow-y: auto;

      &.push-right {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
      }
    }
  }
}

@media (min-width: 768px) {

  gelato-application.mobile {
    font-size: 18px;

    #page-container {

      gelato-page {

        .container {
          padding: 0px 10px;

          .content-block {
            border-radius: 3px;
          }
        }
      }
    }
  }
}


.loader-spinner {
  width: 30px;
  height: 30px;
  background: url('#{$dir-assets}/loader-sprite-sheet.png') left center;
  position: absolute;
  top: 50px;
  left: 50px;
  animation: play 2s steps(58) infinite;
}

@keyframes play {
   100% { background-position: -1740px; }
}

.brush-loader {
  width: 30px;
  height: 30px;
  background: url('#{$dir-assets}/brush-loader.png') left center;
  -webkit-animation: loading-spin 2s infinite linear;
  animation: loading-spin 2s infinite linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes loading-spin {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
