/*** APPLICATION ***/
html, body {
    height: 100%;
    width: 100%;
}
.gelato-application {
    height: 100%;
    overflow-x: hidden;
    padding-top: 45px;
    width: 100%;
}


/*** NAVBAR ***/
.navbar-icon { font-size: 28px; }
@media (max-width: 767px) {
    .navbar .container {
        padding-right: 0;
        width: 100%;
    }
    .navbar-header { float: left; }
    .navbar-nav { margin: 0; }
    .navbar-nav li { float: left; }
    .navbar-nav li > a { height: 45px; }
    .navbar-right { float: right; }
}


/*** NAVBAR: TOGGLE ***/
.gelato-sidebar-toggle {
    background-color: transparent;
    border: none;
    color: #ffffff;
    float: left;
    height: 45px;
    padding: 0;
}
.gelato-sidebar-toggle.active .icon-bars {
    margin-left: -10px;
    margin-right: 5px;
}
.gelato-sidebar-toggle:focus {
    border: none;
    outline: none;
}

.gelato-sidebar-toggle .icon-bars {
    float: left;
    font-size: 24px;
    margin-left: -5px;
}
.gelato-sidebar-toggle .icon-text {
    float: right;
    font-size: 18px;
    margin-left: 5px;
}


/*** SIDEBAR ***/
.gelato-sidebars {
    background-color: #ffffff;
    border-right: 2px solid #006687;
    display: none;
    height: 100%;
    overflow-y: auto;
    margin-top: 45px;
    position: fixed;
    top: 0;
    width: 250px;
}
.sidebar-template { display: none; }
.sidebar-template.active { display: block; }


/*** VIEW ***/
.gelato-content { height: 100%; }