/*** DIRECTORIES ***/
$dir-assets: '../media';

/*** BACKGROUNDS ***/
$background-marketing: url("#{$dir-assets}/textures/bg-characters.png") repeat;
$background-primary: url("#{$dir-assets}/textures/bg-retina-wood.png") repeat;

/*** TEXTURES ***/
$texture-characters: url('#{$dir-assets}/textures/bg-characters.png');
$texture-dark: url('#{$dir-assets}/textures/bg-dark-wood.png');
$texture-light: url('#{$dir-assets}/textures/bg-retina-wood.png');
$texture-expired: url('#{$dir-assets}/textures/bg-expired.png');
$texture-footer: url('#{$dir-assets}/textures/bg-footer.png');

/*** FONTS ***/
$font-slab: "Roboto Slab", "Arial Unicode MS", "Arial", sans-serif;
$font-ubuntu: "Ubuntu", "Arial Unicode MS", "Arial", sans-serif;

/*** COLOR ***/
$black: #000000;
$gold: #d4af37;
$orange: #e8a600;
$white: #ffffff;

/*** OTHER ***/
$sidebar-speed: .2s;

/*** COLOR: GRADING ***/
$grade1: #e74c3c;
$grade2: #ebbd3e;
$grade3: #87a64b;
$grade4: #4d88e3;
$gradeBlue1: #dbe7f9;
$gradeBlue2: #b7cff3;
$gradeBlue3: #94b7ee;
$gradeBlue4: #709fe8;
$gradeBlue5: #4d88e3;
$gradeBlue6: #3d6cb5;
$gradeBlue7: #2e5188;
$gradeBlue8: #1e365a;
$gradeBlue9: #0f1b2d;
$gradeRed1: #fadbd8;
$gradeRed2: #f5b7b1;
$gradeRed3: #f0938a;
$gradeRed4: #eb6f63;
$gradeRed5: #e74c3c;
$gradeRed6: #b83c30;
$gradeRed7: #8a2d24;
$gradeRed8: #5c1e18;
$gradeRed9: #2e0f0c;
$gradeYellow1: #fbf1d8;
$gradeYellow2: #f7e4b1;
$gradeYellow3: #f3d78b;
$gradeYellow4: #efca64;
$gradeYellow5: #ebbd3e;
$gradeYellow6: #bc9731;
$gradeYellow7: #8d7125;
$gradeYellow8: #5e4b18;
$gradeYellow9: #2f250c;

/*** COLOR: GREEN ***/
$green1: #e7eddb;
$green2: #cfdbb7;
$green3: #b7c993;
$green4: #9fb76f;
$green5: #87a64b;
$green6: #6c843c;
$green7: #51632d;
$green8: #36421e;
$green9: #1b210f;

/*** COLOR: GREY ***/
$grey1: #d8dadc;
$grey2: #b2b5b9;
$grey3: #8c9196;
$grey4: #666c73;
$grey5: #404851;
$grey6: #333940;
$grey7: #262b30;
$grey8: #191c20;
$grey9: #0c0e10;

/*** COLOR: LIME ***/
$lime1: #f3f7db;
$lime2: #e7f0b7;
$lime3: #dce893;
$lime4: #d0e16f;
$lime5: #c5da4b;
$lime6: #9dae3c;
$lime7: #76822d;
$lime8: #4e571e;
$lime9: #272b0f;

/*** COLOR: SAND ***/
$sand1: #f8f2e7;
$sand2: #f1e5cf;
$sand3: #ead8b7;
$sand4: #e3cb9f;
$sand5: #dcbf88;
$sand6: #b0986c;
$sand7: #847251;
$sand8: #584c36;
$sand9: #2c261b;

/*** COLOR: WHITE ***/
$white1: #fbfafc;
$white2: #f7f6f9;
$white3: #f3f2f6;
$white4: #efeef3;
$white5: #ebeaf0;
$white6: #bcbbc0;
$white7: #8d8c90;
$white8: #5e5d60;
$white9: #2f2e30;

/*** COLOR: WOOD ***/
$wood1: #e8ded2;
$wood2: #d1bda5;
$wood3: #bb9d78;
$wood4: #a47c4b;
$wood5: #8e5c1e;
$wood6: #714918;
$wood7: #553712;
$wood8: #38240c;
$wood9: #1c1206;
