html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

bootstrap-dialog,
gelato-dialog {
  .modal {
    z-index: 9999;
  }
}

gelato-application {
  position: relative;
}

.modal-backdrop {
  z-index: 8000;
}

#hs-beacon {
  iframe {
    z-index: 9999 !important;
  }
}
