html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

bootstrap-dialog,
gelato-dialog {
  .modal {
    z-index: 9999;
  }
}

gelato-application {
  position: relative;
}

.mobile {
  .modal-backdrop {
    z-index: 6000;
  }
}
.modal-backdrop {
  width: 100%;
  left: 0%;
  z-index: 5000;
  transition: width .2s, left .2s, right .2s;
}

#hs-beacon {
  iframe {
    z-index: 9999 !important;
  }
}
