@font-face {
	font-family: 'KaiTi';
	font-style: normal;
	font-weight: 400;
	src: local('KaiTi'), url('/fonts/KaiTi-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DFKaiSho-Md';
	font-style: normal;
	font-weight: 400;
	src: local('DFPKaiSho-Md'), url('/fonts/DFKaiSho-Regular.ttf') format('truetype');
}
