@import "_variables";

body {
  font-family: $font-ubuntu;
}

.background1 {
  background: url("#{$dir-assets}/textures/bg-retina-wood.png") repeat;
}

.background2 {
  background: url("#{$dir-assets}/textures/bg-characters.png") repeat;
}

.background3 {
  background: url("#{$dir-assets}/backgrounds/landscape4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-block {
  background-color: $white1;
  border-radius: 25px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-chinese {
  font-family: "SimSun", "Microsoft YaHei", "Arial Unicode MS", "Arial Unicode", serif;
}

.text-japanese {
  font-family: "Meiryo", "MS Gothic", "Arial Unicode MS", "Arial Unicode", serif;
}

.spr:after {
  content: " "
}

.spl:before {
  content: " "
}

.hover-enlarge {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transition: transform 75ms;
  -webkit-transition: transform 75ms;
  transition-timing-function: ease-out;

  &:hover, &.active {
    transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);

  }
}

.progress {
  background: $white5;
  box-shadow: none;
}

@media (max-width: 767px) {
  .content-block {
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 15px;
  }
}
