@import "../../../../styles/_variables";

gelato-component[data-name='study-prompt-vocab-mnemonic'] {

  button {
    background-color: $grey1;
    border-radius: 4px;
  }

  label {
    color: $grey3;
    font-size: 14px;
    font-weight: 700;
  }

  .value {
    color: $grey3;
    font-size: 14px;
    font-weight: 300;
    textarea {
      width: 100%;
    }
  }

  .push-right {
    margin-left: 15px;
  }
}
