gelato-component(data-name='study-prompt-vocab-mnemonic')
  - var prompt = view.prompt;

  if prompt.reviews
    - var mnemonic = prompt.reviews.vocab.getMnemonic();

    label Mnemonic

    .value

      if !mnemonic || prompt.review.get('showMnemonic') || prompt.reviews.isComplete()

        if view.editing
          textarea= mnemonic ? mnemonic.text : ''
        else
          if (mnemonic && mnemonic.text !== '')
            span!= app.fn.textToHTML(mnemonic.text)
          else
            em Click the 'edit' icon to add a mnemonic

      else

        button#show-mnemonic.btn.btn-default show
