gelato-dialog(data-name='confirm-logout')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-body.text-center
          h3 Are you sure?
          button#button-cancel.btn.btn-lg.btn.btn-default Cancel
          | &nbsp;&nbsp;&nbsp;
          button#button-logout.btn.btn-lg.btn-danger Log Out
