gelato-component[data-name="prompt-details"] {

  .detail-row {
    .title {
      font-size: 14px;
      font-weight: 700;
    }
  }

  #vocab-definition {
    margin-bottom: 30px;
    .value {
      font-size: 14px;
      font-weight: 300;
    }
  }

  #vocab-reading {
    margin-bottom: 30px;
    margin-left: 5px;
    .value {
      font-size: 18px;
      font-weight: 300;
      .reading-element {
        cursor: pointer;
        display: inline;
        margin-right: 2px;
        &.mask { background-color: $white5; }
        &.mask span { visibility: hidden; }
      }
    }
  }

  #vocab-style {
    .value {
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  #vocab-writing {
    margin-bottom: 15px;
    .value {
      font-size: 42px;
      font-weight: 400;
      .writing-element {
        cursor: pointer;
        display: inline;
        margin-right: 5px;
        padding: 10px;
        text-align: center;
        width: 60px;
        &.active { background-color: $white1 !important; }
        &.mask { background-color: $white5; }
        &.mask span { visibility: hidden; }
      }
    }
  }

}