gelato-component(data-name="prompt-details")
  .detail-row
    #vocab-style
      .value
  .detail-row
    #vocab-writing
      .value
  .detail-row
    #vocab-reading
      .value
  .detail-row
    #vocab-definition
      .title Definition
      .value
  .detail-row
    #vocab-sentence
      .title Example sentence
      .value
  .detail-row
    #vocab-mnemonic
      .title Mnemonic
      .value