gelato-dialog(data-name='reset-all-data')

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content

        .modal-header
          .pull-left
            .modal-title Reset all #{app.getLanguageName()} account data?
          .pull-right
            a(href='#', data-dismiss='modal')
              i.fa.fa-times-circle-o

        .modal-body
          p This is a permanent change that will do the following:
          ul
            li Delete all of your study progress
            li Remove all lists from your queue
          label(for='input-password') Re-type your password:
          input#input-password(type='password')
          #error-message.text-danger

        .modal-footer
          button#button-confirm.btn.btn-danger Reset #{app.getLanguageName()}
          button#button-cancel.btn.btn-default Cancel
