#footer-container
  gelato-component.marketing-footer-component
    .container
      .row.text-center
        .col-xs-4
          .header Company
          .list
            a#about-link(href="/about") About us
            a#legal-link(href="/legal") Legal
            a#contact-link(href="/contact") Contact
        .col-xs-4
          .header Community
          .list
            a#blog-link(href="https://blog.skritter.com/", target="_blank") Blog
            a#forum-link(href="https://discourse.skritter.com/", target="_blank") Forum
            .v-spacer
            a#fb-link.icon-link(href="https://www.facebook.com/Skritter-39198748555/", target="_blank")
              i.fa.fa-facebook-square
            .h-spacer
            a#twitter-link.icon-link(href="https://twitter.com/skritterhq/", target="_blank")
              i.fa.fa-twitter
            .h-spacer
            a#gplus-link.icon-link(href="https://plus.google.com/communities/118332278618801612190/stream/a51a6ad6-ce78-4430-8180-2b422c12aa26/", target="_blank")
              i.fa.fa-google-plus
            .v-spacer

        .col-xs-4
          .header Help
          .list
            a#resources-link(href="https://blog.skritter.com/partners-and-resources/" target="_blank") Resources
            a#institutions-link(href="/institutions") Institutions
            a#faq-link(href="https://skritter.helpscoutdocs.com", target="_blank") FAQs
      .row.text-center
        .col-xs-5
        .col-xs-2
          a(href="https://mixpanel.com/f/partner", rel="nofollow" class="mixpanel-link")
            img(src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png", alt="Mobile Analytics")
        .col-xs-5
