@import "../../styles/_variables";

bootstrap-dialog[data-name="goal-settings"] {

  form { margin-left: 25px; }
  label {
    color: #7d8288;
    font-family: $font-ubuntu;
    font-size: 16px;
    font-weight: 300;
  }
  p {
    color: #7d8288;
    font-family: $font-ubuntu;
    font-size: 24px;
    font-weight: 300;
  }

  .modal-content { background-color: $white1; }

  .row {
    padding: 10px 0;
  }

  #goal-value {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #7d8288;
    color: #7d8288;
    font-family: $font-ubuntu;
    font-size: 32px;
    font-weight: 300;
    height: 60px;
    text-align: center;
    width: 135px;
  }

}
