gelato-dialog(data-name='goal-settings')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-body.text-center
          p I want to study
          .row
            .col-xs-6.text-right
              input#goal-value(type="text", value="20")
            .col-xs-6.text-left
              form
                .form-group
                  label.radio-inline
                    input(type="radio", name="goal-type", value="items", checked="checked")
                    | items
                .form-group
                  label.radio-inline
                    input(type="radio", name="goal-type", value="time")
                    | minutes
          p every day.
          .text-center
            button#button-close.btn.btn-default(type='button') Cancel
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button#button-save.btn.btn-primary(type='button') Set
