gelato-component(data-name='dashboard-status')
  .row
    .col-xs-12.text-center
      a(href="/account")= user.get('name')
      | , you have &nbsp;
      if view.dueCount === null
        | - items ready to review.
      else if view.dueCount > 0
        span= view.dueCount
        | &nbsp; items ready to review.
      else
        span no items to review.

  .row
    .col-xs-12.text-center
      br
      if view.dueCount !== 0
        a.btn.btn-fixed.btn-success(type="button", href="/study") Study
      else
        a.btn.btn-fixed.btn-success(type="button", href="/vocablists/browse") Add a list to study
