gelato-component(data-name='dashboard-status')
  .row
    .col-xs-12.text-center
      a(href="/account")= user.get('name')
      | , you have &nbsp;
      if view.dueCount === null
        | -
      else
        span= view.dueCount
      | &nbsp; items ready to review.
  .row
    .col-xs-12.text-center
      br
      a.btn.btn-fixed.btn-success(type="button", href="/study") Study
