@import "../../styles/_variables";

gelato-page[data-name='account-settings-general'] {
  background: $background-primary;
  padding-top: 75px;

  .content-block {
    background-color: #f2f2f6;
  }

  #section-content {
    background-color: $white1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #404851;
    margin: -15px;
    padding: 55px 40px;

    input {
      border-radius: 0;
      height: 50px;

      &[type="checkbox"] {
        height: auto;
      }

      &[type="email"],
      &[type="text"] {
        max-width: 300px;
      }
    }

    label {
      font-family: $font-ubuntu;
      font-weight: 300;
      text-align: left;
    }

    select {
      background-color: white;
      border: 0;
      max-width: 300px;
      outline: 1px solid #cccccc;
    }

    textarea {
      border-radius: 0;
      max-width: 300px;
    }

    .title {
      font-family: $font-ubuntu;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    #button-save {
      margin-top: 30px;
    }

    #field-avatar {
      height: 100px;
      width: 100px;
    }

    #reset-all-data {
      float: right;
      margin-top: 40px;
    }
  }

  .option-desc {
    color: $grey3;
  }

  .alert-danger {
    margin-top: 50px;
  }

}
