@import "../../styles/_variables";

gelato-page[data-name='account-setup'] {
  background: $background-primary;
  padding-top: 75px;

  form {
    margin: 0 auto;
    max-width: 600px;
  }

  input,
  select {
    max-width: 400px;
  }

  .clickable-option {
    display: inline-block;
    width: 120px;
    padding: 20px;
    background: $white5;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid $white5;
    font-size: 16px;
      &:hover {
        background: $white3;
      }

      &.selected {
        background: $grey1;
        border: 2px solid $grade4;

        &:hover {
          background: $grey1;
        }
      }

    .option-icon {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
    }

  }
  .pad-right {
    margin-right: 20px;
  }

  .pad-bottom {
    padding-bottom: 20px;
  }
}
