@import "../../styles/_variables";

gelato-page[data-name='mobile-account-settings-study'] {

  background: $background-primary;
  padding-top: 100px;

  #nav-links {
    background: $wood7;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 7002;

    a {
      color: $sand1;
    }

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;
        color: $white;
      }
    }
  }

  .option-desc {
    clear: both;
    margin: 0 15px;
    color: $white6;
  }

  .header {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 15px;
  }

  .content-block {
    background-color: #f2f2f6;
    padding: 0;
  }

  #section-content {
    background-color: $white1;
    border-radius: 0px;
    color: #404851;
    margin: 0;
    padding: 15px;

    input {
      border-radius: 0;
      height: 50px;
      &[type="checkbox"] {
        height: auto;
      }
      &[type="email"],
      &[type="text"] {
        height: 34px;
        max-width: 300px;
        padding: 0 6px;
      }
    }
    label {
      font-family: $font-ubuntu;
      font-weight: 300;
      text-align: left;
    }
    select {
      background-color: white;
      border: 0;
      max-width: 300px;
      outline: 1px solid #cccccc;
    }
    textarea {
      border-radius: 0;
      max-width: 300px;
    }
    .title {
      font-family: $font-ubuntu;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    #button-save {
      margin: 30px auto;
    }
  }

}
