@import "../../styles/_variables";

gelato-page[data-name='mobile-account-billing-subscription'] {

  background: $background-primary;
  padding-top: 100px;

  #nav-links {
    background: $grey7;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 7002;

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;
      color: $white3;

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;
      }
    }
  }

  .header {
    margin-top: 0;
    font-size: 12px;
    padding: 15px;
  }

  .content-block {
    padding: 0;
  }

  button {
    margin-top: 15px;
  }

  label.control-label {
    text-align: left;
  }

  p.form-control-static {
    padding-left: 0;
  }

  #cancel-vacation-wrapper {
    margin-left: 20px;
  }

  .alert p {
    margin: 10px 0;
  }

  .billing-links {
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .billing-history {
    margin-top: 30px;
    text-align: center;
  }

  .spoof-button-area {
    margin: 0 auto 0 auto;
    width: 180px;
    .list-group-item {
      padding: 5px 10px;
    }
  }

  #policies {
    margin: 40px 0;
  }

  .wrapper {
    text-align: center;
    margin: 20px;
  }

  #validation-error-alert {
    margin-top: 20px;
  }

  #validation-email-sent-msg {
    padding: 20px;
    margin: 20px 0;
  }

  .main-content {
    border-radius: 0;
    padding: 30px;
  }

  .form-control-static {
    padding: 0;
  }

  .pad-top {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sub-button {
    text-align: center;
  }
}
