@import "../../styles/_variables";

gelato-page[data-name='mobile-account-setup'] {
  background: $background-primary;
  padding-top: 75px;

  form {
    margin: 0 auto;
    max-width: 600px;
  }

  hr {
    border-top: 2px solid $grey2;
    margin: 50px 0;
  }

  input,
  select {
    max-width: 400px;
  }

  label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .clickable-option {
    display: block;
    width: 100%;
    padding: 10px;
    background: $white5;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid $white5;
    margin-bottom: 15px;
    font-size: 16px;

    &:hover {
      background: $white3;
    }

    &.selected {
      background: $grey1;
      border: 2px solid $grade3;

      &:hover {
        background: $grey1;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .option-icon {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
    }
    .style-description {
      font-size: 14px;
      font-style: italic;
      margin-top: 10px;
    }

  }
  .pad-right {
    margin-right: 20px;
  }

  .pad-bottom {
    padding-bottom: 20px;
  }
}
