gelato-page(data-name='mobile-account-billing-subscription')
  - var vacation = view.subscription.get('vacation');
  - var subscribed = view.subscription.get('subscribed');
  - var expires = view.subscription.get('expires');

  #dialog-container

  section#nav-links.container
    .row.text-center
      a(href='/account/settings/general')
        .nav-option.col-xs-4 General
      a(href='/account/settings/study')
        .nav-option.col-xs-4 Study
      .nav-option.col-xs-4.selected Billing

  .container
    .content-block
      .header STATUS
      .row

        .col-xs-12.main-content

          if view.subscription.state === 'fetching'

            p.text-center
              i.fa.fa-3x.fa-spinner.fa-pulse

          else

            .form-horizontal
              .form-group.form-group-lg
                label.control-label.col-xs-5 Account status

                .col-xs-7
                  p.form-control-static= view.subscription.getStatus()

              .form-group.form-group-lg
                if view.subscription.isSubscribed()
                  label.control-label.col-xs-5 Next payment
                else
                  label.control-label.col-xs-5 Expires on
                .col-xs-7
                  p.form-control-static
                    if expires
                      | #{moment(expires).format('LL')}
                      if vacation
                        .help-block
                          | This date will be moved forward when your vacation
                          | ends, for as long as the vacation was in effect.
                    else
                      | Never


              if view.subscription.isExpired()
                div.sub-button
                  button.subscribe-android.btn.btn-success(data-type='one.month.sub')
                    | Subscribe: monthly ($9.99 USD)
                div.sub-button
                  button.subscribe-android.btn.btn-success(data-type='one.year.sub')
                    | Subscribe: yearly ($99.99 USD)
                div.sub-button
                  button.restore-android.btn.btn-warning
                    | Restore

              .billing-history
                a(href='/account/billing/history') View billing history
