@import "../../styles/_variables";

gelato-page[data-name='mobile-account-billing-history'] {

  background: $background-primary;
  padding-top: 100px;

  #nav-links {
    background: $wood7;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 7002;

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;

      a {
        color: $sand1;
      }

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;

        a {
          color: $white;
        }
      }
    }
  }

  .content-block {
    padding: 0;
  }

  .header {
    margin-top: 0;
    font-size: 12px;
    padding: 15px;
  }

  .billing-links {
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .table-oversized-wrapper {
    margin-top: 0;
  }

  .date-td {
    width: 25%;
  }

  .service-td {
    width: 15%;
  }

  .length-td {
    width: 20%;
  }

  .main-content {
    border-radius: 0;
    padding: 0 30px;
  }

  .state-td {
    width: 20%;
  }

  .charged-td {
    width: 20%;
  }
}
