@import "../../styles/_variables";

gelato-page[data-name='mobile-account-settings-general'] {

  background: $background-primary;
  padding-top: 100px;

  #nav-links {
    background: $grey8;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 7002;

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;
      color: $sand1;

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;
        color: $white;
      }
    }
  }

  .header {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 15px;
  }

  .content-block {
    background-color: #f2f2f6;
    padding: 0;
  }

  .option-desc {
    clear: both;
    margin: 0 15px;
    color: $white6;
  }

  #section-content {
    background-color: $white1;
    border-radius: 0;
    color: #404851;
    margin: 0px;
    padding: 15px;

    input {
      border-radius: 0;
      height: 50px;

      &[type="checkbox"] {
        height: auto;
      }

      &[type="email"],
      &[type="text"] {
        max-width: 300px;
      }
    }

    label {
      font-family: $font-ubuntu;
      font-weight: 300;
      text-align: left;
    }

    select {
      background-color: white;
      border: 0;
      max-width: 300px;
      outline: 1px solid #cccccc;
    }

    textarea {
      border-radius: 0;
      max-width: 300px;
    }

    .title {
      font-family: $font-ubuntu;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    #button-save {
      margin-top: 30px;
    }

    #field-avatar {
      height: 100px;
      width: 100px;
    }

    #reset-all-data {
      margin-top: 30px;
    }
  }

  .option-desc {
    color: $grey3;
  }

  .option-buttons button {
    display: block;
    margin: 15px auto;
  }

}
