gelato-page(data-name='mobile-account-billing-subscription')
  - var vacation = view.subscription.get('vacation');
  - var subscribed = view.subscription.get('subscribed');
  - var expires = view.subscription.get('expires');

  #dialog-container

  section#nav-links.container
    .row.text-center
      .col-xs-4
        a(href='/account/settings/general') General
      .col-xs-4
        a(href='/account/settings/study') Study
      .col-xs-4
        a(href='/account/billing/subscription') Billing

  .container
    .content-block
      .row

        .col-xs-12.main-content

          if view.subscription.state === 'fetching'

            p.text-center
              i.fa.fa-3x.fa-spinner.fa-pulse

          else

            .form-horizontal
              .form-group.form-group-lg
                label.control-label.col-sm-3 Account status
                .col-sm-9
                  p.form-control-static= view.subscription.getStatus()

              .form-group.form-group-lg
                label.control-label.col-sm-3 Expires
                .col-sm-9
                  p.form-control-static
                    if expires
                      | #{moment(expires).format('LL')}
                      if vacation
                        .help-block
                          | This date will be moved forward when your vacation
                          | ends, for as long as the vacation was in effect.
                    else
                      | Never



