gelato-component(data-name='prompt-vocab-writing')

  if view.reviews

    - var index = 0
    for character in view.reviews.vocab.getCharacters()
      if (['~'].indexOf(character) === -1)
        - var review = view.reviews.at(index)
        - var classes = []
        if (review.get('maskWriting'))
          - classes.push('masked')
        if (view.reviews.getPosition() === index)
          - classes.push('active')
        div.character(class=classes.join(' '), data-position=index)
          span= character
        - index++
      else
        div.filler
          span= character

  else

    i.fa.fa-spinner.fa-pulse
