{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "max-len": [1, {"ignoreComments": true, "ignoreTrailingComments": true}]
  }
}
