# Directories #
/.idea
/.sass-cache
/bower_components
/cordova/chinese/platforms
/cordova/chinese/plugins
/cordova/chinese/www
/cordova/japanese/platforms
/cordova/japanese/plugins
/cordova/japanese/www
/nbproject
/node_modules
/public
/vendor/gelato

# Files #
.DS_Store
npm-debug.log
