# Default
* text eol=lf

# Images
*.gif binary
*.jpg binary
*.ico binary
*.png binary

# Fonts
*.eot binary
*.otf binary
*.svg binary
*.ttf binary
*.woff binary
*.woff2 binary

# Other
chromedriver binary
chromedriver.exe binary
*.jar binary
*.mp3 binary
*.zip binary
