[submodule "plugins/analytics"]
	path = plugins/analytics
	url = https://github.com/mcfarljw/cordova-plugin-analytics.git
[submodule "plugins/inappbilling"]
	path = plugins/inappbilling
	url = https://github.com/mcfarljw/cordova-plugin-inappbilling.git
[submodule "plugins/expansion"]
	path = plugins/expansion
	url = https://github.com/mcfarljw/cordova-plugin-expansion.git
[submodule "plugins/splashscreen"]
	path = plugins/splashscreen
	url = https://github.com/apache/cordova-plugin-splashscreen.git
