gelato-component(data-name='stats-heatmap')

  .title Last 30 Days
  .graph-legend
    .legend-square.q1
    .legend-square.q2
    .legend-square.q3
    .legend-square.q4
    .legend-square.q5

  #heatmap.heatmap
  .row.numbers
    .col-md-3.data-section
      .num-hero 1924
      .units-label items studied
    .col-md-3.data-section
      .num-hero 30:24
      .units-label mins per day
    .col-md-3.data-section
      .num-hero 31
      .units-label longest streak
    .col-md-3.data-section
      .num-hero 2
      .units-label current streak
