@import "../../styles/_variables";

gelato-component[data-name='mobile-vocablists-reviewing-table'] {

  a {
    color: $grey5;
    cursor: pointer;
  }

  a.action-link {
    color: $green5;
    cursor: pointer;
  }

  .glyphicon {
    color: $grey3;
    cursor: pointer;
    font-size: 2.25vh;
    &:hover {
      color: $grey5;
    }
  }

  .progress-wrapper {
    height: 30px;
  }

  .progress {
    margin-top: 10px;
  }

  .row {
    font-size: 1.5vh;
    margin-bottom: 30px;
  }

  .progress-bar-success {
    background-color: $green5;
  }
}
