gelato-component(data-name='mobile-vocablists-reviewing-table')

  for list in view.vocablists.getReviewing()
    .row(data-list-id=list.id)
      .col-md-4
        a(href="/vocablists/view/" + list.id)= list.get('name')
      .col-md-4
        .progress
          .progress-bar(style="width:" + (list.getProgress().percent) + '%')

      .col-md-4
        if list.get('studyingMode') === 'reviewing'
          .col-xs-4.restart-adding-link
            i.glyphicon.glyphicon-play
        if list.get('studyingMode') === 'finished'
          .col-xs-4 Finished
        .col-xs-4.list-settings-span.text-right
          i.glyphicon.glyphicon-cog
        .col-xs-4.remove-list-span.text-right
          i.glyphicon.glyphicon-remove

  if view.vocablists.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse
  else if !view.vocablists.length
    em None
