gelato-component(data-name='vocablists-deleted-table')

  if view.vocablists.state === 'standby' && view.vocablists.length === 0
    p.text-center
      span You have not deleted any lists.

  if view.vocablists.state === 'standby' || view.vocablists.cursor
    #header-row.row
      .col-md-5 Title
      .col-md-7

  for list, i in view.vocablists.models
    if list.get('disabled')
      .row(class=i % 2 ? 'even-row' : 'odd-row')
        .col-md-5.col-xs-8
          a(href="/vocablists/view/" + list.id)= list.get('name')
        .col-md-7.col-xs-4.text-center
          span.restore-link(data-vocablist-id=list.id)
            button.btn.btn-sm.btn-default Restore

  if view.vocablists.state === 'standby' && view.vocablists.cursor
    button#load-more-btn.btn.btn-primary.btn-block Load More

  if view.vocablists.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse
