@import "../../styles/_variables";

gelato-component[data-name='vocablists-list-section-editor'] {

  .row {
    color: #8c9196;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 25px;
    border-top: 1px solid $white5;
    &.odd {
      background-color: $white3;
    }
    &.even {
      background-color: $white1;
    }
  }

  .section-link {
    cursor: pointer;
    color: $green5;
  }

  .row-header {
    font-weight: 400;
  }

  .deleted-text {
    height: 28px;
    display: inline-block;
  }

  .undo-text {
    padding-left: 5px;
    font-size: 16px;
    font-family: $font-ubuntu;
  }

  .section-name {
    color: $grey5;
  }
}
