gelato-component(data-name='vocablists-sidebar')

  a.btn.btn-fixed.btn-success(href="/vocablists/create") Create new list

  .options
    a(href="/vocablists/queue") Study Queue
    a(href="/vocablists/browse") Browse Lists
    a(href="/vocablists/my-lists") My Lists

    if app.isChinese()
      a(href="/vocablists/chinesepod") ChinesePod

    a(href="/vocablists/deleted") Deleted Lists
