@import "../../styles/_variables";

gelato-component[data-name='vocablists-browse-table'] {
  color: #404851;
  font-family: $font-ubuntu;
  font-size: 16px;
  font-weight: 300;

  .add-to-queue-link {
    cursor: pointer;
  }

  .vocablist-title {
    font-size: 16px;
    font-weight: bold;
  }

  .row {
    clear: both;

    &.odd-row {
      background-color: $white1;
    }

    &.even-row {
      background-color: $white2;
    }

    .col-md-6 {
      padding-left: 40px;
      padding-right: 60px;
    }

    .col-md-3 {
      white-space: nowrap;

      .progress {
        margin-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .progress-bar {
        background-color: $green3;
        border-radius: 5px;
      }
    }

    .col-md-3, .col-md-6 {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    .add-to-queue-link .glyphicon {
      margin-right: 5px;
    }
  }

  #grid {
    .col-md-3 {
      margin-bottom: 40px;
    }

    .img-center {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .glyphicon {
      display: inline-block;
      margin-right: 5px;
    }

    .grid-tile {
      cursor: pointer;
      width: 90%;
      position: relative;
      overflow: hidden;
      height: 246px;

      .tile-header {
        padding: 11px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(25, 28, 32, 0.85);
        z-index: 2;
      }

      a {
        color: $white2;
      }

      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }

      .background {
        background: #7d7e7d; /* Old browsers */
        background: -moz-linear-gradient(top,  #7d7e7d 0%, #e6e4ec 33%, #e6e4ec 66%, #7d7e7d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #7d7e7d 0%,#e6e4ec 33%,#e6e4ec 66%,#7d7e7d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #7d7e7d 0%,#e6e4ec 33%,#e6e4ec 66%,#7d7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */

        text-align: center;
        position: absolute;
        padding-top: 90px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        .glyphicon {
          font-size: 100px;
        }
      }

      .footer {
        padding: 11px;
        color: $white2;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(25, 28, 32, 0.85);
        z-index: 1;

        &.adding {
          background: $green6;
        }

        &.just-added {
          background: $green5;
        }
      }

      &:hover {
        .tile-header {
          opacity: 1;
        }
      }

    }
  }

  #header-row {
    background: #f2f2f6;

    .glyphicon {
      margin-left: 10px;
      font-size: 10px;
    }

    .table-sort.chosen {
      font-weight: bold;
    }

    .table-sort {
      cursor: pointer;
      color: $grey9;
    }
  }
}

@media (max-width: 767px) {
  .pull-right-xs {
    float: right;
  }

  .main-content {
    background: $white5;
  }

  .vocablist-wrapper {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background: $white1;
  }

  #title-sort {
    padding-left: 10px;
  }

  gelato-component[data-name='vocablists-browse-table'] {
    .row {
      .col-md-6 {
        padding: 14px;
      }
    }
  }
}
