gelato-component(data-name='vocablists-adding-table')

  for list in view.vocablists.getAdding()
    .row(data-list-id=list.id)
      .col-md-4
        a(href="/vocablists/view/" + list.id)= list.get('name')

      .col-md-4
        .progress
          .progress-bar(style="width:" + (list.getProgress().percent) + '%')

      .col-md-1.text-center
        .stop-adding-link
          i.glyphicon.glyphicon-pause

      .col-md-1.text-center
        a(href="/study/" + list.id) Study

      .col-md-1.text-center
        .list-settings-span
          i.glyphicon.glyphicon-cog

      .col-md-1.text-center
        .remove-list-span
          i.glyphicon.glyphicon-remove

  if view.vocablists.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse

  else if !view.vocablists.getAdding().length
    span You are not currently adding words from any lists. Why not
      a(href="vocablists/browse") &nbsp;browse for new lists
      | ?
