@import "../../styles/_variables";

gelato-component[data-name='vocablists-reviewing-table'] {

  a.action-link {
    color: $green5;
    cursor: pointer;
  }

  .glyphicon {
    color: $grey3;
    cursor: pointer;
    &:hover {
      color: $grey5;
    }
  }

}
