gelato-component(data-name='goal-doughnut')
  .row
    .col-xs-6
      #goal-doughnut
    .col-xs-6
      #items-reviewed
        span.value
        | &nbsp;&nbsp;&nbsp;
        span.text items added
      #items-added
        span.value
        | &nbsp;&nbsp;&nbsp;
        span.text items added
  .row
    .col-xs-12.text-center
      .btn.btn-success(type="button", data-navigate="study") Study
