gelato-component(data-name='goal-doughnut')
  .row
    #doughnt-column.col-xs-6
      #goal-doughnut
    #items-column.col-xs-6
      #items-reviewed
        .value -
        | &nbsp;&nbsp;&nbsp;
        .text items reviewed
      #items-added
        .value -
        | &nbsp;&nbsp;&nbsp;
        .text items added
  .row
    .col-xs-12.text-center
      .btn.btn-fixed.btn-success(type="button", data-navigate="study") Study
