gelato-component(data-name='stats-study-part-bargraph')
  .row
    .col-md-8
      #linegraph
    .col-md-4
      .num +1
  .row
    .col-md-4
      | Added
      .num 0
    .col-md-4
      | Reviews
      .num 1
    .col-md-4
      | Retention
      .num 2%
