gelato-component(data-name="study-prompt-navigation")
  - var prompt = view.prompt;

  if prompt.reviews

    if !prompt.reviews.isFirst()
      i#navigate-previous.fa.fa-angle-left

    i#navigate-next.fa.fa-angle-right
