#left-side-app-container.side-app-container
#right-side-app-container.side-app-container
#main-app-container
  #navbar-container
  #page-container
  #footer-container
#main-app-container-overlay
#app-call-to-action-guide.app-cta-guide.hidden
gelato-dialogs
bootstrap-dialogs
