#left-side-app-container.side-app-container
#right-side-app-container.side-app-container
#main-app-container
  #navbar-container
  #page-container
  #footer-container
gelato-dialogs
bootstrap-dialogs
