gelato-component(data-name='study-prompt-vocab-style')
  - var prompt = view.prompt;

  if prompt.review
    - var review = prompt.review;

    div.value

      case review.vocab.get('style')

        when 'simp'
          | simplified

        when 'trad'
          | traditional
