<gelato-page data-name="about">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header" data-url="#">{{global.title}}</div>
                <div class="item item-link" data-url="features">Features</div>
                <div class="item item-link" data-url="pricing">Pricing</div>
            </div>
            <div class="right">
                <div class="item item-button"><button type="button" class="btn btn-success">Start 7-day trial</button></div>
                <div class="item item-link" data-url="login">Login</div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div class="container">
            <div id="section-quote" class="row text-center">
                <div class="col-xs-12">
                    <div class="quote">"Skritter is the big innovation in online Chinese writing practice."</div>
                    <div class="author">-- John Pasden, ChinesePod</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="main-block" class="content-block">
                <div class="row">
                    <div id="section-content" class="col-md-8">
                        <div class="header">The story behind Skritter</div>
                        <div class="subtext">
                            <p>The idea for Skritter was formed at around 3 AM in a dorm room in Beijing. It was Nick's first visit to China, and he was leaving in four hours. He was sick, sleep deprived, and mulling over how little Chinese he knew. One of his friends had stayed up all night playing a Nintendo DS game called "Trauma Center: Under the Knife". Basically the player performs surgery in ninja-infested combat situations.</p>
                            <p>But it was the way the game was played that interested Nick. Players used a stylus to draw incisions on the screen. Now, if only that kind of writing could be applied to learning Chinese characters.</p>
                            <p>Back in the states, Nick recruited George (the roommate) and Scott (the friend) to join him in his crazy endeavor. The trio have been working on Skritter since June 2008, adding the fine teammates you see on the right along the way.</p>
                            <p>Check out what a Beijing dorm room fever dream has created and learn Chinese characters and Japanese characters the Skritter way!</p>
                        </div>
                        <div class="header">Why "Skritter"?</div>
                        <div class="subtext">
                            <p>Actually, we've been asked that question quite a lot, so we've made this handy little graphic to explain it visually:</p>
                            <img src="assets/images/name_breakdown.png" alt="">
                        </div>
                        <div class="header">Our Learning Philosophy</div>
                        <div class="subtext">
                            <p>Skritter is a focused learning tool. Our intention is not for Skritter to teach every	aspect of Chinese and Japanese. We want Skritter to help you learn and remember Chinese and Japanese characters better than anything else. We've done a lot of math to optimize your learning rate while letting you study anything--you learn the words that are important to you, as fast as possible. And we won't stop making Skritter better until Chinese and Japanese are easier than French.</p>
                        </div>
                        <div class="header">Our Company Philosophy</div>
                        <div class="subtext">
                            <p>We have a very simple company philosophy: keep costs low, listen to customers, and release early and often. We use money like Scrooge McDuck, we update the site often, we try new features as soon they're just usable, and we listen and respond personally to customer comments and problems. We love what we do, and we are fortunate enough to be doing what we love.</p>
                        </div>
                    </div>
                    <div id="section-team" class="col-md-4">
                        <div class="header">The Team</div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">Jake Gill</div>
                                <div class="employee-subtext">
                                    Director of Skritter and master's student for Teaching Chinese.
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">Josh McFarland</div>
                                <div class="employee-subtext">
                                    Lead developer and creator of the Android app.
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">Jeremy Arns</div>
                                <div class="employee-subtext">
                                    Budding developer and our Japanese guru.
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">Olle Linge</div>
                                <div class="employee-subtext">
                                    Educator from Sweden, master blogger, and master's student for Teaching Chinese.
                                </div>
                            </div>
                        </div>
                        <div class="header">Co-founders</div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">Nick Winter</div>
                                <div class="employee-subtext">
                                    Co-founder and adviser of Skritter.
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">Scott Erickson</div>
                                <div class="employee-subtext">
                                    Co-founder and adviser of Skritter.
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/70x70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="employee-name">George Saines</div>
                                <div class="employee-subtext">
                                    Co-founder and adviser of Skritter.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-container"></div>
    </gelato-content>

</gelato-page>