<gelato-page data-name="dashboard">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header">{{global.title}}</div>
                <div class="item item-link" data-url="study">Study</div>
                <div class="item item-link" data-url="lists">Lists</div>
                <div class="item item-link" data-url="words">Words</div>
                <div class="item item-link" data-url="stats">Stats</div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div class="container">

            <section id="section-expired" class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <strong>Subscription expired!</strong> Purchase a subscription to continue adding new items and lists to study.
                        <button type="button" class="btn btn-success text-right" data-url="study">Go to Billing</button>
                        <a href="#" data-dismiss="alert">Hide</a>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-6">
                    <div class="content-block">
                        <div class="content-block-header">
                            <div class="content-block-label">Daily Goal</div>
                            <div class="content-block-options">
                                <span id="goal-settings-button"><i class="fa fa-cog"></i></span>
                            </div>
                        </div>
                        <canvas id="goal-doughnut"></canvas>
                        <div><span id="items-reviewed-value"></span><span>items reviewed</span></div>
                        <div><span id="items-added-value"></span><span>items added</span></div>
                        <button type="button" class="btn btn-success" data-url="study">Study</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-block">
                        <div class="content-block-label">This Month</div>
                        <div id="month-heatmap"></div>
                        <div><span id="month-streak-value"></span><span>day streak</span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-block">
                        <div class="content-block-label">All Time</div>
                        <div><span id="characters-learned-value"></span><span>characters learned</span></div>
                        <div><span id="words-learned-value"></span><span>words learned</span></div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-xs-12">
                    <div class="content-block">
                        <div class="content-block-label">List Queue</div>
                        <div id="list-queue-doughnut"></div>
                        <div id="list-queue-table"></div>
                    </div>
                </div>
            </section>

        </div>
    </gelato-content>

</gelato-page>