<gelato-page data-name="features">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header" data-url="#">{{global.title}}</div>
                <div class="item item-link" data-url="features">Features</div>
                <div class="item item-link" data-url="pricing">Pricing</div>
            </div>
            <div class="right">
                <div class="item item-button"><button type="button" class="btn btn-success">Start 7-day trial</button></div>
                <div class="item item-link" data-url="login">Login</div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <section>
            <div class="container">
                <div id="section-header" class="row text-center">
                    <div class="col-xs-12">
                        <div class="header">Simple enough for students,</div>
                        <div class="header">powerful enough for expats</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="assets/images/hero1.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="section-start-top">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-success">Start 7-day free trial</button>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" data-url="demo">Try demo</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-features">
            <div class="container">
                <div class="title text-center">Simple enough for students, powerful enough for expats</div>
                <div class="row">
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-plane"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Characters on the go</div>
                                <div class="media-subtext">Learn Chinese & Japanese characters anywhere, even in Antarctica.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-flashcards"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Smart flashcards</div>
                                <div class="media-subtext">Skritter gives you immediate stroke-level feedback and helps you review hard characters more often.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-book"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Studying, your way</div>
                                <div class="media-subtext">Start learning from hundreds of textbooks and user lists, or make your own.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-review"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Efficient reviewing</div>
                                <div class="media-subtext">Learn new characters in less than a minute, and remember 95% of what you learn.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-extra-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="http://placehold.it/20x20" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Handwriting Recognition</div>
                                <div class="media-subtext">With Skritter you write characters in your browser and get real-time grading.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="http://placehold.it/20x20" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Writing Style Corrections</div>
                                <div class="media-subtext">Skritter helps you learn proper written form through instant corrections.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="http://placehold.it/20x20" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Stroke Order Help</div>
                                <div class="media-subtext">Ever wondered about stroke order? Skritter clears up any such questions.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="http://placehold.it/20x20" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Spaced Repetition System</div>
                                <div class="media-subtext">Skritter's SRS schedules all your reviews, ensuring that you retain more characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="http://placehold.it/20x20" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Personal Progress Stats</div>
                                <div class="media-subtext">Track your learning to get a better idea how to improve the process.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="http://placehold.it/20x20" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Audio Reinforcement</div>
                                <div class="media-subtext">Skritter plays audio clips for each prompt to help reinforce your learning.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-start">
            <div class="container text-center">
                <h1 class="title">Ready to start learning?</h1>
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-success">Start 7-day free trial</button>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" data-url="demo">Try demo</a>
                    </div>
                </div>
            </div>
        </section>
        <div id="footer-container"></div>
    </gelato-content>

</gelato-page>