<gelato-page data-name="features">

    <gelato-navbar class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#" data-url="features">Features</a></li>
                    <li><a href="#" data-url="pricing">Pricing</a></li>
                    <li><a href="#" data-url="#">Start 7-day trial</a></li>
                    <li><a href="#" data-url="login">Login</a></li>
                </ul>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div class="container">
            <div id="section-quote" class="row text-center">
                <div class="col-xs-12">
                    <div class="quote">Simple enough for students,</div>
                    <div class="quote">powerful enough for expats</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="section-banner" class="row">
                <div class="col-xs-12">
                    <img src="http://placehold.it/1400x500" alt="">
                </div>
            </div>
            <section id="section-features">
                <div class="title text-center">Simple enough for students, powerful enough for expats</div>
                <div class="row">
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-plane"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Characters on the go</div>
                                <div class="media-subtext">Learn Chinese & Japanese characters anywhere, even in Antarctica.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-flashcards"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Smart flashcards</div>
                                <div class="media-subtext">Skritter gives you immediate stroke-level feedback and helps you review hard characters more often.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-book"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Studying, your way</div>
                                <div class="media-subtext">Start learning from hundreds of textbooks and user lists, or make your own.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 block">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="icon icon-marketing-review"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Efficient reviewing</div>
                                <div class="media-subtext">Learn new characters in less than a minute, and remember 95% of what you learn.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-start">
                <h1 class="title">Ready to start learning?</h1>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success">Start 7-day free trial</button>
                        <a href="#" data-url="demo">Try demo</a> <!-- TODO: fix vertical alignment -->
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <div class="header">Company</div>
                        <div class="list">
                            <a href="#" data-url="about">About us</a>
                            <a href="#" data-url="legal">Legal</a>
                            <a href="#" data-url="contact">Contact</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header">Community</div>
                        <div class="list">
                            <a href="#" data-url="blog">Blog</a>
                            <a href="#" data-url="forum">Forum</a>
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header">Help</div>
                        <div class="list">
                            <a href="#" data-url="resources">Resources</a>
                            <a href="#" data-url="institutions">Schools</a>
                            <a href="#" data-url="faqs">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </gelato-content>

</gelato-page>