<gelato-page data-name="institutions">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header" data-url="#">{{global.title}}</div>
                <div class="item item-link" data-url="features">Features</div>
                <div class="item item-link" data-url="pricing">Pricing</div>
            </div>
            <div class="right">
                <div class="item item-button"><button type="button" class="btn btn-success">Start 7-day trial</button></div>
                <div class="item item-link" data-url="login">Login</div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <section id="section-top-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-header">Skritter for Schools</div>
                    <img src="http://placehold.it/1400x700" alt="" class="carousel-image">
                    <div class="carousel-caption">
                        <button type="button" class="btn btn-success">Purchase license</button>
                        <a id="request-trial-link" href="#">Request trial</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-features">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3 block">
                        <div class="image"><i class="icon icon-marketing-calendar"></i></div>
                        <div class="subtext">1 year subscription</div>
                    </div>
                    <div class="col-md-3 block">
                        <div class="image"><i class="icon icon-marketing-users"></i></div>
                        <div class="subtext">Individual accounts</div>
                    </div>
                    <div class="col-md-3 block">
                        <div class="image"><i class="icon icon-marketing-lists"></i></div>
                        <div class="subtext">Assign lists</div>
                    </div>
                    <div class="col-md-3 block">
                        <div class="image"><i class="icon icon-marketing-progress"></i></div>
                        <div class="subtext">Track progress</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-explanation" class="striped">
            <div class="container">
                <h1 class="title text-center">How it works</h1>
                <div class="header">Contact us for trial or purchase a license</div>
                <div class="subtext">
                    We offer a generous trial period free of change. You and your students will get free access and support with no purchasing commitment.
                </div>
                <div class="header">Choose a sign-up option</div>
                <div class="subtext">
                    <p>If your school purchases a license, we offer two options for students to create an account:</p>
                    <p>1. Get a batch of coupons that students can use to register on the site.</p>
                    <p>2. Have students sign up with a school email address.</p>
                </div>
                <div class="header">Use your curriculum</div>
                <div class="subtext">
                    Skritter already supports more than 150 textbooks, but if your institution uses a textbook we do not currently support, we will upload the first one for free with the purchase of school license.
                </div>
            </div>
        </section>
        <section id="section-pricing">
            <div class="container">
                <h1 class="title text-center">Tiered pricing</h1>
                <h3 class="subtext text-center">All prices are per year</h3>
                <div class="row text-center">
                    <div class="col-md-3">
                        <div class="quantity">1-30 students</div>
                        <div class="price">$300</div>
                        <button type="submit" class="btn btn-success">Purchase license</button>
                        <div class="trial">Includes a 7-day free trial</div>
                    </div>
                    <div class="col-md-3">
                        <div class="quantity">31-60 students</div>
                        <div class="price">$500</div>
                        <button type="submit" class="btn btn-success">Purchase license</button>
                    </div>
                    <div class="col-md-3">
                        <div class="quantity">61-150 students</div>
                        <div class="price">$800</div>
                        <button type="submit" class="btn btn-success">Purchase license</button>
                    </div>
                    <div class="col-md-3">
                        <div class="quantity">151-300 students</div>
                        <div class="price">$1,000</div>
                        <button type="submit" class="btn btn-success">Purchase license</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="quantity">300+ students</div>
                        <div class="price">$1,000 + $200</div>
                        <div class="subtext">first 300 students plus additional 100 students</div>
                        <button type="submit" class="btn btn-success">Purchase license</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-request" class="striped">
            <div class="container text-center">
                <h1 class="title">Request an obligation-free trial</h1>
                <form>
                    <div class="row">
                        <div class="col-xd-12">
                            <div class="form-group">
                                <label for="request-name">Name</label>
                                <input type="text" class="form-control" id="request-name">
                            </div>
                            <div class="form-group">
                                <label for="request-email">Email address</label>
                                <input type="text" class="form-control" id="request-email">
                            </div>
                            <div class="form-group">
                                <label for="request-phone">Phone number</label>
                                <input type="text" class="form-control" id="request-phone">
                            </div>
                            <div class="form-group">
                                <label for="request-school-name">School name</label>
                                <input type="text" class="form-control" id="request-school-name">
                            </div>
                            <div class="form-group">
                                <label for="request-school-address">School address</label>
                                <input type="text" class="form-control" id="request-school-address">
                            </div>
                            <div class="form-group">
                                <label for="request-school-type">School type</label>
                                <input type="text" class="form-control" id="request-school-type">
                            </div>
                            <div class="form-group">
                                <label for="request-when">When</label>
                                <input type="text" class="form-control" id="request-when">
                            </div>
                            <div class="form-group">
                                <label for="request-quantity">Number of students</label>
                                <input type="text" class="form-control" id="request-quantity">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Send request</button>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <div class="header">Company</div>
                        <div class="list">
                            <a href="#" data-url="about">About us</a>
                            <a href="#" data-url="legal">Legal</a>
                            <a href="#" data-url="contact">Contact</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header">Community</div>
                        <div class="list">
                            <a href="#" data-url="blog">Blog</a>
                            <a href="#" data-url="forum">Forum</a>
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header">Help</div>
                        <div class="list">
                            <a href="#" data-url="resources">Resources</a>
                            <a href="#" data-url="institutions">Schools</a>
                            <a href="#" data-url="faqs">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </gelato-content>

</gelato-page>