<div class="gelato-page list-browse">

    <!-- NAVBAR: MAIN -->
    <div id="navbar-main" class="gelato-navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
                </div>
            </div>
        </nav>
    </div>

    <!-- DIALOG: LOADING --->
    <div id="loading" class="gelato-dialog">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="example1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h1>LOADING</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT: MAIN -->
    <div id="content-main" class="gelato-content container">

        <div class="menu-column column">
            <button type="button" class="button-create-list btn btn-success">Create new list</button>
            <div class="menu-row cursor" data-url="lists/queue">Study Queue</div>
            <div class="menu-row cursor active">Browse Lists</div>
            <div class="menu-row cursor">My Lists</div>
            <div class="menu-row cursor">ChinesePod</div>
        </div>

        <div class="content-column column">
            <div class="content-header">Browse Lists</div>
            <div class="content-row text-muted">
                <div class="browse-container"></div>
            </div>
        </div>

    </div>

</div>