<gelato-page data-name="list">

    <gelato-navbar class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content class="container">
        <div class="content-block">
            <div class="row">
                <div class="col-md-2">
                    <div>Publish</div>
                    <div>Clone</div>
                    <div>Delete</div>
                    <div>Assign to group</div>
                    <div>Export</div>
                </div>
                <div class="col-md-10">
                    <div id="list-name"></div>
                    <div id="list-meta"></div>
                    <div id="list-description"></div>
                    <div id="list-tags"></div>
                    <div>Sections</div>
                    <div id="list-sections-table"></div>
                </div>
            </div>
        </div>
    </gelato-content>

</gelato-page>