<gelato-page data-name="list-section">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header">{{global.title}}</div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content class="container">
        <div class="content-block">
            <div id="list-url" data-url="">
                <i class="fa fa-chevron-left"></i>
                &nbsp;
                back to
                &nbsp;
                <span id="list-name"></span>
            </div>
            <div id="section-name"></div>
            <div id="section-rows-table"></div>
        </div>
    </gelato-content>

</gelato-page>