<div class="gelato-page list-studying">

    <!-- NAVBAR: MAIN -->
    <div id="navbar-main" class="gelato-navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
                </div>
            </div>
        </nav>
    </div>

    <!-- CONTENT: MAIN -->
    <div id="content-main" class="gelato-content container">

        <div class="content-block">
            <div class="row">

                <div class="menu-column col-xs-12 col-md-3">
                    <button type="button" class="btn btn-success" data-url="lists/create">Create new list</button>
                    <ul class="options">
                        <li class="active">Study Queue</li>
                        <li data-url="lists/browse">Browse Lists</li>
                        <li>My Lists</li>
                        <li>ChinesePod</li>
                    </ul>
                </div>

                <div class="content-column col-xs-12 col-md-9">
                    <div class="title">Study Queue</div>
                    <div class="header">Adding words from</div>
                    <div class="adding-table-container"></div>
                    <div class="header">Reviewing words from</div>
                    <div class="reviewing-table-container"></div>
                </div>

            </div>
        </div>

    </div>

</div>