<gelato-page data-name="list-browse">

    <!-- TODO: rework structure to support floating --->
    
    <!-- NAVBAR: MAIN -->
    <div id="navbar-main" class="gelato-navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
                </div>
            </div>
        </nav>
    </div>

    <!-- DIALOG: LOADING --->
    <div id="loading" class="gelato-dialog">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="example1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h1>LOADING</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT: MAIN -->
    <div id="content-main" class="gelato-content container">

       <div class="content-block">
            <div class="row">

                <div class="menu-column col-xs-12 col-md-3">
                    <button type="button" class="btn btn-success" data-url="lists/create">Create new list</button>
                    <ul class="options">
                        <li data-url="lists/queue">Study Queue</li>
                        <li class="active">Browse Lists</li>
                        <li>My Lists</li>
                        <li>ChinesePod</li>
                    </ul>
                </div>

                <div class="content-column col-xs-12 col-md-9">
                    <div class="title">Browse Lists</div>
                    <div class="list-search-input input-group">
                        <span class="input-group-addon" id="input-list-search"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Type to search by title or tag" aria-describedby="input-list-search">
                    </div>
                    <div class="lists-table-container"></div>
                </div>

            </div>
        </div>

    </div>

</gelato-page>