<gelato-page data-name="login">

    <gelato-navbar class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content class="container">
        <div class="content-block">
            <div class="response-message"></div>
            <div class="login-form">
                <form>
                    <div class="form-group">
                        <label for="field-username">Username</label>
                        <input id="field-username" type="text" class="form-control" placeholder="" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="field-password">Password</label>
                        <input id="field-password" type="password" class="form-control" placeholder="">
                    </div>
                    <div class="text-right">
                        <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </gelato-content>

</gelato-page>