<gelato-page data-name="password-reset">

    <gelato-navbar class="theme-marketing fixed-top">
        <div class="container-fluid">
            <div class="container">
                <div class="left">
                    <div class="item item-header" data-url="#">
                        <i class="fa fa-chevron-left"></i>
                        &nbsp;
                        Password Reset
                    </div>
                </div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div id="section-main" class="content-block">
            <div class="text-center text-danger">
                <div id="response-message"></div>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="login-email" class="col-sm-6 control-label">Email or username</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="login-email">
                    </div>
                </div>
                <div class="text-center">
                    <button id="reset-submit" type="submit" class="btn btn-success">Reset</button>
                </div>
            </form>
            <div class="text-center">
                <a href="#" data-url="login">Back to login</a>
            </div>
        </div>
        <div id="footer-container"></div>
    </gelato-content>

</gelato-page>