<gelato-page data-name="scratchpad">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header">{{global.title}}</div>
                <div class="item item-link" data-url="features">Features</div>
                <div class="item item-link" data-url="pricing">Pricing</div>
            </div>
            <div class="right">
                <div class="item item-button" data-url="signup"><button type="button" class="btn btn-success">Start 7-day trial</button></div>
                <div class="item item-link" data-url="login">Login</div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div class="container">
            <div id="prompt-container"></div>
        </div>
    </gelato-content>

</gelato-page>