<gelato-page data-name="scratchpad">

    <!-- NAVBAR: MAIN -->
    <gelato-navbar class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-arrow-left"></i></a>
                <strong class="navbar-brand text-uppercase">{{scratchpad.title}}</strong>
            </div>
        </div>
    </gelato-navbar>

    <!-- CONTENT: MAIN -->
    <gelato-content class="container"></gelato-content>

</gelato-page>