<gelato-page data-name="signup">

    <gelato-navbar class="fixed-top">
        <div class="container-fluid">
            <div class="container">
                <div class="left">
                    <div class="item item-header" data-url="#">
                        <i class="fa fa-chevron-left"></i>
                        &nbsp;
                        Signup
                    </div>
                </div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div class="container">
            <div id="section-title" class="row text-center">
                <div class="col-xs-12">
                    <div class="header">Sign up for your one week free trial</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="main-block" class="content-block">
                <div class="row">
                    <div id="section-form" class="col-md-7">
                        <form class="form-horizontal">
                            <div class="header first">Create your account</div>
                            <div class="form-group">
                                <label for="signup-username" class="col-sm-5 control-label">Username</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="signup-username" placeholder="Skrittler">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-email" class="col-sm-5 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="signup-email" placeholder="asdf@asdf.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-password1" class="col-sm-5 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="signup-password1" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-password2" class="col-sm-5 control-label">Confirm password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="signup-password2" placeholder="Password">
                                </div>
                            </div>
                            <div class="header">Choose plan</div>
                            <div class="form-group">
                                <label for="signup-plan" class="col-sm-5 control-label">Plan</label>
                                <div class="col-sm-7">
                                    <select id="signup-plan" class="form-control" name="signup-plan">
                                        <option value="1-month">$14.99 / 1 month</option>
                                        <option value="6-month">$59.99 / 6 month</option>
                                        <option value="12-month">$99.99 / 1 year</option>
                                        <option value="24-month">$179.99 / 2 year</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-coupon" class="col-sm-5 control-label">Coupon</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="signup-coupon" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-payment-method" class="col-sm-5 control-label">Payment method</label>
                                <div id="signup-payment-method" class="col-sm-7">
                                    <label class="radio-inline">
                                        <input type="radio" name="payment-method" id="method-credit" value="credit">
                                        Credit card
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="payment-method" id="method-paypal" value="paypal">
                                        PayPal
                                    </label>
                                    <div id="accepted-payments">
                                        <img src="assets/images/signup/credit_cards.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-card-number" class="col-sm-5 control-label">Card number</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="signup-card-number" placeholder="1234 1234 1234 1234">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup-password2" class="col-sm-5 control-label">Expiration date</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>1 - January</option>
                                        <option>2 - February</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option>2015</option>
                                        <option>2016</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="signup-submit" type="submit" class="btn btn-success">Sign up</button>
                            </div>
                            <div id="trial-notice">
                                <strong>Your free trial will last until <span id="trial-expire-date"></span>.</strong>
                                &nbsp;
                                You can cancel your subscription in your account page at any time. We will notify you by email one day before you are billed.
                            </div>
                        </form>
                    </div>
                    <div id="section-information" class="col-md-5">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="assets/images/signup/pasden.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="testimonial-subtext">
                                    Skritter is the big innovation in online Chinese writing practice.
                                </div>
                                <div class="testimonial-name">John Pasden, ChinesePod.com</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="assets/images/signup/chloe.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="testimonial-subtext">
                                    Skritter makes it fun and easy to practice writing Chinese!
                                </div>
                                <div class="testimonial-name">Chloe Fan, CMU grad student</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="assets/images/signup/tortue.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="testimonial-subtext">
                                    I learned more during the past 5 months than the past 3 years.
                                </div>
                                <div class="testimonial-name">Jean-Francois Amadei, student</div>
                            </div>
                        </div>
                        <hr>
                        <div id="trial-highlight">
                            <div class="title">One week free trial</div>
                            <ul>
                                <li>
                                    <div class="header">No charge until after your trial</div>
                                    <div class="subtext">See if Skritter works for you.</div>
                                </li>
                                <li>
                                    <div class="header">Cancel anytime - easy</div>
                                    <div class="subtext">One click to unsubscribe.</div>
                                </li>
                                <li>
                                    <div class="header">100% money back guarantee</div>
                                    <div class="subtext">Not satisfied? Just let us know.</div>
                                </li>
                                <li>
                                    <div class="header">We don't store credit cards</div>
                                    <div class="subtext">We use Authorize.Net, the largest payment gateway on the web. Your credit card information is safe.</div>
                                </li>
                            </ul>
                            <div class="text-center">
                                <img id="authorize-badge" src="assets/images/signup/secure.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-policy" class="container">
            <div class="content-block">
                <div class="policy-row">
                    <strong>Refund Policy:</strong>
                    &nbsp;
                    If you are unsatisfied with your subscription for any reason, let us know and we will issue you a full refund, no questions asked. Just <a href="#" data-url="contact">contact us</a>; we'll make you happy.
                </div>
                <div class="policy-row">
                    Note: We cannot issue refunds for Apple purchases. Sorry, but they won't let us! Please try <a href="http://www.labnol.org/software/itunes-app-store-refunds/13838/" target="_blank">these instructions</a> to get refunds for any purchase made through an iOS device.
                </div>
                <div class="policy-row">
                    Also, we cannot make refunds directly to your card that are too old (more than three months). If this is the case, we can refund older payments via PayPal.
                </div>
                <div class="policy-row">
                    <strong>Downtime Policy:</strong>
                    &nbsp;
                    If you have been unable to use Skritter due to a bug in the system, let us know and we will extend your account by the number of days it was unusable.
                </div>
                <div>
                    For <strong>institutional purchasing</strong>, <a href="#" data-url="institutions">click here</a>.
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <div class="header">Company</div>
                        <div class="list">
                            <a href="#" data-url="about">About us</a>
                            <a href="#" data-url="legal">Legal</a>
                            <a href="#" data-url="contact">Contact</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header">Community</div>
                        <div class="list">
                            <a href="#" data-url="blog">Blog</a>
                            <a href="#" data-url="forum">Forum</a>
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header">Help</div>
                        <div class="list">
                            <a href="#" data-url="resources">Resources</a>
                            <a href="#" data-url="institutions">Institutions</a>
                            <a href="#" data-url="faqs">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </gelato-content>

</gelato-page>