<gelato-page data-name="stats">

    <!-- NAVBAR: MAIN -->
    <div id="navbar-main" class="gelato-navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><strong>{{global.title}}</strong></a>
                </div>
            </div>
        </nav>
    </div>

    <!-- CONTENT: MAIN -->
    <div id="content-main" class="gelato-content container">

        <div id="navigation-section" class="content-section">
            <div id="link-summary" class="navigation-text" data-url="stats/summary">Summary</div>
            <div id="link-timeline" class="navigation-text" data-url="stats/timeline">Timeline</div>
        </div>

        <div id="summary-section" class="content-section">

            <div class="row">

                <div class="col-md-6">
                    <div class="content-block">
                        <div class="block-label">All Time</div>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <div><span class="items-reviewed">0</span> <span class="items-reviewed-label">characters</span></div>
                                <div><span class="items-added">0</span> <span class="items-added-label">total reviews</span></div>
                            </div>
                            <div class="col-xs-4">
                                <canvas class="items-learned-donut-container"></canvas>
                            </div>
                            <div class="col-xs-4 text-center">
                                <div><span class="items-reviewed">0</span> <span class="items-reviewed-label">words</span></div>
                                <div><span class="items-added">0</span> <span class="items-added-label">days studied</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="content-block">
                        <div class="block-label">Hardest Items</div>
                        <div class="hardest-row hardest-character-row">
                            <div class="hardest-character-label text-uppercase">Character</div>
                            <div class="hardest-character"></div>
                            <div class="hardest-character-review-count"></div>
                        </div>
                        <div class="hardest-row hardest-word-row">
                            <div class="hardest-word-label text-uppercase">Word</div>
                            <div class="hardest-word"></div>
                            <div class="hardest-word-review-count"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-8">
                    <div class="content-block">
                        <div class="block-label">Last 365 Days</div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content-block">
                        <div class="block-label">Best Day</div>
                    </div>
                </div>

            </div>

        </div>

        <div id="timeline-section" class="content-section">

            <div class="row">

                <div class="col-xs-12">
                    <div class="content-block text-center"></div>
                </div>

            </div>

        </div>

    </div>

</gelato-page>