@import "../../styles/_variables";

gelato-page[data-name='mobile-words-starred'] {
  background: $background-primary;
  padding-top: 100px;

  img {
    max-width: 100%;
  }

  .table-oversized-wrapper {
    margin-top: 30px;
  }

  .glyphicon-star {
    color: $green5;
  }

  .star-td {
    width: 10%;
  }

  .word-td {
    width: 70%;
  }

  .writing-td {
    width: 10%;
  }

  .reading-td {
    width: 10%;
  }

  .definition-td {
    width: 50%;
  }

  .date-starred-td {
    width: 20%;
  }

  .main-content {
    border-radius: 0px;
    padding: 20px 40px;
  }

  #load-more-btn {
    margin: 0 auto;
    max-width: 300px;
  }

  .no-date {
    color: $grey2;
    margin-left: 30px;
  }

  .not-starred {
    color: $grey3;
  }

  .vocab-row {
    cursor: pointer;
  }

  #load-more-btn {
    margin: 0 auto;
    max-width: 150px;
  }

  #nav-links {
    background: $grey7;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 7002;

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;

      a {
        color: $white3;
      }

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;
      }
    }
  }

}
