@import "../../styles/_variables";

gelato-page[data-name='mobile-words-mnemonics'] {
  background: $background-primary;
  padding-top: 100px;

  img {
    max-width: 100%;
  }

  .table-oversized-wrapper {
    margin: 15px -15px 0;
  }

  .checkbox-td {
    width: 10%;
  }

  .word-td {
    width: 70%;
  }

  .writing-td {
    width: 10%;
  }

  .reading-td {
    width: 10%;
  }

  .mnemonic-td {
    width: 50%;
  }

  .edited-td {
    width: 20%;
  }

  .vocab-row {
    cursor: pointer;
  }

  .main-content {
    border-radius: 0;
    padding: 15px;
  }

  #load-more-btn {
    margin: 0 auto;
    max-width: 150px;
  }

  #nav-links {
    background: $wood7;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 7002;

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;

      a {
        color: $sand1;
      }

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;

        a {
          color: $white;
        }
      }
    }
  }
}
