@import "../../styles/_variables";

gelato-page[data-name='mobile-words-all'] {
  background: $background-primary;
  padding-top: 100px;

  img {
    max-width: 100%;
  }

  td .glyphicon {
    display: none;
  }

  td.active .glyphicon {
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }

  .checkbox-td {
    width: 10%;
  }

  .table-oversized-wrapper {
    margin: 30px -15px;
  }

  .definition-td {
    width: 25%;
  }

  .input-group {
    width: 100%;
  }

  .last-td {
    width: 20%;
  }

  .next-td {
    width: 20%;
  }

  .reading-td {
    width: 15%;
  }

  .word-td {
    width: 50%;
  }

  .writing-td {
    width: 10%;
    color: $green6;
    font-size: 16px;
    cursor: pointer;
  }

  #load-more-btn {
    margin: 0 auto;
    max-width: 150px;
  }

  #nav-links {
    background: $grey8;
    margin-bottom: 15px;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 7002;

    .nav-option {
      padding: 4px 0;
      margin-bottom: 4px;

      a {
        color: $sand1;
      }

      &.selected {
        margin-bottom: 0;
        border-bottom: 4px solid $green4;

        a {
          color: $white;
        }
      }
    }
  }

  input#word-search-input {
    &[type='text'] {
      border-radius: 25px !important;
    }
  }

  .note {
    text-align: center;
    position: relative;
    top: 30px;
    color: #AAA;
  }
}
