gelato-component(data-name='prompt-canvas-reading')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if prompt.part === 'rdng' && reviews

    if (app.isChinese())
      .writing.text-chinese= reviews.vocab.get('writing')
    else
      .writing.text-japanese= reviews.vocab.get('writing')

    if reviews.isComplete()
      .answer!= reviews.vocab.getReading()
    else
      .question What's the reading?
