/*** APPLICATION ***/
html, body { height: 100%; }
body { padding-top: 45px; }
.application-container {
    height: 100%;
    position: relative;
}


/*** NAVBAR ***/
.navbar-icon {
    color: #ffffff;
    font-size: 28px;
}
.navbar ul > li {
    cursor: pointer;
    height: 45px;
    padding-top: 7.5px;
    text-align: center;
    width: 55px;
}
.navbar ul > li:hover { background-color: #009fd4; }
@media (max-width: 767px) {
    .navbar {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar .container {
        padding-right: 0;
        width: 100%;
    }
    .navbar-header { float: left; }
    .navbar-nav { margin: 0; }
    .navbar-nav li { float: left; }
    .navbar-left { float: left; }
    .navbar-right { float: right; }
}


/*** NAVBAR: SIDEBAR TOGGLE ***/
.navbar-sidebar-toggle {
    background: transparent none;
    border: none;
    float: left;
    margin: 5.5px 15px 5.5px -20px;
    padding: 9px 10px;
    position: relative;
}
.navbar-sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-sidebar-toggle:focus {
    border: none;
    outline: none;
}
.navbar-sidebar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
.navbar-sidebar-toggle.active { margin: 5.5px 20px 5.5px -25px; }
.navbar-inverse .navbar-sidebar-toggle .icon-bar { background-color: #ffffff; }
.navbar-inverse .navbar-sidebar-toggle { border-color: transparent; }
.navbar-inverse .navbar-sidebar-toggle:hover,
.navbar-inverse .navbar-sidebar-toggle:focus { background-color: transparent; }
.navbar .navbar-sidebar-toggle:hover .icon-bar { background-color: #ffffff; }


/*** PAGES: LANDING ***/
.landing-logo {
    margin: 0 auto;
    max-height: 300px;
    padding-left: 10%;
}


/*** SIDEBARS ***/
.sidebar {
    background-color: #ffffff;
    border-right: 2px solid #222222;
    display: none;
    height: 100%;
    overflow-y: auto;
    margin-top: 45px;
    position: fixed;
    top: 0;
    width: 250px;
}