@import "../../../styles/variables";

gelato-component[data-name="prompt-input-canvas"] {

  cursor: pointer;
  position: relative;

  #canvas-definition {
    padding-top: 50px;
    text-align: center;
    .answer {
      color: #404851;
      font-family: $font-muli;
      font-size: 18px;
      font-weight: 300;
    }
    .question {
      color: #b2b3b4;
      font-family: $font-slab;
      font-size: 28px;
      font-weight: 300;
    }
    .writing {
      color: #333950;
      font-size: 120px;
    }
  }

  #canvas-message {
    bottom: 5px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  #canvas-navigation {
    i {
      font-size: 64px;
      opacity: 0.2;
      position: absolute;
      top: 190px;
      &:hover { opacity: 0.6; }
    }
    #navigate-left { left: -50px; }
    #navigate-right { right: -50px; }
    @media (max-width: 1280px) {
      i { top: 165px; }
      #navigate-left { left: -30px; }
      #navigate-right { right: -30px; }
    }
  }

  #canvas-reading {
    padding-top: 50px;
    text-align: center;
    .answer {
      color: #404851;
      font-family: $font-muli;
      font-size: 18px;
      font-weight: 300;
    }
    .question {
      color: #b2b3b4;
      font-family: $font-slab;
      font-size: 28px;
      font-weight: 300;
    }
    .writing {
      color: #333950;
      font-size: 120px;
    }
  }

  #input-canvas {
    position: absolute;
    z-index: 5000;
  }

}