<div class="mobile page page-export">

    <div class="font-preloader">力</div>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>

    <div class="container content-container no-margins no-padding">
        <textarea id="output"></textarea>
    </div>

</div>