<div class="mobile no-overflow page page-admin-param-editor">

    <div class="font-preloader">力</div>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-left"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="no-hover"><button id="button-method" type="button" class="btn btn-lg btn-default">Auto</button></li>
                <li class="no-hover"><button id="button-clear" type="button" class="btn btn-lg btn-default">Clear</button></li>
                <li class="no-hover"><button id="button-backward" type="button" class="btn btn-lg btn-primary"><i class="fa fa-backward"></i></button></li>
                <li class="no-hover"><button id="button-forward" type="button" class="btn btn-lg btn-primary"><i class="fa fa-forward"></i></button></li>
            </ul>
        </div>
    </div>

    <div id="content" class="container-fluid content-container no-margins">
        <div class="detail-container">
            <textarea id="param-output"></textarea>
        </div>
        <div class="canvas-container"></div>
    </div>

</div>