<div class="desktop page page-dashboard">

    <div class="font-preloader">力</div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="button-sync" class="navbar-item"><i class="fa fa-refresh navbar-icon"></i></li>
            </ul>
        </div>
    </div>

    <div class="container content-container padding-top">

        <div class="row">
            <div class="col-md-6">
                <div class="content-box fixed-150">
                    <div class="media">
                        <div class="cursor pull-left navigate user-avatar" data-url="account"></div>
                        <div class="media-body">
                            <h3 class="media-heading user-displayname"></h3>
                            <button type="button" class="btn btn-info navigate spacing" data-url="study">Study</button>
                            <button type="button" class="btn btn-default navigate spacing" data-url="settings">Settings</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-box fixed-150">
                    <h3><i class="fa fa-line-chart"></i> Stats</h3>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <h5 class="text-muted">DUE</h5>
                            <h3 class="stats-due"></h3>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h5 class="text-muted">NEW</h5>
                            <h3 class="stats-new"></h3>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h5 class="text-muted">TIME</h5>
                            <h3 class="stats-time">0:00</h3>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h5 class="text-muted">STUDIED</h5>
                            <h3 class="stats-studied">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content-box">
                    <h3><i class="fa fa-book"></i> Lists <button type="button" class="btn btn-sm btn-default" disabled>Manage</button></h3>
                    <div class="list-container"></div>
                </div>
            </div>
        </div>

    </div>

</div>