<div class="desktop page page-dashboard">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="navbar-item"><i class="fa fa-refresh navbar-icon"></i></li>-->
            </ul>
        </div>
    </div>

    <div class="container content-container padding-top">

        <div class="row">
            <div class="col-md-12">
                <div class="content-box">
                    <div class="media">
                        <div class="pull-left user-avatar"></div>
                        <div class="media-body">
                            <h3 class="media-heading user-displayname"></h3>
                            <p>You have <strong class="schedule-duecount"></strong> ready for review.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content-box">
                    <h3><i class="fa fa-book"></i> Lists</h3>
                    <div class="list-container"></div>
                </div>
            </div>
        </div>

    </div>

</div>