<div class="desktop page page-settings">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="navbar-item"><i class="fa fa-refresh navbar-icon"></i></li>-->
            </ul>
        </div>
    </div>

    <div class="container content-container padding-top">

        <div class="content-box">
            <h1 class=""><i class="fa fa-filter"></i> Filters</h1>
            <p class="lead">Use filters to temporarily disable things from study.</p>
            <div class="row">
                <div class="col-xs-6">
                    <div id="parts" class="row">
                        <div class="col-xs-12">
                            <h3>Parts</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>
                                        <span class="setting-label">Definition</span>
                                        <input type="checkbox" id="defn" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5>
                                        <span class="setting-label">Reading</span>
                                        <input type="checkbox" id="rdng" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5>
                                        <span class="setting-label">Tone</span>
                                        <input type="checkbox" id="tone" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5>
                                        <span class="setting-label">Writing</span>
                                        <input type="checkbox" id="rune" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="styles" class="row">
                        <div class="col-xs-12">
                            <h3>Styles</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>
                                        <span class="setting-label">Simplified</span>
                                        <input type="checkbox" id="simp" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5>
                                        <span class="setting-label">Traditional</span>
                                        <input type="checkbox" id="trad" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <h1 class=""><i class="fa fa-flask"></i> Adjustments</h1>
            <p class="lead">Various tweaks that change how things work.</p>
            <div id="adjustments" class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>
                                <span class="setting-label">Audio</span>
                                <input type="checkbox" id="audio" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <h5>
                                <span class="setting-label">Hide Reading</span>
                                <input type="checkbox" id="hide-reading" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <h5>
                                <span class="setting-label">Raw Squigs</span>
                                <input type="checkbox" id="raw-squigs" class="bootswitch" checked data-on-color="primary" data-off-color="default">
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <h5>
                                <span class="setting-label">Reading Style</span>
                                <input type="checkbox" id="reading-style" class="bootswitch" checked data-on-color="primary" data-on-text="Pinyin" data-off-color="info" data-off-text="Zhuyin">
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>