<div class="desktop no-overflow page page-study">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-menu toggle">
                    <div class="toggle-bars fa fa-bars"></div>
                    <div class="toggle-text navbar-title"></div>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-item no-hover">
                    <i class="fa fa-clock-o navbar-icon"></i>
                    <span id="study-timer" class="navbar-text">0:00</span>
                </li>
                <li class="navbar-item no-hover">
                    <i class="fa fa-inbox navbar-icon"></i>
                    <span id="study-count" class="navbar-text">0</span>
                </li>
            </ul>
        </div>
    </div>

    <div id="content" class="container content-container no-margins">
        <div class="prompt-container"></div>
    </div>

</div>