gelato-dialog(data-name='dialog')

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content

        .modal-header
          .pull-left
            .modal-title Are you sure?
          .pull-right
            a(href='#', data-dismiss='modal')
              i.fa.fa-times-circle-o

        .modal-body
          p Hello world!

        .modal-footer
          button#button-confirm.btn.btn-danger Confirm
          button#button-cancel.btn.btn-default Cancel
