gelato-component(data-name='prompt-vocab-reading')

  if view.reviews

    - var index = 0
    - var fillers = ['...']
    for reading in view.reviews.vocab.getReadings()
      if (fillers.indexOf(reading) === -1)
        - var review = view.reviews.at(index)
        - var classes = []
        if (review.get('maskReading'))
          - classes.push('masked')
        if (view.reviews.getPosition() === index)
          - classes.push('active')
        div.reading(class=classes.join(' '), data-position=index)
          span= reading
        - index++
      else
        div.filler
          span= reading

  else

    i.fa.fa-spinner.fa-pulse
