<div id="home-view" class="landing-page logged-out no-nav view">
    
    <div id="header">
        <h1 class="pull-left">Skritter</h1>
        <h1 id="target-language" class="pull-right text-muted"></h1>
    </div>
    
    <div id="content-container" class="container no-scroll">
        <div class="row">
            <div class="col-xs-12">
                <h3>Let's get started!</h3>
                <button id="new-user-button" type="button" class="btn btn-primary">New User</button>
                <button id="existing-user-button" type="button" class="btn btn-default login-button">Existing User</button>
            </div>
        </div>
    </div>
    
    <div id="footer"></div>
    
</div>