<div id="home-view" class="logged-in view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a class="study-button" href="#"><span class="fa fa-pencil"></span> Study</a></li>
                    <li class="pull-right"><a class="sync-button" href="#"><span class="fa fa-refresh"></span> <span class="hidden-xs">Sync</span></a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="logout-button" href="#"><span class="fa fa-power-off"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div class="row">
            <div id="summary" class="content-block col-md-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <span id="user-avatar" class="media-object"></span>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Overview</h4>
                        <p><strong><span id="user-username"></span></strong>, you currently have <strong><span id="user-items-due"></span></strong> items ready to review.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div id="lists" class="content-block col-xs-12">
                <h4>My Lists</h4>
                <div id="lists-table"></div>
            </div>
        </div>
    </div>
</div>