<div id="tone" class="prompt-container">
    <div id="top-container">
        <div class="row">
            <h4 id="prompt-style" class="text-muted"></h4>
            <!--<span id="hint-caret" class="fa fa-chevron-down pull-right"></span>-->
            <h3 id="question-text" class="text-center">What is the tone?</h3>
            <h4 id="prompt-writing" class="text-center"></h4>
            <h4 id="prompt-reading" class="text-center"></h4>
            <h4 id="prompt-definition" class="text-center"></h5>
        </div>
        <div id="hint-text" class="row">
            <!--<h4 id="prompt-reading" class="text-center"></h4>
            <h4 id="prompt-sentence" class="text-center"></h4>-->
        </div>
    </div>
    <div id="bottom-container">
        <div id="writing-area"></div>
        <div id="grading-container"></div>
    </div>
</div>