<div id="tone" class="prompt-container">
    <div id="info-section" class="content-block">
        <span id="hint-caret" class="fa fa-2x fa-chevron-down"></span>
        <div id="question-text" class="text-center">Which is the tone?</div>
        <div class="text-center"><span id="prompt-writing" class="character-font"></span><span id="prompt-reading"></span></div>
        <div id="prompt-definition" class="text-center"></div>
    </div>
    <div id="input-section" class="content-block no-padding">
        <div id="writing-area"></div>
        <div id="grading-container"></div>
    </div>
</div>