<div id="tone" class="prompt-container">
    <div id="top-container">
        <div class="row">
            <h4 id="prompt-style" class="text-muted"></h4>
            <h3 id="question-text" class="text-center"><span id="prompt-new-tag">NEW</span> What is the tone?</h3>
            <h4 class="text-center"><span id="prompt-writing" class="character-font"></span><span id="prompt-reading"></span></h4>
            <h4 id="prompt-definition" class="text-center"></h4>
        </div>
        <div id="hint-text" class="row"></div>
    </div>
    <div id="bottom-container">
        <div id="writing-area"></div>
        <div id="grading-container"></div>
    </div>
</div>