<div id="study-settings-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a id="save-button" href="#"><span class="fa fa-check"></span> Save</a></li>
                    <li><a id="cancel-button" href="#"><span class="fa fa-times"></span> Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div id="general" class="content-block">
            <h2>General</h2>
            <div class="row">
                <div class="col-xs-6">
                    <h5><span class="setting-label">Audio</span> <input type="checkbox" id="audio" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h5>
                </div>
                <div class="col-xs-6">
                    <h5><span class="setting-label">Raw Squigs</span> <input type="checkbox" id="raw-squigs" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h5><span class="setting-label">Hide Due Count</span> <input type="checkbox" id="hide-due-count" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h5>
                </div>
                <div class="col-xs-6">
                    <h5><span class="setting-label">Hide Timer</span> <input type="checkbox" id="hide-timer" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h5>
                </div>
            </div>
        </div>
        <div id="parts" class="content-block">
            <h2>Parts</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4><span class="setting-label">DEFINITION</span> <input type="checkbox" id="defn" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h4>
                </div>
                <div class="col-md-6">
                    <h4><span class="setting-label">READING</span> <input type="checkbox" id="rdng" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4><span class="setting-label">TONE</span> <input type="checkbox" id="tone" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h4>
                </div>  
                <div class="col-md-6">
                    <h4><span class="setting-label">WRITING</span> <input type="checkbox" id="rune" class="bootswitch" checked data-on-color="primary" data-off-color="default"></h4>
                </div>
            </div>
        </div>
    </div>
</div>