<div id="study-settings-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a id="save-button" href="#"><span class="fa fa-check"></span> Save</a></li>
                    <li><a id="cancel-button" href="#"><span class="fa fa-times"></span> Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div id="parts" class="content-block row">
            <h3>Parts</h3>
            <div class="col-xs-3">
                <label>Definition</label>
                <input type="checkbox" id="defn" checked data-on-color="primary" data-off-color="default">
            </div>
            <div class="col-xs-3">
                <label>Reading</label>
                <input type="checkbox" id="rdng" checked data-on-color="primary" data-off-color="default">
            </div>
            <div class="col-xs-3">
                <label>Tone</label>
                <input type="checkbox" id="tone" checked data-on-color="primary" data-off-color="default">
            </div>
            <div class="col-xs-3">
                <label>Writing</label>
                <input type="checkbox" id="rune" checked data-on-color="primary" data-off-color="default">
            </div>
        </div>
    </div>
</div>