<div id="user-account-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a class="home-button" href="#"><span class="fa fa-arrow-left"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div class="row">
            <div class="content-block col-md-6"></div>
            <div class="content-block col-md-6"></div>
        </div>
    </div>
</div>