<div id="vocab-lists-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a class="home-button" href="#"><span class="fa fa-arrow-left"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        
        <div id="search" class="content-block row">
            <div class="col-xs-12">
                <div id="sort" class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button id="sort-studying" type="button" class="btn btn-default">My Lists</button>
                    </div>
                    <div class="btn-group">
                        <button id="sort-official" type="button" class="btn btn-default">Official</button>
                    </div>
                    <div class="btn-group">
                        <button id="sort-published" type="button" class="btn btn-default">Published</button>
                    </div>
                </div>     
            </div>
        </div>
        
        <div id="lists" class="content-block">
            <div id="lists-table"></div>
        </div>
        
    </div>
</div>