<div id="vocab-list-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a id="back-button" href="#"><span class="fa fa-arrow-left"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="overview" class="content-block">
                    <h1 id="list-title"></h1>
                    <small id="list-description"></small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="sections" class="content-block">
                    <h3>Sections</h3>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>