doctype html

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Skritter - Learn to Write Chinese and Japanese Characters
  meta(name='description', content='Learn to write Chinese and Japanese characters.')
  meta(name='keywords', content='learn, chinese, japanese, language, study, flashcards, handwriting')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

  link(href='/favicon.png', rel='apple-touch-icon')
  link(href='/styles/startup.css', rel='stylesheet')
  link(href='/styles/libraries.css', rel='stylesheet')
  link(href='/styles/application.css', rel='stylesheet')

  include ./includes/tracking

body
  script(src='/js/libraries.js')
  script(src='/js/startup.js')
  script(src='/js/application.js')
  script.
    require('initialize');
