gelato-component[data-name="prompt-toolbar"] {

  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      border: none;
      box-shadow: none;
      outline: 0 !important;
    }
  }

  #option-correct { margin-top: 15px; }

  #option-show { margin-top: 10px; }

}