gelato-component(data-name="prompt-toolbar")
  .btn-group.btn-group-justified.cursor.text-center(role="group")
    .btn-group(role="group")
      button#option-teach.btn.btn-default(type="button")
        i.icon.icon-study-stroke-order
    .btn-group(role="group")
      button#option-erase.btn.btn-default(type="button")
        i.icon.icon-study-erase
    .btn-group(role="group")
      button#option-show.btn.btn-default(type="button")
        i.icon.icon-study-show
    .btn-group(role="group")
      button#option-correct.btn.btn-default(type="button")
        i.icon.icon-study-incorrect