gelato-component(data-name='vocablist-sidebar')
  a.btn.btn-fixed.btn-success(href="/vocablist/create") Create new list
  .options
    a(href="/vocablist/queue") Study Queue
    a(href="/vocablist/browse") Browse Lists
    a(href="/vocablist/my-lists") My Lists
    a(href="/vocablist/chinesepod") ChinesePod