gelato-page(data-name='vocablist-browse')
  gelato-navbar.fixed-top
    .container
      .left
        .item.item-header(data-navigate="dashboard") Skritter
  gelato-content
    .container
      .content-block
        .row
          .col-md-3
            #section-menu
              button.btn.btn-fixed.btn-success(data-navigate="vocablist/create") Create new list
              .options
                div(data-navigate="vocablist/queue") Study Queue
                .active Browse Lists
                div(data-navigate="vocablist/my-lists") My Lists
                div(data-navigate="vocablist/chinesepod") ChinesePod
          .col-md-9
            #section-content
              .title Browse Lists
              .row
                .col-md-10
                  .input-group.input-group-lg
                    span.input-group-addon
                      i.fa.fa-search
                    input#list-search-input.form-control(type="text", placeholder="Type to search by title")
                .col-md-1
                  span#list-option.glyphicon.glyphicon-th-list.layout-selector.chosen
                .col-md-1
                  span#grid-option.glyphicon.glyphicon-th-large.layout-selector
              .form-inline
                label View only:
                .checkbox
                  label
                    input#textbooks(type="checkbox" name='textbooks')
                    span Textbooks
                .checkbox
                  label
                    input#other-official-lists(type="checkbox" name='other-official')
                    span Other official lists
                //.checkbox
                  label
                    input#user-created-lists(type="checkbox" name='custom')
                    span User-created lists

            #vocablist-container


