gelato-page(data-name='vocablist-queue')
  #navbar-container
  gelato-content
    .container
      .content-block
        .row
          .col-md-3
            #section-menu
              button.btn.btn-fixed.btn-success(data-navigate="vocablist/create") Create new list
              .options
                .active Study Queue
                a(href="/vocablist/browse") Browse Lists
                a(href="/vocablist/my-lists") My Lists
                a(href="/vocablist/chinesepod") ChinesePod
          .col-md-9
            #section-content
              .title Study Queue
              .header Adding words from
              #adding-container
              .header Reviewing words from
              #reviewing-container