gelato-dialog(data-name='confirm-generic')

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content

        .modal-header
          .pull-left
            .modal-title!= view.dialogTitle
          .pull-right
            a(href='#', data-dismiss='modal')
              i.fa.fa-times-circle-o

        .modal-body!= view.dialogBody

        .modal-footer
          button#button-confirm.btn(class=view.dialogButtonConfirmClass)!= view.dialogButtonConfirm
          if view.showButtonCancel
            button#button-cancel.btn.btn-default!= view.dialogButtonCancel
