@import "../../styles/_variables";

gelato-page[data-name='dashboard'] {
  background: $background-primary;
  padding-top: 75px;

  #first-row .content-block {
    height: 300px;
  }

  .feedback-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 55px;
    writing-mode: vertical-lr;
    text-orientation: inherit;
    transform: rotate(-180deg);
    letter-spacing: 1px;
    padding: 20px 10px;
    background: #262b30;
    cursor: pointer;
    margin-top: 60px;
    color: #fbfafc;
    z-index: 5000;
  }

  .content-block {
    padding-top: 30px;
    .options {
      i {
        cursor: pointer;
      }
      color: $grey2;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .title {
      font-family: $font-slab;
      font-size: 12px;
      font-weight: 400;
      left: 20px;
      position: absolute;
      text-transform: uppercase;
      top: 10px;
    }
  }

  #vocablist-table-container {
    margin-top: 15px;
  }

  .margin-top {
    margin-top: 50px;
  }
}

.mobile {
  gelato-page[data-name='dashboard'] {
    padding-top: 65px;
  }
}