gelato-page(data-name='dashboard')
  if !app.isMobile()
    #feedback-btn.feedback-btn Feedback
  .container
    #subscription-notice

    .row#first-row
      .col-md-6
        .content-block
          .content
            #dashboard-goal-container

      .col-md-3
        .content-block
          .title= app.locale('pages.dashboard.thisMonth')
          .content
            #dashboard-month-container

      .col-md-3
        .content-block
          .title= app.locale('pages.dashboard.allTime')
          .content
            #dashboard-total-container

    .row
      .col-xs-12
        .content-block
          .title= app.locale('pages.dashboard.lists')
          .content
            #dashboard-queue-container
