gelato-page(data-name='dashboard')

  .container
    #subscription-notice
    #turkish-notice Notice: New target language being added for current Skritter subscribers&nbsp;
      b
        a(href="turkish") More info

    .row#first-row
      .col-md-6
        .content-block
          //.title Daily Goal
          .content
            #dashboard-goal-container

      .col-md-3.hidden-sm.hidden-xs
        .content-block
          .title= app.locale('pages.dashboard.thisMonth')
          .content
            #dashboard-month-container

      .col-md-3.hidden-sm.hidden-xs
        .content-block
          .title= app.locale('pages.dashboard.allTime')
          .content
            #dashboard-total-container

    .row
      .col-xs-12
        .content-block
          .title= app.locale('pages.dashboard.lists')
          .content
            #dashboard-queue-container
