@import "../../styles/_variables";

gelato-page[data-name='dashboard'] {
  background: $background-primary;
  padding-top: 75px;

  #first-row .content-block {
    height: 300px;
  }

  .feedback-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 55px;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-orientation: inherit;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    letter-spacing: 1px;
    padding: 20px 10px;
    background: #262b30;
    cursor: pointer;
    margin-top: 60px;
    color: #fbfafc;
    z-index: 5000;
  }

  .content-block {
    padding-top: 30px;
    .options {
      i {
        cursor: pointer;
      }
      color: $grey2;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .title {
      font-family: $font-slab;
      font-size: 12px;
      font-weight: 400;
      left: 20px;
      position: absolute;
      text-transform: uppercase;
      top: 10px;
    }
  }

  #vocablist-table-container {
    margin-top: 15px;
  }

  .margin-top {
    margin-top: 50px;
  }

  .rating-notice {
    font-weight: 300;
    font-size: 16px;
    text-align: center;

    .content {
      line-height: 1.5;
      padding: 15px 5px;
      text-align: left;
    }

    button {
      margin-right: 15px;
      margin-top: 15px;
    }
  }
}

.mobile {
  gelato-page[data-name='dashboard'] {
    padding-top: 65px;

    #first-row {
      .content-block {
        padding-top: 15px;
        height: auto;

        gelato-component {
          margin-top: 0;
        }
      }
    }
  }
}
