@import "../../styles/variables";

gelato-page[data-name='dashboard'] {

  .content-block {
    height: 300px;
    padding-top: 30px;
    .options {
      i { cursor: pointer; }
      position: absolute;
      right: 20px;
      top: 10px;
    }
    .title {
      left: 20px;
      position: absolute;
      text-transform: uppercase;
      top: 10px;
    }
  }

}
