@import "../../styles/_variables";

gelato-page[data-name='dashboard'] {

  background: $background-primary;
  padding-top: 75px;

  #first-row .content-block {
    height: 300px;
  }

  .content-block {
    padding-top: 30px;
    .options {
      i {
        cursor: pointer;
      }
      color: $grey2;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .title {
      font-family: $font-slab;
      font-size: 12px;
      font-weight: 400;
      left: 20px;
      position: absolute;
      text-transform: uppercase;
      top: 10px;
    }
  }

  #vocablist-table-container {
    margin-top: 15px;
  }

  .margin-top {
    margin-top: 50px;
  }

  .dark {
    background: $grey7;
    color: $white5;
  }

  .push-left {
    float: left;
    display: inline-block;
  }

  .push-right {
    display: inline-block;
    float: right;
  }

  .bold {
    display: inline-block;
    font-size: 18px;
  }

  .expiration-description {
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
    color: $white7;
  }

  .subscription-notice-area {
    padding: 15px 25px;
  }

  .hide-sub-expired {
    margin-left: 25px;
    color: $green5;
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    .bold {
      display: block;
    }

    .push-left {
      width: 100%;
      text-align: center;
    }

    .push-right {
      margin-top: 15px;
    }
  }
}
