gelato-page(data-name='dashboard')
  gelato-navbar.fixed-top
    .container-fluid
      .container
        .left
          .item.item-header(data-navigate="") Skritter
  gelato-content
    .container
      .row
        .col-md-6
          .content-block
            .title Daily Goal
            .options
              i.fa.fa-2x.fa-gear(data-dialog="goal-settings")
            .content
              #dashboard-goal-container
        .col-md-3
          .content-block
            .title This Month
            .content
              #dashboard-month-container
        .col-md-3
          .content-block
            .title All Time
            .content
              #dashboard-total-container
      .row
        .col-xs-12
          .content-block
            .title List Queue
            .content
              #dashboard-list-container
