@import "../../styles/_variables";

bootstrap-dialog[data-name="progress"] {

  .modal-content {
    background-color: $white5;
  }

  .modal-dialog {
    width: 300px;
  }



}

.mobile {

  bootstrap-dialog[data-name="progress"] {
    .modal-content {
      border: none;
    }
    .modal-dialog {
      width: 100%;
    }
  }

}
