@import "../../../styles/_variables";

gelato-component[data-name="study-prompt-canvas"] {
  #input-canvas {
   z-index: 3;
  }

  #display-canvas {
    z-index: 2;
  }

  .prompt-canvas {
    left: 0;
    position: absolute;
    top: 0;
  }
}
