@import "../../../styles/_variables";

gelato-component[data-name="prompt-canvas"] {

  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  #canvas-message {
    bottom: 5px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  #canvas-navigation {
    font-size: 64px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6000;
    i {
      opacity: 0.2;
      position: absolute;
      &:hover { opacity: 0.6; }
      &#navigate-next { right: -50px; }
      &#navigate-previous { left: -50px; }
    }
    @media (max-width: 1280px) {
      i {
        &#navigate-next { right: -30px; }
        &#navigate-previous { left: -30px; }
      }
    }
  }

  #input-canvas {
    position: absolute;
    z-index: 5000;
  }

}