gelato-component(data-name="prompt-canvas").cursor.no-select
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews

    canvas#input-canvas

    #canvas-navigation
      if !reviews.isFirst()
        i#navigate-previous.fa.fa-angle-left
      i#navigate-next.fa.fa-angle-right

    #canvas-definition-container

    #canvas-reading-container
