@import "../../../../styles/_variables";

gelato-component[data-name='mobile-study-prompt-vocab-reading'] {

  font-size: 20px;
  font-weight: 300;

  button {
    background-color: $grey1;
    border-radius: 4px;
  }

  .reading {
    color: $grey4;
    cursor: pointer;
    display: inline;
    margin-right: 2px;
    padding: 2px 4px;
    &.active {
      background-color: $wood1 !important;
    }
    &.masked {
      background-color: $white5;
    }
    &.masked span {
      visibility: hidden;
    }
  }

  .filler {
    display: inline;
    margin-right: 2px;
  }

}
