gelato-component(data-name='style-prompt-vocab-reading')
  - var prompt = view.prompt;

  if prompt.review
    - var review = prompt.review;
    - var classes = [];
    - var index = 0;


    case review.get('part')

      when 'rune'
        if review.isChinese()
          for data in review.getPromptWritingArray()
            div.reading(data-position=index)
              if data.isReadingHidden()
                button.show-reading.btn.btn-sm.btn-default show
              else
                if review.isChinese()
                  span= app.fn.pinyin.toTone(data.get('reading'))
                else
                  span= data.get('reading')
            - index++;
        else
          div.reading(data-position=0)
            span= review.vocab.get('reading')
