@import "../../styles/variables";

gelato-dialog[data-name="vocablist-sections-edit"] {

  #add-section-btn {
    margin-bottom: 10px;
  }

  .glyphicon-option-vertical {
    color: $grey3;
  }

  input {
    width: 60%;
    margin-right: 20px;
    display: inline-block;
  }
}
