gelato-page(data-name='about')
  gelato-navbar.theme-marketing.fixed-top
    .container
      .left
        .item.item-header(data-url='#') {{global.title}}
        .item.item-link(data-url='features') Features
        .item.item-link(data-url='pricing') Pricing
      .right
        .item.item-button
          button.btn.btn-success(type='button') Start 7-day trial
        .item.item-link(data-url='login') Login
  gelato-content
    .container
      #section-quote.row.text-center
        .col-xs-12
          .quote "Skritter is the big innovation in online Chinese writing practice."
          .author -- John Pasden, ChinesePod
    .container
      #main-block.content-block
        .row
          #section-content.col-md-8
            .header The story behind Skritter
            .subtext
              p
                | The idea for Skritter was formed at around 3 AM in a dorm room in Beijing. It was Nick's first visit to China, and he was leaving in four hours. He was sick, sleep deprived, and mulling over how little Chinese he knew. One of his friends had stayed up all night playing a Nintendo DS game called "Trauma Center: Under the Knife". Basically the player performs surgery in ninja-infested combat situations.
              p
                | But it was the way the game was played that interested Nick. Players used a stylus to draw incisions on the screen. Now, if only that kind of writing could be applied to learning Chinese characters.
              p
                | Back in the states, Nick recruited George (the roommate) and Scott (the friend) to join him in his crazy endeavor. The trio have been working on Skritter since June 2008, adding the fine teammates you see on the right along the way.
              p
                | Check out what a Beijing dorm room fever dream has created and learn Chinese characters and Japanese characters the Skritter way!
            .header Why "Skritter"?
            .subtext
              p
                | Actually, we've been asked that question quite a lot, so we've made this handy little graphic to explain it visually:
              img(src='assets/images/name_breakdown.png', alt='')
            .header Our Learning Philosophy
            .subtext
              p
                | Skritter is a focused learning tool. Our intention is not for Skritter to teach every	aspect of Chinese and Japanese. We want Skritter to help you learn and remember Chinese and Japanese characters better than anything else. We've done a lot of math to optimize your learning rate while letting you study anything--you learn the words that are important to you, as fast as possible. And we won't stop making Skritter better until Chinese and Japanese are easier than French.
            .header Our Company Philosophy
            .subtext
              p
                | We have a very simple company philosophy: keep costs low, listen to customers, and release early and often. We use money like Scrooge McDuck, we update the site often, we try new features as soon they're just usable, and we listen and respond personally to customer comments and problems. We love what we do, and we are fortunate enough to be doing what we love.
          #section-team.col-md-4
            .header The Team
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name Jake Gill
                .employee-subtext
                  | Director of Skritter and master's student for Teaching Chinese.
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name Josh McFarland
                .employee-subtext
                  | Lead developer and creator of the Android app.
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name Jeremy Arns
                .employee-subtext
                  | Budding developer and our Japanese guru.
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name Olle Linge
                .employee-subtext
                  | Educator from Sweden, master blogger, and master's student for Teaching Chinese.
            .header Co-founders
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name Nick Winter
                .employee-subtext
                  | Co-founder and adviser of Skritter.
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name Scott Erickson
                .employee-subtext
                  | Co-founder and adviser of Skritter.
            .media
              .media-left
                a(href='#')
                  img.media-object.img-circle(src='http://placehold.it/70x70', alt='')
              .media-body
                .employee-name George Saines
                .employee-subtext
                  | Co-founder and adviser of Skritter.
    #footer-container