gelato-component[data-name="prompt-grading"] {

  margin-bottom: 30px;

  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #b2b3b4;
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: #b2b3b4;
      outline: 0 !important;
    }
    &.selected {
      &.grade1 { color: $grade1; }
      &.grade2 { color: $grade2; }
      &.grade3 { color: $grade3; }
      &.grade4 { color: $grade4; }
    }
    .grade-text {
      font-family: $font-slab;
      font-size: 12px;
      font-weight: 300;
    }
    .grade-value {
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
    }
  }

}