@import "../../styles/variables";

bootstrap-navbar[data-name='marketing'] {

  img { height: 30px; }

  .navbar-header {
    a {
      color: $white1;
      text-decoration: none;
      &:hover { color: $white5; }
    }
  }

  .navbar-nav {
    a {
      color: $white1;
      text-decoration: none;
      &:hover { color: $white5; }
    }
    .dropdown li {
      a { color: $grey7; }
    }
  }

}
