gelato-navbar(data-name='marketing').fixed-top
  .container
    .left
      a.item.item-header(href="/") Skritter
      a.item.item-link(href="/features") Features
      a.item.item-link(href="/signup") Signup
    .right
      a.item.item-link(href="/login") Login
