gelato-component(data-name='prompt-vocab-decomp')
  - var prompt = view.prompt;
  - var reviews = view.prompt.reviews;

  if reviews
    - var decomp = reviews.vocab.getDecomp();

    if decomp && !decomp.get('atomic')
      - var children = decomp.get('Children');

      label Decompositions

      div.value
        if view.reveal || reviews.isComplete()
            for child in children
              .child
                span.writing= child.writing
                | &nbsp;
                span.reading= app.isChinese() ? app.fn.pinyin.toTone(child.reading) : child.reading
                | &nbsp;
                if child.definitions[app.user.get('sourceLang')]
                  span.definition= child.definitions[app.user.get('sourceLang')]
                else
                  span.definition= child.definitions['en']
        else
            button#show-decomp.btn.btn-default show