@import "../../../../styles/_variables";

gelato-component[data-name="mobile-study-prompt-part-rdng"] {

  &.noclick {
    cursor: default;

    // just above the canvas if we're supposed to be able to type and select
    //stuff inside of this component
    z-index: 5003;
  }

  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;

  img {
    display: none;
  }

  .answer {
    color: $grey5;
    font-family: $font-ubuntu;
    font-size: 2.75vh;
    font-weight: 300;
    margin: 0 10%;

    .definition {
      color: $white6;
      margin-top: 15px;
    }

    .reading {
      border: 1px solid $grey5;
      padding: 10px;
    }
  }

  .question {
    color: $grey5;
    font-family: $font-slab;
    font-size: 28px;
    font-weight: 300;
    margin: 10% 10% 0 10%;
  }

  .writing {
    color: #333950;
    font-size: 64px;
  }

  .reading-prompt {
    position: relative;

  }

  .reading-prompt-input {
    font-family: $font-ubuntu;
    font-size: 24px;
    font-weight: 300;
    margin-top: 20%;

    &:focus {
      outline: none;
    }
  }

  .user-answer {
    font-family: $font-ubuntu;
    color: $grade1;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    margin: auto;
    top: 20%;
    width: 100%;
  }

  .prompt-grade-3 {
    border: 2px solid $grade3;
    color: $grade3;
    box-shadow: 0 0 8px;
  }

  .prompt-grade-1 {
    border: 2px solid $grade1;
    color: $grade1;
    box-shadow: 0 0 8px;
  }

  .grade-4 {
    color: $grade4;
  }

  .grade-3 {
    color: $grade3;
  }

  .grade-2 {
    color: $grade2;
  }

  .grade-1 {
    color: $grade1;
  }

}
