@import "../../styles/_variables";

gelato-page[data-name='institutions'] {

  padding-top: 50px;

  section {
    padding-bottom: 50px;
    padding-top: 50px;
    &.dark {
      background-color: #262b30;
    }
    &.light {
      background-color: white;
    }
  }

  #section-description {
    .header {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .subtext {
      color: #666c73;
      font-family: $font-ubuntu;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 40px;
    }
    .title {
      color: #838f98;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 36px;
      margin-top: 75px;
    }
  }

  #section-features {
    .image {
      margin-bottom: 35px;
    }
    .subtext {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 24px;
      font-weight: 300;
    }
  }

  #section-header {
    margin-bottom: 50px;
    padding-top: 0;
    .carousel {
      img {
        width: 100%;
      }
      .carousel-buttons {
        bottom: 150px;
        position: absolute;
        width: 100%;
        z-index: 1000;
      }
      .carousel-header {
        color: $grey9;
        font-family: $font-slab;
        font-size: 48px;
        font-weight: 400;
        margin-top: 50px;
        position: absolute;
        width: 100%;
        z-index: 1000;
      }
    }
  }

  #section-pricing {
    .btn {
      height: 52px;
      font-family: $font-ubuntu;
      font-size: 18px;
      font-weight: 300;
      width: 184px;
    }
    .price {
      color: #404851;
      font-family: $font-ubuntu;
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 35px;
    }
    .quantity {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 35px;
    }
    .subtext {
      color: #b2b5b9;
      font-family: $font-ubuntu;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 40px;
    }
    .title {
      color: #838f98;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 50px;
    }
  }

  #section-request {
    background: $background-marketing;
    form {
      color: #838f98;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    .btn {
      height: 52px;
      font-family: $font-ubuntu;
      font-size: 18px;
      font-weight: 300;
      margin-top: 30px;
      width: 184px;
    }
    .title {
      color: #838f98;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 36px;
      margin-top: 75px;
    }
    #institution-message {
      resize: none;
    }
    #institution-request-type {
      margin-top: 45px;
    }
    #request-message {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

}
