gelato-page(data-name='institutions')

  section#section-header.light.text-center
    .carousel.slide(data-ride="carousel", data-interval="false")
      .carousel-header Skritter for Schools
      .carousel-buttons
        button#purchase-license.btn.btn-lg.btn-success Purchase license
        | &nbsp;&nbsp;&nbsp;
        button#request-trial.btn.btn-lg.btn-default Request trial
      //TODO: enable indicators and navigation with more hero images
      //ol.carousel-indicators
        li.active(data-target="#hero-slider", data-slide-to="0")
        li(data-target="#hero-slider", data-slide-to="1")
        li(data-target="#hero-slider", data-slide-to="2")
      .carousel-inner(role="listbox")
        .item.active
          img(src="/media/images/marketing_institutions_hero1.jpg", alt="")
        //.item
          img(src="http://placehold.it/900x500", alt="")
        //.item
          img(src="http://placehold.it/900x500", alt="")
      //a.left.carousel-control(href="#hero-slider", role="button", data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      //a.right.carousel-control(href="#hero-slider", role="button", data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next

  section#section-features.light
    .container
      .row.text-center
        .col-md-3.block
          .image
            i.icon.icon-marketing-calendar
          .subtext 1 year subscription
        .col-md-3.block
          .image
            i.icon.icon-marketing-users
          .subtext Individual accounts
        .col-md-3.block
          .image
            i.icon.icon-marketing-lists
          .subtext Assign lists
        .col-md-3.block
          .image
            i.icon.icon-marketing-progress
          .subtext Track progress

  section#section-description.dark
    .container
      .title.text-center How it works
      .header Contact us for trial or purchase a license
      .subtext
        | We offer a generous trial period free of change. You and your students will get free access and support with no purchasing commitment.
      .header Choose a sign-up option
      .subtext
        p
          | If your school purchases a license, we offer two options for students to create an account:
        p
          | 1. Get a batch of coupons that students can use to register on the site.
        p
          | 2. Have students sign up with a school email address.
      .header Use your curriculum
      .subtext
        | Skritter already supports more than 150 textbooks, but if your institution uses a textbook we do not currently support, we will upload the first one for free with the purchase of school license.


  section#section-pricing.light
    .container
      .title.text-center Tiered pricing
      .subtext.text-center All prices are per year
      .row.text-center
        .col-md-3
          .quantity 1-30 students
          .price $450
          button.btn.btn-success.request-purchase(type='submit', data-students='1-30') Purchase license
        .col-md-3
          .quantity 31-60 students
          .price $750
          button.btn.btn-success.request-purchase(type='submit', data-students='31-60') Purchase license
        .col-md-3
          .quantity 61-150 students
          .price $1,200
          button.btn.btn-success.request-purchase(type='submit', data-students='61-150') Purchase license
        .col-md-3
          .quantity 151-300 students
          .price $1,500
          button.btn.btn-success.request-purchase(type='submit', data-students='151-300') Purchase license
      .row
        .col-xs-12.text-center
          .quantity 300+ students
          .price $1,500 + $300
          .subtext first 300 students plus additional 100 students
          button.btn.btn-success.request-purchase(type='submit', data-students='301+') Purchase license


  section#section-request.dark
    .container
      .title.text-center Request an obligation-free trial
      #request-message.text-center
      form
        .form-group
          .row
            .col-xs-4
              label.control-label School name
              input#institution-name.form-control(type='text', name='name')
            .col-xs-8
              label.control-label School address
              input#institution-address.form-control(type='text', name='address')
        .form-group
          .row
            .col-xs-4.selectContainer
              label.control-label School type
              select#institution-type.form-control(name='type')
                option(value='college') College / University
                option(value='primary') Primary School
                option(value='secondary') Secondary School
                option(value='district') School District
                option(value='business') Business
                option(value='other') Other
            .col-xs-4.selectContainer
              label.control-label Number of students
              select#institution-number.form-control(name='number')
                option(value='1-30') 1-30 students
                option(value='31-60') 31-60 students
                option(value='61-150') 61-150 students
                option(value='151-300') 151-300 students
                option(value='301+') 301+ students
            .col-xs-4
              label.control-label When
              #institution-datepicker.input-group.date
                input#institution-when.form-control(type='text')
                span.input-group-addon
                  span.fa.fa-calendar
        .form-group
          .row
            .col-xs-4
              label.control-label Contact name
              input#institution-contact-name.form-control(type='text', name='contact-name')
            .col-xs-4
              label.control-label Contact email
              input#institution-contact-email.form-control(type='email', name='contact-email')
            .col-xs-4.selectContainer
              label.control-label Language
              select#institution-language.form-control(name='language')
                option(value='chinese') Chinese
                option(value='japanese') Japanese
                option(value='both') Both
        .form-group
          label.control-label Message (optional)
          textarea#institution-message.form-control(name='review', rows='8')
        .text-center
          #institution-request-type.form-group
            label.radio-inline
              input(type='radio', name='request-type', value='trial', checked='')
              |  Request a trial
            label.radio-inline
              input(type='radio', name='request-type', value='purchase')
              |  Purchase license
          button#request-submit.btn.btn-success(type='submit') Request
