@import "../../../../styles/_variables";

gelato-component[data-name="study-prompt-toolbar-action"] {
  height: 100%;

  .btn-wrapper {
    height: 100%;
    width: 25%;
    display: inline-block;

    button {
      height: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 0 10px;

      i {
        background-position: 50%;
        height: inherit;
        width: inherit;
      }
    }
  }

  #toolbar-stroke-order {
        width: 96%; // [the original aspect ratio] 25/26 = 96%;
      }

      #toolbar-erase {
        width: 91.6%;
      }

      #toolbar-show {
        width: 100%;
      }

      #toolbar-correct {
        width: 100%;
      }

  .btn-default {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: 10px;

    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      border: none;
      box-shadow: none;
      outline: 0;
    }
  }

}
