gelato-dialog(data-name='logout-confirm')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-body.text-center
          p.lead Are you sure you want to log out?
          button.btn.btn-lg.btn-default(data-action='no', type='button', data-dismiss='modal') No, go back.
          | &nbsp;&nbsp;
          button.btn.btn-lg.btn-danger(data-action='yes', type='button') Yes, log out!
gelato-dialog(data-name='goal-settings')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(data-action='close', type='button', data-dismiss='modal')
            span ×
          h4.modal-title.text-uppercase Daily Goal
        .modal-body.text-center
          p I want to study
          input#goal-value(type="number", value="20")
          label.radio-inline
            input(type="radio", name="goal-type", value="items", checked="checked")
            | items
          label.radio-inline
            input(type="radio", name="goal-type", value="time")
            | minutes
        .modal-footer.text-center
          button.btn.btn-success(data-action='save', type='button', data-dismiss='modal') Save