<div class="mobile no-navbar page page-list-select">

    <div class="container text-center">

        <h1>
            <i class="cursor fa fa-arrow-circle-left navigate pull-left" data-url="#"></i>
            {{account-creation.list-select.header}}
        </h1>

        <p class="text-muted">{{account-creation.list-select.message}}</p>

        <hr>

        <div class="lists-container">
            <p class="recommended-chinese">
                <strong>Recommended Lists: </strong>
                <a href="#" class="recommended-list" data-search="chinese 101">Skritter 101</a> -
                <a href="#" class="recommended-list" data-search="integrated chinese">Integrated Chinese</a> -
                <a href="#" class="recommended-list" data-search="new practical chinese reader">New Practical Chinese Reader</a> -
                <a href="#" class="recommended-list" data-search="hsk (new)">New HSK</a> -
                <a href="#" class="recommended-list" data-search="practical audio-visual chinese">Practical Audio-Visual Chinese</a> -
                <a href="#" class="recommended-list" data-search="radicals">Radicals</a>
            </p>
            <p class="recommended-japanese">
                <strong>Recommended Lists: </strong>
                <a href="#" class="recommended-list" data-search="japanese 101">Skritter 101</a> -
                <a href="#" class="recommended-list" data-search="japanese 201">Skritter 201</a> -
                <a href="#" class="recommended-list" data-search="basic kanji">Basic Kanji Books</a> -
                <a href="#" class="recommended-list" data-search="genki">Genki</a> -
                <a href="#" class="recommended-list" data-search="adventures in japanese">Adventures in Japanese</a> -
                <a href="#" class="recommended-list" data-search="nihongo sou matome">Nihongo Sou Matome</a>
            </p>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input id="search-box" type="text" class="form-control" placeholder="{{account-creation.list-select.search-placeholder}}">
            </div>
            <table id="list-table" class="cursor table table-bordered table-hover">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

</div>