gelato-component(data-name='prompt-vocab-contained')
  - var prompt = view.prompt;
  - var reviews = view.prompt.reviews;

  if reviews
    - var review = reviews.current();
    - var vocabs = reviews.vocab.getContained();

    if !vocabs.length
      - vocabs = [reviews.vocab];

    if _.includes(['rune', 'tone'], prompt.part)
      - vocabs = [vocabs[reviews.position]];

    if vocabs.length

      hr

      div.value
        if review.get('showContained') || review.isComplete()

          for vocab in vocabs
            - var definition = vocab.getDefinition();
            - var mnemonic = vocab.getMnemonic();
            .child-character

              .child-vocab-row
                span.child-writing(class=app.isChinese() ? 'text-chinese' : 'text-japanese')= vocab.get('writing')
                | &nbsp;
                span.child-reading= app.isChinese() ? app.fn.pinyin.toTone(vocab.get('reading')) : vocab.get('reading')

              if definition
                .child-vocab-row
                  label Definition
                  .child-definition!= definition

              if mnemonic
                .child-vocab-row
                  label Mnemonic
                  .child-mnemonic!= vocab.getMnemonic().text

        else

          button#show-contained.btn.btn-default show
