@import "../../../styles/_variables";

gelato-component[data-name='mobile-study-prompt-vocab-reading'] {

  font-size: 20px;
  font-weight: 300;

  button {
    background-color: $grey1;
    border-radius: 3px;
    padding: 4px 8px;
    margin-bottom: 1px;
    font-variant: small-caps;
  }

  .reading {
    color: $grey4;
    cursor: pointer;
    display: inline;
    margin-right: 2px;
    padding-bottom: 4px;
    &.active {
      border-bottom: 0.5vh solid $lime6 !important;
    }
    &.masked {
      background-color: $white5;
    }
    &.masked span {
      visibility: hidden;
    }
  }

  .filler {
    display: inline;
    margin-right: 2px;
  }

}
