gelato-component(data-name='stats-heatmap')

  .title This Month
  .graph-legend
    .legend-square.q1
    .legend-square.q2
    .legend-square.q3
    .legend-square.q4
    .legend-square.q5

  #heatmap.heatmap
  .row.numbers
    .col-xs-3.data-section
      #items-studied.num-hero ...
      .units-label items learned
    .col-xs-3.data-section
      #avg-time-studied-amount.num-hero ...
      .units-label
        #avg-time-studied-units
        | per day
    .col-xs-3.data-section
      #longest-streak.num-hero ...
      .units-label longest streak
    .col-xs-3.data-section
      #current-streak.num-hero ...
      .units-label current streak
