gelato-component(data-name='stats-study-part-linegraph')
  .row.hidden-md.hidden-lg
    - var title = view.graphTitle || app.locale('common.parts.' + view.part +'Capital');
    #graph-title.graph-title #{title}
  .row
    .col-md-9.col-xs-9
      #linegraph
    .col-md-3.col-xs-3
      .num.num-learned#num-learned ...
  .row
    .col-md-4.col-xs-4
      .num-label= app.locale('pages.stats.added')
      .num#num-added ...
    .col-md-4.col-xs-4
      .num-label= app.locale('pages.stats.reviews')
      .num#num-reviews ...
    .col-md-4.col-xs-4
      .num-label= app.locale('pages.stats.retention')
      .num#num-retention ...
