@import "../../../styles/variables";

gelato-component[data-name="prompt-toolbar-vocab"] {

  position: absolute;
  right: 30px;

  i {
    cursor: pointer;
    margin-right: 10px;
    &.banned { background-color: red; }
    &.starred { background-color: yellow; }
  }

}