@import "../../../styles/_variables";

gelato-component[data-name="prompt-toolbar-vocab"] {

  position: absolute;
  right: 30px;

  i {
    cursor: pointer;
    margin-right: 15px;
  }

  #item-last-studied {
    color: $grey2;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: right;
  }

}