gelato-component(data-name="prompt-toolbar-vocab")
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews

    i#button-vocab-audio.icon.icon-study-word-volume

    if reviews.vocab.isStarred()
      i#button-vocab-star.icon.icon-study-word-star-filled
    else
      i#button-vocab-star.icon.icon-study-word-star

    i#button-vocab-edit.icon.icon-study-word-edit

    if reviews.item
      i#button-vocab-ban.icon.icon-study-ban

    i#button-vocab-info.icon.icon-study-info

    if reviews.item && reviews.item.get('last')
      #item-last-studied= 'studied ' + moment(reviews.item.get('last') * 1000).fromNow()
