gelato-page(data-name='vocablist-browse')
  #navbar-container
  gelato-content
    .container
      .content-block
        .row
          .col-md-3
            #section-menu
              button.btn.btn-fixed.btn-success(data-navigate="vocablist/create") Create new list
              .options
                a(href="/vocablist/queue") Study Queue
                a(href="/vocablist/browse") Browse Lists
                .active My Lists
                a(href="/vocablist/chinesepod") ChinesePod
          .col-md-9
            #section-content
              .title My Lists

              #vocablist-container


