gelato-page(data-name='vocablist-browse')
  gelato-navbar.fixed-top
    .container
      .left
        .item.item-header(data-navigate="dashboard") Skritter
  gelato-content
    .container
      .content-block
        .row
          .col-md-3
            #section-menu
              button.btn.btn-fixed.btn-success(data-navigate="vocablist/create") Create new list
              .options
                div(data-navigate="vocablist/queue") Study Queue
                div(data-navigate="vocablist/browse") Browse Lists
                .active My Lists
                div(data-navigate="vocablist/chinesepod") ChinesePod
          .col-md-9
            #section-content
              .title My Lists

            #vocablist-container


