gelato-page(data-name='vocablist-browse')
  #navbar-container
  gelato-content
    .container
      .content-block
        .row
          .col-md-3
            #vocablist-sidebar-container
          .col-md-9
            #section-content
              .title My Lists

              #vocablist-container


