.gelato-page.dashboard {

  .block-label {
    color: $grey5;
    font-family: $font-secondary;
    font-size: 12px;
    left: 30px;
    position: absolute;
    top: 30px;
  }

  .characters-learned-count,
  .words-learned-count {
    color: $green5;
    font-family: $font-secondary;
    font-size: 60px;
  }

  .content-block { padding-top: 60px; }

  .first-row .content-block { height: 300px; }

  .heatmap-container .cal-heatmap-container {
    margin: 0 auto;
    max-height: 200px;
  }

  .heatmap-container .graph-label,
  .heatmap-container .graph-legend { display: none; }

  .heatmap-container .graph-rect { cursor: pointer; }

  .table-viewer td, .table-viewer th { border: none; }

  .table-viewer .field-progress { min-width: 150px; }

}