gelato-page[data-name="features"] {

  background: $background-characters repeat $white1;
  padding-top: 0;

  section {
    background-color: #fbfafc;
    &.striped { background-color: #262b30; }
  }

  #section-banner {
    padding-top: 60px;
    img { width: 100%; }
  }

  #section-extra-features {
    .block { padding-bottom: 60px; }
    .media-heading {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 18px;
      font-weight: 300;
    }
    .media-subtext {
      color: #404851;
      font-family: $font-muli;
      font-size: 14px;
      font-weight: 300;
    }
  }

  #section-features {
    .block { padding-bottom: 60px; }
    .media-heading {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 24px;
      font-weight: 300;
    }
    .media-subtext {
      color: #404851;
      font-family: $font-muli;
      font-size: 16px;
      font-weight: 300;
    }
    .title {
      color: #666c73;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 90px;
      margin-top: 75px;
    }
  }

  #section-start {
    background: none;
    a {
      color: #838f98; //TODO: check color
      display: block;
      font-size: 24px;
      font-weight: 300;
      margin-top: 20px;
    }
    button {
      color: #fafafa; //TODO: check color
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 65px;
      padding: 15px 30px;
    }
    .container {
      padding-bottom: 75px;
      padding-top: 75px;
    }
    .title {
      color: #838f98;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 150px;
    }
  }

  #section-header {
    margin-top: 60px;
    .header {
      color: #363b40;
      font-family: $font-slab;
      font-size: 48px;
      font-weight: 400;
    }
  }

}