gelato-page[data-name="features"] {

  background-color: $white1; //TODO: check color

  gelato-navbar {
    background-color: #262b30;
    border-color: #262b30;
    .navbar-brand {
      color: #fafafa;
      font-family: $font-slab;
      font-size: 28px;
      font-weight: 400;
    }
    .navbar-nav a {
      color: #fbfafc;
      font-family: $font-muli;
      font-size: 18px;
      font-weight: 300;
    }
  }

  footer {
    background-image: $background-footer;
    .list { margin-bottom: 75px; }
    .list a {
      display: block;
      color: #8c9196;
      font-family: $font-muli;
      font-size: 14px;
      font-weight: 300;
    }
    .list i {
      color: #8c9196;
      cursor: pointer;
      font-size: 24px;
      font-weight: 300;
    }
    .header {
      color: #b2b5b9;
      font-family: $font-slab;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 25px;
      margin-top: 75px;
    }
  }

  #section-banner {
    margin-top: 60px;
    img { width: 100%; }
  }

  #section-features {
    .block { padding-bottom: 60px; }
    .media-heading {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 24px;
      font-weight: 300;
    }
    .media-subtext {
      color: #404851;
      font-family: $font-muli;
      font-size: 16px;
      font-weight: 300;
    }
    .title {
      color: #666c73;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 90px;
      margin-top: 75px;
    }
  }

  #section-start {
    margin: 60px auto 0 auto;
    max-width: 600px;
    a {
      color: #838f98; //TODO: check color
      font-size: 24px;
      font-weight: 300;
      margin-left: 100px;
    }
    button {
      color: #fafafa; //TODO: check color
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 65px;
      padding: 15px 30px;
    }
    .title {
      color: #838f98;
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 65px;
      margin-top: 75px;
    }
  }

  #section-header {
    margin-top: 60px;
    .header {
      color: #363b40;
      font-family: $font-slab;
      font-size: 48px;
      font-weight: 400;
    }
  }

}