.gelato-page.list-browse {

  color: $grey5;
  font-size: 16px;

  .column {
    height: 100%;
    float: left;
    padding-top: 55px;
  }

  .content-column {
    background-color: $white1;
    width: 80%;
  }

  .content-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .content-row {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .menu-column {
    background-color: $white3;
    min-width: 200px;
    padding: 45px 40px;
    width: 20%;
  }

  .menu-column .button-create-list {
    height: 50px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-row {
    color: $grey3;
    font-weight: 300;
    margin-bottom: 20px
  }

  .menu-row.active, .menu-row:hover {
    color: $grey5;
    font-weight: bold;
  }

  .table-viewer {
    font-size: 16px;
    width: 100%;
  }

  .table-viewer td {
    border: none;
    vertical-align: middle;
  }

  .table-viewer th {
    border: none;
  }

  .table-viewer tr { height: 50px; }

  .table-viewer .table > tbody > tr:nth-of-type(even) { background-color: $white2; }

  .table-viewer .table > tbody > tr > td:first-child { padding-left: 40px; }

  .table-viewer .table > tbody > tr > td:last-child { padding-right: 40px; }

  .table-viewer .table > thead > tr > th:first-child { padding-left: 40px; }

  .table-viewer .search-bar {
    border-radius: 25px;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 120px;
  }

  .table-viewer .search-bar input, .table-viewer .search-bar span { height: 50px; }

}