gelato-page[data-name="list-create"] {

  #list-name {
    border: 1px solid $grey1;
    border-radius: 0;
    height: 50px;
    margin-bottom: 40px;
    max-width: 400px;
  }

  #list-name input {
    background: transparent;
    border: none;
    font-size: 16px;
    height: 50px;
  }

  #list-name span {
    background-color: transparent;
    border: none;
    font-size: 16px;
  }

  .content-block {
    margin-bottom: 15px;
    padding-top: 30px;
  }

  .content-column {
    background-color: transparent;
    color: $grey4;
  }

  .content-column label { font-size: 24px; }

  .content-column textarea {
    min-height: 100px;
    max-width: 400px;
    width: 100%;
  }

  .content-column .button-back { margin-bottom: 30px; }

  .content-column .checkbox { font-size: 16px; }

  .content-column .options {
    margin-left: 5%;
    margin-right: 5%;
  }

  .content-column .title {
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
  }

}