.gelato-page.list {

  .content-block {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .content-column {
    background-color: transparent;
    padding: 55px 40px;
  }

  .content-column .details { margin-bottom: 30px; }

  .content-column .sections-header {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .content-column .table-viewer {
    margin-left: -40px;
    margin-right: -40px;
  }

  .content-column .table > tbody > tr:nth-of-type(even) { background-color: $white2; }

  .content-column .table-viewer thead tr { background-color: $white3; }

  .content-column .table-viewer thead tr th { border: none; }

  .content-column .table-viewer tr td { border: none; }

  .content-column .table-viewer tr td:first-child, .content-column .table-viewer tr th:first-child { padding-left: 40px; }

  .content-column .table-viewer tr td:last-child, .content-column .table-viewer tr th:last-child { padding-right: 40px; }

  .content-column .table-viewer .field-addtoqueue { min-width: 175px; }

  .content-column .table-viewer .field-popularity { min-width: 150px; }

  .content-column .title {
    font-family: $font-primary;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .content-column .vocablist-description { margin-bottom: 30px; }

  .content-column .vocablist-tags { margin-bottom: 30px; }

  .menu-column {
    background-color: $white3;
    border-radius: 25px 0 0 25px;
    padding: 45px 40px;
  }

  .menu-column button {
    height: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .menu-column hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .menu-column .button-previous { margin-bottom: 25px; }

  .menu-column .options {
    color: $grey4;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    padding: 10px;
  }

  .menu-column .options > li {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 20px;
  }

  .menu-column .options > li.active, .menu-column .options > li:hover {
    color: $grey3;
    font-weight: 400;
  }

  .menu-column .vocablist-progress { margin-bottom: 30px; }

  .menu-column .vocablist-status { margin-bottom: 10px; }

  @media (max-width: 991px) {

    .menu-column { border-radius: 25px 25px 0 0; }

  }

}