.gelato-page.list-studying {

  color: $grey5;
  font-size: 16px;

  .column {
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
    padding: 55px 40px;
  }

  .content-column {
    background-color: $white1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 80%;
  }

  .content-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .content-row {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .menu-column {
    background-color: $white3;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    min-width: 200px;
    padding: 45px 40px;
    width: 20%;
  }

  .menu-column .button-create-list {
    height: 50px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-row {
    color: $grey3;
    font-weight: 300;
    margin-bottom: 20px
  }

  .menu-row.active, .menu-row:hover {
    color: $grey5;
    font-weight: bold;
  }

  .table-viewer {
    border: 1px $grey1 solid;
    font-size: 16px;
    padding: 10px 20px;
  }

  .table-viewer td { border: none; }

}