gelato-component(data-name='study-prompt')

  #panel-left
    .content
      #input-container
        #canvas-container
        #review-container
      #toolbar-action-container
      #toolbar-grading-container

  #panel-right
    .content
      #vocab-style-container
      #vocab-writing-container
      #vocab-reading-container
      #vocab-definition-container
