gelato-component(data-name='prompt-vocab-style')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews

    div.value

      case reviews.vocab.get('style')

        when 'simp'
          | simplified

        when 'trad'
          | traditional
