@import "../../styles/_variables";

gelato-page[data-name='mobile-study'] {

  background: $background-primary;
  height: 100%;
  padding-bottom: 5px !important;
  padding-top: 55px;
  position: absolute;
  width: 100%;

  #study-prompt-container {
    height: 100%;
    padding: 0 5px;
    position: absolute;
    width: 100%;
  }

  #study-toolbar-container {
    display: none;
  }

}
