gelato-page(data-name='study')
  gelato-navbar.fixed-top
    .container
      .left
        .item.item-header(data-navigate="dashboard") Skritter
      .right
        #button-add-item.item.item-icon
          i.fa.fa-plus-circle
        #button-show-list.item.item-icon
          i.fa.fa-list
        #button-show-settings.item.item-icon
          i.fa.fa-cog
  gelato-content
    #toolbar-container
    #prompt-container