gelato-page(data-name='study')
  gelato-navbar.fixed-top
    .container-fluid
      .container
        .left
          .item.item-header(data-navigate="dashboard") Skritter
  gelato-content
    #toolbar-container
    #prompt-container