@import "../../styles/variables";

gelato-dialog[data-name="vocab"] {

  #button-close {
    cursor: pointer;
    float: right;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 9999;
  }

  #loading-spinner {
    margin: 30px 0;
    text-align: center;
    width: 100%;
  }

  .modal-body { padding: 0; }

}
