bootstrap-dialog(data-name='vocab')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        #button-close.fa.fa-close
        .modal-body
          #loading-spinner
            i.fa.fa-4x.fa-spinner.fa-pulse
            h3 Loading
          #vocab-container
