gelato-component(data-name='dashboard-total')
  .row
    #characters-learned(class=app.isMobile() ? 'col-xs-6' : '')
      .value -
      .text characters learned
    #words-learned(class=app.isMobile() ? 'col-xs-6' : '')
      .value -
      .text words learned
