gelato-component(data-name='dashboard-progress')

  .row
    .col-xs-6
      #heatmap-progress
      #streak
        .value -
        .text day streak

    .col-xs-6
      #characters-learned
        .value -
        .text characters learned
      #words-learned
        .value -
        .text words learned
