gelato-component(data-name='dashboard-goal')
  .row
    #doughnut-column.col-xs-6
      #goal-doughnut
    #option-column.col-xs-6
      if view.dueCount !== 0 || (view.vocablists.state === 'standby' && view.vocablists.length > 0)
        a.btn.btn-fixed.btn-success(type="button", href="/study") Study
      else
        a.btn.btn-fixed.btn-success(type="button", href="/vocablists/browse") Add a list to study
