body {
  color: $grey5;
  font-family: $font-muli;
}

.background-light { background: $background-light repeat; }

.background-dark { background: $background-dark repeat; }

.content-block { border-radius: 25px; }

.text-chinese { font-family: 'Simkai', sans-serif; }

.text-japanese { font-family: 'Kaisho', sans-serif; }