bootstrap-dialog(data-name='list-settings')
	.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog
			.modal-content
				#button-close.fa.fa-close
				.modal-body.text-center
					h3 {List Settings}
					//.text-center
						button#button-save.btn.btn-primary(type='button') Save
