@import "../../../../styles/_variables";

gelato-component[data-name='study-prompt-vocab-style'] {

  .value {
    color: $grey3;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

}
