@import "../../styles/variables";

gelato-navbar[data-name='default'] {

  a {
    color: $white1;
    margin-left: 25px;
    text-decoration: none;
    &:hover { color: $white5; }
  }

  img { height: 30px; }

}
