gelato-navbar(data-name='default').fixed-top

  .container
    .left
      a.item.item-header(href="/dashboard") Skritter
      a.item.item-link(href="/study") Study
      a.item.item-link(href="/vocablists/queue") Lists
      a.item.item-link(href="/words/all") Words
      a.item.item-link(data-toggle="tooltip" data-placement="bottom" title="Working on it") Stats
    .right
      .item.item-dropdown.no-select
        i.fa.fa-ellipsis-h
        .dropdown.hidden
          ul
            li
              a(href='/account/settings/general')
                i.fa.fa-gear
                | &nbsp;
                | Settings
            li
              a#button-logout(href='', data-ignore='true')
                i.fa.fa-sign-out
                | &nbsp;
                | Logout