@import "../../styles/_variables";

gelato-component.mobile-side-menu-component {
  width: 250px;
  height: 100%;
  background-color: $grey8;
  position: fixed;
  color: $grey1;
  font-size: 16px;

  .actions-wrapper {
    padding-top: 15px;
  }

  .user-info-wrapper {
    margin-top: -15px;
  }

  .username {
    font-size: 18px;
    color: $grey2;
    margin-bottom: 10px;
  }

  .stats-num {
    color: $green5;
    font-size: 24px;
    font-family: $font-slab;
  }

  .user-stats-wrapper {
    margin-bottom: 20px;
  }

  .profile-picture {
    display: block;
    margin-left: 75px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #999;
  }

  .logout {
    cursor: pointer;
    margin-left: 15px;
  }

  .settings {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    text-align: right;
  }

  .settings, .logout {
    font-size: 24px;
  }

  a {
    color: $grey1;
    font-size: 24px;

    &:hover, &:focus {
      background-color: $grey6;
    }
  }

  .help-button-wrapper {
    position: absolute;
    bottom: 0px;
  }

  .fa-question-circle {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
  }
}
