.settings.fa.fa-gear
.logout.fa
.user-info-wrapper
  .profile-picture
  #username.username= app.user.get('name')

.user-stats-wrapper.row
  .stats-wrapper.col-md-6
    .num-chars
    .stats-title characters
  .stats-wrapper.col-md-6
    .num-words
    .stats-title words

.links-wrapper
  ul.nav.navbar-nav
    li
      a(href="/dashboard") Dashboard
    li
      a(href="/study") Study
    li
      a(href="/vocablists") Lists
    li
      a(href="/words") Words
    li
      a(href="/stats") Stats
