@import "../../styles/variables";

gelato-page[data-name='vocablist'] {

  //----------------- SIDEBAR -----------------------------------------

  .sidebar-spacer {
    margin: 45px 2% 0;
    text-align: center;

    .back-link {
      color: $grey3;
      .glyphicon {
        margin-right: 5px;
      }
    }

    #list-img, #missing-image-stub {
      margin: 20px 0 20px;
      width: 70%;
    }

    #missing-image-stub {
      display: inline-block;
      background: #e6e4ec;
      text-align: center;
      padding: 20px 0;
      .glyphicon {
        font-size: 100px;
      }
    }

    .status-p {
      margin-top: 20px;
    }

    .progress {
      width: 120px;
      margin: 0 auto;

      .progress-bar {
        min-width: 2em;
      }

    }

    .actions {
      text-align: left;
      width: 140px;
      margin: 0 auto;

      .action {
        margin-bottom: 15px;
      }

      .glyphicon {
        margin-right: 10px;
      }
    }

  }


  //----------------- CONTENT -----------------------------------------

  .main-content {

    #edit-link {
      color: $green5;
      font-size: 20px;
    }

    #edit-row {
      & > * {
        display: inline-block;
      }

      #name-input {
        width: 60%;
      }

      #cancel-edits-link {
        width: 20%;
        text-align: center;
        color: $grey2;
      }

      #save-edits-btn {
        width: 20%;
      }
    }

    #description-textarea {
      height: 150px;
      margin: 40px 0 10px;
    }

    #tags {
      margin-top: 20px;

      .tag {
        margin-right: 20px;

        .glyphicon-tag {
          color: $green5;
        }
      }

    }
  }

}
