<div class="prompt-rune">
    <div class="container-fluid prompt-text scrollable text-center">
        <div class="field field-writing text-max asian-font"></div>
        <div class="field field-reading text-normal"></div>
        <div class="field field-definition text-small"></div>
        <em class="field field-heisig text-tiny"></em>
    </div>
    <div class="prompt-toolbar">
        <div class="pull-left">
            <i id="toolbar-teach" class="fa fa-magic"></i>
        </div>
        <div class="pull-right">
            <i id="toolbar-reveal" class="fa fa-eye"></i>
            <i id="toolbar-eraser" class="fa fa-eraser"></i>
        </div>
    </div>
</div>
<div class="prompt-newness text-warning"></div>
<div class="prompt-style"></div>