<div class="prompt-defn">
    <div class="container-fluid text-center">
        <div class="prompt-newness text-warning"></div>
        <div class="prompt-style"></div>
        <div class="field field-writing text-max-character asian-font"></div>
        <em class="field field-question text-small"></em>
        <div class="field field-help-text text-tiny">(tap to reveal)</div>
        <div class="field field-reading text-normal"></div>
        <div class="field-highlight">
            <div class="field field-definition text-definition"></div>
            <em class="field field-heisig text-tiny"></em>
        </div>
    </div>
    <button type="button" class="button-wrong btn btn-primary">I don't know.</button>
</div>