gelato-component(data-name='vocab-viewer')
  #header-section
    .block.separator
      #vocab-writing
      #vocab-reading
    .block
      #vocab-difficulty
      | LEVEL
  #content-section
    #panel-left
      .block
        .header Definition
        .value
          #vocab-definition
      .block
        .header Sentence
        .value
          #vocab-sentence
      .block
        .header Mnemonic
        .value
          #vocab-mnemonic
      .block
        .header Dictionary
        .value
          #vocab-lookup
    #panel-right
