gelato-page(data-name='turkish')

  .container
    #about-title.text-center Merhaba! Learn Turkish with Skritter
    #about-block.content-block
      .row
        .col-md-12.story-wrapper
          header.story-header A new era in Turkish writing practice
          .subtext
            p.
              For years, Skritter has been at the forefront of helping learners to master the difficult writing systems of Chinese and Japanese.
              We've listened to user feedback for long-requested other languages like Korean, and are pleased to introduce to you the next logical
              progression in pushing the forefront of optimized language learning: Turkish!
            p
              .picture-wrapper
                img.media-object(src="/media/images/turkish.jpg" alt="Skritter Turkish")
            p.
              As a learner of Chinese or Japanese, here's what Turkish has to offer you:
            p
              ul
                li A language spoken by 75 million people with a rich cultural heritage
                li. No characters! Forget learning thousands of strokes just to be able to read a newspaper!
                    If you already know the Latin alphabet, just learn a few new letters like "ş" and "ü" and you'll be well on your way to mastery!
                li Regular grammar with no irregular verbs--just like Chinese!
                li Are you a fan of how Japanese verbs agglutinate? Turkish has that too, but like times 20!
                li Noun declension. Put any latent Russian, German, or Latin knowledge you might have to good use, because you'll need it to master all 6 of Turkish's cases!
                li
                  a(href="https://en.wikipedia.org/wiki/Vowel_harmony#Turkish" target="_blank") Vowel harmony.
                  | &nbsp; Doesn't that sound cool?
                li Turkish tea is the best, no 乌龙茶 or 抹茶 can compare.
            p.
              Expect the full release of this language later this April. Upon release, a few new features will be available to all users:
            ul
              li Turkish will be a selectable target language to all current subscribers.
              li A link to declension charts will appear on the top menu no matter which language you choose to study.
              li Vowel harmony prompts will be interspersed with your regular Chinese and Japanese reviews so you keep progressing in multiple languages. To encourage new users to try out the language, this feature cannot be disabled, regardless of which language(s) you study.

