@import "../../../../styles/_variables";

gelato-component[data-name='study-prompt-vocab-contained'] {

  button {
    border-radius: 4px;
  }

  hr {
    border-top: 1px solid $grey1;
  }

  label {
    color: $grey3;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
  }

  .value {
    color: $grey3;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    .child-character {
      margin-top: 15px;
    }
    .child-decomp {
      .decomp-definition {
      }
      .decomp-reading {
        font-style: italic;
      }
      .decomp-writing {
      }
    }
    .child-reading {
      color: $grey3;
      font-weight: 400;
      margin-left: 15px;
    }
    .child-writing {
      color: $grey5;
      font-size: 24px;
      font-weight: 400;
    }
  }

}
