@import "../../../styles/_variables";

gelato-component[data-name='stats-timeline'] {
  .heading-block {
    background-color: $white3;
    border-radius: 25px 25px 0px 0px;
    padding: 15px;
    font-size: 24px;
    color: $grey5;
  }

  .granularity-selector {
    background-color: $white3;
    cursor: pointer;

    // thx, bootstrap
    border: 0px !important;
    outline: 0 !important;

    &:hover {
      color: $grey4;
    }
  }

  .date-range-selector {
    color: $grey5;

    &:hover {
      color: $grey4;
    }
  }

  .down-arrow {
    margin-left: 15px;
  }

  .content-block {
    background: none;
    padding: 0px;
  }

  .content {
    padding-bottom: 35px;
    background: #FFF;
    border-radius: 0px 0px 25px 25px;
  }

  .time-placeholder, .units-label {
    text-align: center;
    font-size: 16px;
  }

  .time-placeholder {
    text-align: center;
    font-size: 38px;
    color: $grade3;
  }

  .bar-graph-placeholder {
    height: 222px;
    background: $grey5;
  }

  .items-learned-placeholder, .days-studied-placeholder {
    height: 205px;
    background: $grey6;
    color: #FFF;
  }

  .middle-graph-wrapper-l {
    padding-right: 0px;
  }

  .middle-graph-wrapper-r {
    padding-left: 0px;
  }

  .days-studied-placeholder {
    background: $grey7;
    padding-left: 0px;
  }

  .rwdt-label {
    font-size: 24px;
  }
  .vertical-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 150px;
  }

  .graph {
    background: #CCC;
    height: 150px;
  }

  .date-range-wrapper {
    text-align: right;
    display: inline-block;
  }
}
