gelato-component(data-name='stats-timeline')

  .content-block
    .heading-block
      .row
        .col-md-4.granularity-selector-wrapper Hours studied
        .col-md-4#hours-studied-container
          .time-placeholder 2:39
          .units-label hours studied
        .col-md-4.date-range-wrapper Feb 30th, 2015 - March 6th, 2015
    .content
      #time-studied-bar-graph-container
        .bar-graph-placeholder
      .items-leaned-days-studied-wrapper
        .row
          .col-md-6.middle-graph-wrapper-l
            .items-learned-placeholder items learned
          .col-md-6.middle-graph-wrapper-r
            .days-studied-placeholder days studied
      .rwdt-graphs-wrapper
        .row
          .col-md-1 &nbsp;
          .col-md-11
            .row
              .col-md-3.rwdt-label Writing
              .col-md-3.rwdt-label Definition
              .col-md-3.rwdt-label Reading
              .col-md-3.rwdt-label Tone
        .row
          .col-md-1
            .vertical-label Characters
          .col-md-11
            .row
              .col-md-3
                .graph Writing graph
              .col-md-3
                .graph Definition graph
              .col-md-3
                .graph Reading graph
              .col-md-3
                .graph Tone graph
        .row
          .col-md-1
            .vertical-label Words
          .col-md-11
            .row
              .col-md-3
                .graph Writing graph
              .col-md-3
                .graph Definition graph
              .col-md-3
                .graph Reading graph
              .col-md-3
                .graph Tone graph

