gelato-component(data-name='stats-timeline')

  .content-block
    .heading-block
      .row
        .col-md-4.granularity-selector-wrapper Hours studied
        .col-md-4#hours-studied-container
          .time-placeholder 2:39
          .units-label hours studied
        .col-md-4.date-range-wrapper Feb 30th, 2015 - March 6th, 2015
    .content
      #time-studied-bar-graph-container
        .bar-graph-placeholder
      .items-leaned-days-studied-wrapper.row
        .col-md-6 left
        .col-md-6 right
      .rwdt-graphs-wrapper.row
        .col-md-12 wat

