gelato-component(data-name="study-prompt-review-status")
  - var items = view.items;

  if items && items.reviews.length

    if items.hasNext() && items.reviews.state === 'standby'
      button#save-reviews.btn.btn-sm.btn-success= 'Save (' + items.reviews.length + ')'
    else
      #loading-indicator
        .spinner1
          .double-bounce1
          .double-bounce2
