@import "../../../../styles/_variables";

gelato-component[data-name='study-prompt-vocab-writing'] {

  font-size: 42px;
  font-weight: 400;
  margin-bottom: 5px;

  .character {
    cursor: pointer;
    display: inline;
    margin-right: 2px;
    &.active {
      border-bottom: 0.5vh solid $lime6 !important;
    }
    &.masked {
      border-bottom: 0.5vh solid $white6;
    }
    &.masked span {
      visibility: hidden;
    }
  }

  .filler {
    display: inline;
    margin-right: 2px;
  }

}
