@import "../../../../styles/_variables";

gelato-component[data-name="mobile-study-prompt-part-tone"] {

  height: 100%;
  position: absolute;
  width: 100%;

  .tone-message {
    color: $wood1;
    font-family: $font-slab;
    font-size: 5vh;
    font-weight: 300;
    padding-top: 3vh;
    position: relative;
    text-align: center;
    z-index: 5002;
  }

}
