@import "../../../../styles/_variables";

gelato-component[data-name="study-prompt-part-tone"] {

  height: 100%;
  position: absolute;
  width: 100%;

  .tone-message {
    color: $grey2;
    font-family: $font-slab;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    z-index: 5002;
    position: relative;
  }

}

.mobile {
  gelato-component[data-name="study-prompt-part-tone"] {

  .tone-message {
    padding-top: 20px;
    }
  }
}