<div class="desktop page page-list-select">

    <div class="container text-center">

        <h1>Choose a list.</h1>

        <p>You'll need to select one list to get things started. You'll be able to add more lists later.</p>

        <p>
            <strong>Recommended Lists: </strong>
            <a href="#" class="recommended-list" data-search="skritter 101">Skritter 101</a> -
            <a href="#" class="recommended-list" data-search="integrated chinese">Integrated Chinese</a> -
            <a href="#" class="recommended-list" data-search="new practical chinese reader">New Practical Chinese Reader</a> -
            <a href="#" class="recommended-list" data-search="new hsk">New HSK</a> -
            <a href="#" class="recommended-list" data-search="practical audio-visual chinese">Practical Audio-Visual Chinese</a> -
            <a href="#" class="recommended-list" data-search="radicals">Radicals</a>
        </p>

        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input id="search-box" type="text" class="form-control" placeholder="Search for list by name">
        </div>

        <div class="loading-box">
            <img src="images/ajax-loader.gif" class="loading-image" alt="">
            <h2 class="loading-message"></h2>
        </div>

        <table id="list-table" class="table table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>

    </div>

</div>