@import "../../styles/variables";

gelato-page[data-name='legal'] {

  padding-top: 75px;

  #section-content {
    margin: 0 auto 50px auto;
    max-width: 800px;
    padding: 15px 30px;
    .subtext {
      color: #666c73;
      font-family: $font-muli;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  #section-header {
    margin-bottom: 50px;
    .title {
      color: #363b40;
      font-family: $font-slab;
      font-size: 48px;
      font-weight: 400;
    }
  }

}
