gelato-page(data-name='legal')

	#navbar-container

	#section-header
		.title.text-center Legal

	#section-content.content-block
		.row
			.col-xs-12
				.subtext
					| We do not spam. Your e-mail address will be used only to respond to your feedback and to handle account and payment notifications. You may also choose to receive infrequent news about major site changes, but most updates will just be on the blog.
				.subtext
					| We take your privacy seriously and do not sell or distribute any of your information. However, we do keep records of your learning progress, for your benefit and ours. We use these data in a statistical way to improve our spaced repetition and handwriting recognition algorithms, fix bugs, and track site usage.
				.subtext
					| The scratchpad is free to link to as a reference, but please talk to us before integrating scratchpad link generation into your site.
				.subtext
					| This work was supported by Creativity & Leadership: Entrepreneurship at Oberlin, part of the Northeast Ohio Collegiate Entrepreneurship Program (NEOCEP), a Kauffman Campuses™ Initiative funded by the Burton D. Morgan Foundation and the Ewing Marion Kauffman Foundation. The contents of this publication are solely the responsibility of the Grantee.
				.subtext
					| Skritter makes use of the CC-CEDICT and HanDeDict dictionaries, which are licensed under a Creative Commons Attribution-Share Alike 3.0 License. It also used the CFDICT dictionary with permission from the copyright holder, Hugo Lopez--thanks, Hugo!
				.subtext
					| Skritter also uses data from the KANJIDIC and JMdict dictionaries, which are available under the EDRDG license.
				.subtext
					| Skritter's Chinese sounds are generously donated by ChinesePod, with some sounds also shared by Yue Tan.
				.subtext
					| Skritter makes use of the text segmentation libraries TinySegmenter (and in Python) for Japanese, and jieba for Chinese.
				.subtext
					| Skritter has made use of wordlists provided by Jake Marble, Konrad Wojas, Olle Linge, Chloe Fan, Kazuya Uchiyama, Robert Schuessler, and Johan von Boisman. Thanks, guys!
				.subtext
					| Skritter's vocabulary data are provided for personal use and are not intended to be shared outside of the site.
				.subtext
					| Aral Balkan's GAE SWF Project was a great help to us when we were getting started, although it's a bit old now.
				.subtext
					| Our forum is based off of fofou, created by Krzysztof Kowalczyk.
				.subtext
					| Skritter uses Google tools to measure visits and to track conversion rates. The data gathered are impersonal, useful for improving Skritter, and harmless. The iOS app also uses anonymized analytics and crash reporting from TestFlight Live, Crittercism, and Flurry.
				.subtext
					| Skritter and its component code-bits are copyrighted, 2008 - 2014.
				.subtext
					| Skritter is a product of Inkren Inc.

	#footer-container
