gelato-component(data-name='stats-summary')
  .row
    .col-md-6
      .content-block
        #stats-all-time-container
    .col-md-6
      .content-block
        #stats-heatmap-container
          .title Last 30 Days