gelato-component(data-name='feedback').clearfix
  h3 Issue? Idea? Let us know what you think!
  textarea(placeholder="What's up?")
  #error-msg.hidden.alert.alert-warning
  button#send-feedback.btn.btn-primary Send feedback