@import "../../../styles/_variables";

gelato-component[data-name='mobile-study-prompt'] {
  background-color: $white1;
  border-radius: 0px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  #overlay {
    background-color: $white1;
    border-radius: 25px;
    display: none;
    height: 100%;
    padding-top: 200px;
    position: absolute;
    width: 100%;
    z-index: 7000;

    .btn {
      height: 100%;
      margin: 25px auto;

      i {
        margin: 0 5px;
      }
    }
  }

  .icon-study-new-character {
    height: 58px;
    width: 58px;
  }

  #panel-left {
    background-color: $white1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 74%;
    padding: 0;
    position: relative;

    .content {
      margin: 0 auto;
      max-width: 1000px;
      position: relative;
      width: 100%;

      #input-container {
        background-color: $white1;
        cursor: pointer;
        position: relative;
        z-index: 5000;

        #canvas-container {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5002;

          &.rune {
            cursor: url('#{$dir-assets}/images/brush-dot.png') 11 10, auto;
          }
        }

        #review-container {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      #toolbar-stroke-order {
        width: 96%; // [the original aspect ratio] 25/26 = 96%;
      }

      #toolbar-erase {
        width: 91.6%;
      }

      #toolbar-show {
        //height: 58.6%;
        width: 100%;
      }

      #toolbar-correct {
        width: 100%;
        //height: 74.5%;
      }

      gelato-component[data-name='study-prompt-navigation'] {
        font-size: 8vh;
        top: 40%;

        #navigate-next {
          right: 0;
          padding-right: 5px;
          padding-bottom: 3px;
          background-size: 400% 100% !important;

          &.grade-1 {
            background: linear-gradient(to left, $white1 1%, $white1 50%, $grade1 51%, $grade1 100%);
          }
          &.grade-2 {
            background: linear-gradient(to right, $white1 1%, $white1 50%, $grade2 51%, $grade2 100%);
          }
          &.grade-3 {
            background: linear-gradient(to left, $white1 1%, $white1 50%, $grade3 51%, $grade3 100%);
          }
          &.grade-4 {
            background: linear-gradient(to right, $white1 1%, $white1 50%, $grade4 51%, $grade4 100%);
          }
          &.auto-advancing {
            -webkit-animation: AutoAdvanceProgress 1s ease infinite;
            -moz-animation: AutoAdvanceProgress 1s ease infinite;
            animation: AutoAdvanceProgress 1s ease infinite;
          }
        }

        #navigate-previous {
          left: 5px;
        }
      }
    }
  }

  #panel-right {
    background-color: $white3;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 20%;
    margin: 0;
    min-height: 150px;
    position: relative;
    text-align: center;
    z-index: 6000;

    .content {
      height: 100%;
      overflow-y: auto;
      padding: 0 45px;
      width: 100%;

      #toolbar-vocab-container {
        display: none;
      }

      #vocab-definition-container {
        margin-top: 5px;
      }

      #vocab-mnemonic-container {
        margin-top: 30px;
      }

      #vocab-sentence-container {
        margin-top: 30px;
      }

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 1vh;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $white8;
      }

      &::-webkit-scrollbar-track {
        background-color: ($white6);
      }

      gelato-component[data-name='study-prompt-vocab-sentence'] {
        text-align: center;
        button, i {
          margin: 0 auto;
        }
      }

      gelato-component[data-name='study-prompt-vocab-style'] {
        position: absolute;
        right: 15px;
        top: 10px;
      }

      gelato-component[data-name='study-prompt-vocab-writing'] {
        font-size: 5vh;
      }

    }

    .content-dropdown {
      position: absolute;
      width: 100%;

      .content-extra {
        background-color: $white3;
        padding-bottom: 15px;
        box-shadow: 0px 3px 3px #CCC;

        > div {
          margin-bottom: 15px;
        }
      }

      .dropdown-toggle {
        bottom: -14px;
        position: absolute;
        width: 100%;

        i {
          color: $green5;
          cursor: pointer;
          font-size: 21px;
          position: relative;
          z-index: 1;
        }
      }

      .inner-background {
        display: inline-block;
        width: 13px;
        height: 13px;
        position: absolute;
        background: $white1;
        z-index: -1;
        left: 2px;
        top: 4px;
      }
    }

    .ribbon {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 6000;
    }

    #review-status-container {
      bottom: 15px;
      display: none;
      position: absolute;
      right: 15px;
    }
  }

  #toolbar-action-container {
    bottom: 3vh;
    max-height: 63px;
    position: absolute;
    width: 100%;

    &.margin-top {
      margin-top: 15px;
    }
  }

  #toolbar-grading-container {
    bottom: 3vh;
    position: absolute;
    width: 100%;
    z-index: 5003;
  }

  .icon-margin {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .defn {
    #panel-left {
      height: 90% !important;
    }

    #panel-right {
      height: 10% !important;
      min-height: 50px !important;
    }
  }

  .rdng {
    #panel-left {
      height: 90% !important;
    }

    #panel-right {
      height: 10% !important;
      min-height: 50px !important;
    }
  }

  .defn {
    #toolbar-grading-container {
      bottom: 0.5vh !important;
    }
  }

  .rdng {
    #toolbar-grading-container {
      bottom: 0.5vh !important;
    }
  }

  .rune {
    #toolbar-action-container {
      bottom: 1vh !important;
    }
    #toolbar-grading-container {
      bottom: 0.5vh !important;
    }
  }

  .tone {
    #toolbar-action-container {
      bottom: 1vh !important;
    }
    #toolbar-grading-container {
      bottom: 0.5vh !important;
    }
  }
}

@-webkit-keyframes AutoAdvanceProgress {
  0%{background-position: 100% 50%}
  50%{background-position: 0% 50%}
  100%{background-position: 100% 50%}
}
@-moz-keyframes AutoAdvanceProgress {
  0%{background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}
@keyframes AutoAdvanceProgress {
  0%{background-position:100% 50%}
  50%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
