@import "../../../styles/_variables";

gelato-component[data-name='mobile-study-prompt'] {
  background-color: $white1;
  border-radius: 0px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  #overlay {
    background-color: $white1;
    border-radius: 25px;
    display: none;
    height: 100%;
    padding-top: 200px;
    position: absolute;
    width: 100%;
    z-index: 7000;

    .btn {
      height: 100%;
      margin: 25px auto;

      i {
        margin: 0 5px;
      }
    }
  }

  #panel-left {
    background-color: $white1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 74%;
    padding: 10px;

    .content {
      margin: 0 auto;
      max-width: 1000px;
      position: relative;
      width: 100%;

      #input-container {
        background-color: $white1;
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        z-index: 5000;

        #canvas-container {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5002;

          &.rune {
            cursor: url('#{$dir-assets}/images/brush-dot.png') 11 10, auto;
          }
        }

        #review-container {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      #toolbar-grading-container {
        bottom: -12px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 5003;
      }
      #toolbar-stroke-order {
        width: 96%; // [the original aspect ratio] 25/26 = 96%;
      }

      #toolbar-erase {
        width: 91.6%;
      }

      #toolbar-show {
        //height: 58.6%;
        width: 100%;
      }

      #toolbar-correct {
        width: 100%;
        //height: 74.5%;
      }

      #toolbar-action-container {
        max-height: 63px;

        &.margin-top {
          margin-top: 15px;
        }
      }

      gelato-component[data-name='study-prompt-navigation'] {
        font-size: 8vh;
        top: 30%;

        #navigate-next {
          right: 0;
        }

        #navigate-previous {
          left: 0;
        }
      }

      gelato-component[data-name="study-prompt-part-defn"] {
        .answer {
          font-size: 3.5vh;
          padding-top: 0;
        }

        .question {
          font-size: 4vh;
        }

        .writing {
          font-size: 10vh;
        }
      }

      gelato-component[data-name="mobile-study-prompt-part-rdng"] {
        .answer {
          font-size: 4vh;
        }

        .question {
          font-size: 4vh;
        }

        .writing {
          font-size: 10vh;
        }
      }

      gelato-component[data-name='study-prompt-part-tone'] {
        .tone-message {
          font-size: 5vh;
          margin-top: -20px;
        }
      }
    }

    .ribbon {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 6000;
    }
  }

  #panel-right {
    background-color: $white3;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: 20%;
    margin: 0 1px 0 0;
    min-height: 150px;
    position: relative;
    text-align: center;
    z-index: 6000;

    .content {
      height: 100%;
      overflow-y: auto;
      padding: 0 45px;
      width: 100%;

      #toolbar-vocab-container {
        display: none;
      }

      #vocab-definition-container {
        margin-top: 15px;
      }

      #vocab-mnemonic-container {
        margin-top: 30px;
      }

      #vocab-sentence-container {
        margin-top: 30px;
      }

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey1;
      }

      &::-webkit-scrollbar-track {
        background-color: ($white5 - #030303);
      }

      gelato-component[data-name='study-prompt-vocab-sentence'] {
        text-align: center;
        button, i {
          margin: 0 auto;
        }
      }

      gelato-component[data-name='study-prompt-vocab-style'] {
        position: absolute;
        right: 5px;
        top: 5px;
      }

      gelato-component[data-name='study-prompt-vocab-writing'] {
        font-size: 5vh;
      }

    }

    .content-dropdown {
      position: absolute;
      width: 100%;

      .content-extra {
        background-color: $white3;
        padding-bottom: 15px;

        > div {
          margin-bottom: 15px;
        }
      }

      .dropdown-toggle {
        bottom: -14px;
        position: absolute;
        width: 100%;

        i {
          color: $green5;
          cursor: pointer;
          font-size: 21px;
        }
      }
    }

    #review-status-container {
      bottom: 15px;
      display: none;
      position: absolute;
      right: 15px;
    }
  }

  .icon-margin {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
