@import "../../../styles/_variables";

gelato-component[data-name='study-prompt'] {
  background-color: $white1;
  border-radius: 25px;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 640px;
  position: relative;
  width: 100%;

  &.fetching-items {
     #panel-left, #panel-right {
       pointer-events: none;
     }

    .brush-loader {
      display: block;
    }

    #panel-left {
      .content {
        opacity: 0.4;
      }
    }
  }

  #overlay {
    background-color: $white1;
    border-radius: 25px;
    display: none;
    height: 100%;
    padding-top: 200px;
    position: absolute;
    width: 100%;
    z-index: 7000;

    .btn {
      margin: 25px auto;
      margin-top: 0;

      i {
        margin: 0 5px;
      }
    }
  }

  .brush-loader {
    display: none;
    z-index: 8000;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #panel-left {
    background-color: $white1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 62px 30px;
    position: absolute;
    top: 0;
    width: 50%;

    .content {
      margin: 0 auto;
      max-width: 450px;
      position: relative;
      width: 100%;

      #input-container {
        background-color: $white1;
        cursor: pointer;
        position: relative;
        margin: auto;
        z-index: 5000;

        #canvas-container {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5002;

          &.rune {
            cursor: url('#{$dir-assets}/images/brush-dot.png') 11 10, auto;
          }
        }

        #review-container {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        #toolbar-grading-container {
          bottom: -40px;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 5003;
        }
      }

      #toolbar-action-container {
        margin-bottom: 25px;
        margin-top: 40px;
        max-height: 63px;
      }
    }

    .ribbon {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 6000;
    }
  }

  #panel-right {
    background-color: $white3;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 42px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;

    .content {
      height: 100%;
      overflow-y: auto;
      padding: 0 45px;
      width: 100%;

      #vocab-definition-container {
        margin-top: 30px;
      }

      #vocab-mnemonic-container {
        margin-top: 30px;
      }

      #vocab-sentence-container {
        margin-top: 30px;
      }

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey1;
      }

      &::-webkit-scrollbar-track {
        background-color: ($white5 - #030303);
      }
    }

    #review-status-container {
      bottom: 15px;
      position: absolute;
      right: 15px;
    }
  }

  .icon-margin {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
