gelato-component(data-name='study-prompt')

  #overlay
    .text-center
      h3 You don't have any words yet.
      p (Try queuing a list and then adding words)
      a(href='/vocablists').btn.btn-lg.btn-primary
        i.fa.fa-list
        span.spl Manage Lists

  #panel-left.no-select
    #leech-ribbon.ribbon.hidden
      .icon.icon-study-leech
    #new-ribbon.ribbon.hidden
      .icon.icon-study-new-character
    .content
      #navigation-container
      #input-container
        #canvas-container
        #review-container
        #toolbar-grading-container
      #toolbar-action-container

  #panel-right
    .content
      #tutorial-container
      #toolbar-vocab-container
      #vocab-style-container
      #vocab-writing-container
      #vocab-reading-container
      #vocab-definition-container
      #vocab-sentence-container
      #vocab-mnemonic-container
      #vocab-contained-container
    #review-status-container
