gelato-component(data-name='study-prompt')

  #overlay
    .text-center
      h2= app.locale('components.studyPrompt.pleaseWait')
      p= app.locale('components.studyPrompt.addListCallToAction')
      a(href='/vocablists/browse').btn.btn-lg.btn-primary
        i.fa.fa-list-alt
        span.spl= app.locale('components.studyPrompt.manageLists')

  #panel-left.no-select
    #leech-ribbon.ribbon.hidden
      .icon.icon-study-leech
    #new-ribbon.ribbon.hidden
      .icon.icon-study-new-character
    .content
      #navigation-container
      #input-container
        #canvas-container
        #review-container
        #toolbar-grading-container
      #toolbar-action-container

  #panel-right
    .content
      #tutorial-container
      #toolbar-vocab-container
      #vocab-style-container
      #vocab-writing-container
      #vocab-reading-container
      #vocab-definition-container
      #vocab-sentence-container
      #vocab-mnemonic-container
      #vocab-contained-container
    #review-status-container
