gelato-component(data-name='study-prompt')

	#panel-left.no-select
		#leech-ribbon.ribbon.hidden
			.icon.icon-study-leech
		#new-ribbon.ribbon.hidden
			.icon.icon-study-new-character
		.content
			#navigation-container
			#input-container
				#canvas-container
				#review-container
				#toolbar-grading-container
			#toolbar-action-container

	#panel-right
		.content
			#tutorial-container
			#toolbar-vocab-container
			#vocab-style-container
			#vocab-writing-container
			#vocab-reading-container
			#vocab-definition-container
			#vocab-sentence-container
			#vocab-mnemonic-container
			#vocab-contained-container
		#review-status-container
