@import "../../../styles/_variables";

gelato-component[data-name='mobile-vocab-viewer-content'] {

  #content-section {
    padding: 20px;

    .block {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      .header {
        color: #404851;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 400;
      }

      .value {
        color: #7d8288;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 300;
      }
    }

    #dictionary-list {
      display: inline-block;
      margin-right: 15px;
      width: 60%;
    }

    #panel-left {
      width: 100%;
    }

    #panel-right {
      width: 100%;
    }

    #vocab-sentence {
      font-size: 26px;
    }
    #vocab-words-containing {

      .definition {
        font-size: 16px;
      }

      .reading {
        font-size: 16px;
      }

      .writing {
        color: $grey5;
        font-size: 26px;
      }

    }
  }

  #header-section {
    background-color: $white3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;

    i {
      font-size: 24px;
    }

    .block {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
    }

    .separator {
      border-right: 1px solid $white5;
    }

    #vocab-difficulty {
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: capitalize;
      text-align: center;
    }

    #vocab-difficulty-text {
      color: $grey3;
      font-size: 14px;
      font-weight: 300;
    }

    .vocab-reading {
      font-size: 12px;
      text-align: center;
    }

    .vocab-writing {
      font-size: 36px;
      text-align: center;
    }

    .alt-bracket {
      color: $grey1;
    }

    .alt-writing {
      color: $grey3;
    }
  }

}
