@import "../../../styles/_variables";

gelato-component[data-name='mobile-vocab-viewer-content'] {
  background-color: $white1;
  min-height: 100%;
  overflow-x: hidden;

  .dict-icon {
    margin-right: 2vh;
    margin-top: -5px;
    width: 6vh;
  }

  .edit-textbox {
    width: 100%;
  }

  .header-writing {
    color: $green5;
    display: inline-block;
    font-size: 24px;
    margin-left: 25px;
  }

  #content-section {
    padding: 20px;

    .block {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;

      .header {
        color: #404851;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
      }

      .value {
        color: #7d8288;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 300;
      }
    }

    #dictionary-list {
      display: inline-block;
      margin-right: 15px;
      width: 60%;
    }

    .panel {
      width: 100%;
    }

    #vocab-sentence {
      font-size: 26px;
    }

    .contained-writing {
      font-size: 24px;
    }

    #vocab-words-containing {

      .definition {
        font-size: 16px;
      }

      .reading {
        font-size: 16px;
      }

      .writing {
        color: $grey5;
        font-size: 26px;
      }

    }
  }

  #header-section {
    background-color: $white3;
    padding: 15px;
    position: relative;

    i {
      font-size: 24px;
    }

    .block {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
    }

    .separator {
      border-right: 1px solid $white5;
    }

    .edit-row {
      color: $green5;
      margin-bottom: -10px;
      padding-right: 5px;
    }

    .toughness {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: capitalize;
      text-align: center;
    }

    .toughness-label {
      margin-right: 15px;
      display: inline-block;
      color: $grey3;
      font-size: 14px;
      font-weight: 300;
    }

    .vocab-reading {
      text-align: left;
      margin-top: 15px;
      font-size: 16px;
      color: $grey4;
    }

    .definition {
      font-size: 16px;
      margin-bottom: 15px;
      text-align: left;
      display: block;
      color: $grey3;
    }

    .vocab-writing {
      font-size: 36px;
      text-align: center;
    }

    .icon-study-ban {
      margin-top: -3px;
    }

    .icon-study-ban.banned svg {
      fill: $gradeRed6;
      #Line {
        stroke: $gradeRed6;
      }
    }

    .alt-bracket {
      color: $grey1;
      display: inline-block;
    }

    .alt-bracket-l {
      width: 30px;
    }

    .alt-bracket-r {
      width: 18px;
    }

    .alt-writing {
      color: $grey3;
    }

    #vocab-definition {
      margin-top: 5px;
    }
  }

  .vocab-words-containing {
    max-height: 115px;
    overflow: hidden;

    &.show-all {
      max-height: none;
      overflow: visible;
    }
  }
}
