@import "../../../styles/_variables";

gelato-component[data-name='mobile-vocab-viewer-content'] {

  background-color: $white1;
  min-height: 100%;

  .dict-icon {
    margin: 15px 2vh 0 2vh;
    width: 6vh;
  }

  .edit-textbox {
    margin-top: 15px;
    width: 100%;
  }

  #content-section {
    padding: 20px;

    .block {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      .header {
        color: #404851;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
      }

      .value {
        color: #7d8288;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 300;
      }
    }

    #dictionary-list {
      display: inline-block;
      margin-right: 15px;
      width: 60%;
    }

    .panel {
      width: 100%;
    }

    #vocab-sentence {
      font-size: 26px;
    }

    .contained-writing {
      font-size: 24px;
    }

    #vocab-words-containing {

      .definition {
        font-size: 16px;
      }

      .reading {
        font-size: 16px;
      }

      .writing {
        color: $grey5;
        font-size: 26px;
      }

    }
  }

  #header-section {
    background-color: $white3;
    padding: 20px;
    position: relative;

    i {
      font-size: 24px;
    }

    .block {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
    }

    .separator {
      border-right: 1px solid $white5;
    }

    .edit-row {
      bottom: 10px;
      position: absolute;
      width: 100%;
    }

    .toughness {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: capitalize;
      text-align: center;
    }

    .toughness-label {
      margin-right: 15px;
      display: inline-block;
      color: $grey3;
      font-size: 14px;
      font-weight: 300;
    }

    .vocab-reading, .definition {
      font-size: 16px;
      color: $grey4;
    }

    .definition {
      margin-bottom: 30px;
      margin-top: 15px;
      display: block;
    }

    .vocab-writing {
      font-size: 36px;
      text-align: center;
    }

    .icon-study-ban {
      margin-top: -3px;
    }

    .icon-study-ban.banned svg {
      fill: $gradeRed6;
      #Line {
        stroke: $gradeRed6;
      }
    }

    .alt-bracket {
      color: $grey1;
      display: inline-block;
    }

    .alt-bracket-l {
      width: 30px;
    }

    .alt-bracket-r {
      width: 18px;
    }

    .alt-writing {
      color: $grey3;
    }
  }

  .vocab-words-containing {
    max-height: 115px;
    overflow: hidden;

    &.show-all {
      max-height: none;
      overflow: visible;
    }
  }
}
