<gelato-component data-name="prompt-detail">

    <div class="row">
        <div class="col-xs-12">
            <div id="vocab-style-text">{style}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <div id="vocab-writing-text">{writing}</div>
                </div>
                <div class="col-xs-6">{options}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <div id="vocab-reading-text">{reading}</div>
                </div>
                <div class="col-xs-6">{stats}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="detail-label">Definition</div>
            <div id="vocab-definition-text">{definition}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="detail-label">Example sentence</div>
            <div id="vocab-sentence-text">{sentence}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="detail-label">Mnemonic</div>
            <div id="vocab-mnemonic-text">{mnemonic}</div>
        </div>
    </div>

</gelato-component>