<gelato-component data-name="prompt-detail">

    <div class="row">
        <div class="col-xs-12">
            <h3 id="tutorial-title"></h3>
            <h5 id="tutorial-content"></h5>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-xs-12">
            <div id="vocab-style-value"></div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-xs-6 vocab-writing">
            <div id="vocab-writing-value"></div>
        </div>
        <div class="col-xs-6"><!-- OPTIONS --></div>
    </div>

    <div class="row">
        <div class="col-xs-6 vocab-reading">
            <div id="vocab-reading-value"></div>
        </div>
        <div class="col-xs-6"><!-- STATS --></div>
    </div>

    <div class="row">
        <div class="col-xs-12 vocab-definition">
            <div class="title">Definition</div>
            <div id="vocab-definition-value"></div>
        </div>
    </div>

    <div class="row hidden">
        <div class="col-xs-12 vocab-sentence">
            <div class="title">Example sentence</div>
            <div id="vocab-sentence-value"></div>
        </div>
    </div>

    <div class="row hidden">
        <div class="col-xs-12 vocab-mnemonic">
            <div class="title">Mnemonic</div>
            <div id="vocab-mnemonic-value"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="tutorial-buttons"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="tutorial-blurb">
                <div class="media">
                    <div class="media-left">
                        <div class="media-object"></div>
                    </div>
                    <div class="media-body">
                        <div class="media-header"></div>
                        <div class="media-subtext"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</gelato-component>