<div class="gelato-component prompt-grading">

        <div class="grading-button-1 cursor text-center">
            <div class="grading-value">1</div>
            <div class="grading-text">forgot</div>
        </div>

        <div class="grading-button-2 cursor text-center">
            <div class="grading-value">2</div>
            <div class="grading-text">so-so</div>
        </div>

        <div class="grading-button-3 cursor text-center">
            <div class="grading-value">3</div>
            <div class="grading-text">got it</div>
        </div>

        <div class="grading-button-4 cursor text-center">
            <div class="grading-value">4</div>
            <div class="grading-text">too easy</div>
        </div>

</div>