<div class="gelato-component prompt">

    <div class="content-block no-padding">

        <div class="row">

            <div class="canvas-section col-xs-12 col-md-6 no-select">
                <div class="prompt-banner-new"></div>
                <div class="prompt-navigation-container"></div>
                <div class="center-column">
                    <div class="writing-canvas-container"></div>
                    <div class="grading-container">
                        {grading container}
                    </div>
                    <div class="toolbar-container">
                        {toolbar container}
                    </div>
                </div>
            </div>

            <div class="detail-section col-xs-12 col-md-6">
                <div class="prompt-detail-container"></div>
            </div>

        </div>

    </div>

</div>