<div class="gelato-component prompt-toolbar">

    <div class="btn-group btn-group-justified cursor text-center" role="group" aria-label="toolbar-buttons">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <div class="option-stroke-order"></div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <div class="option-eraser"></div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <div class="option-reveal"></div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <div class="option-correct"></div>
            </button>
        </div>
    </div>

</div>