<gelato-component data-name="study-toolbar">

    <div class="row">
        <div class="col-xs-3">
            <span id="collapse-button"></span>
        </div>
        <div class="col-xs-3">
            <span id="due-count-value"></span>
            items due
            <span id="add-button"></span>
        </div>
        <div class="col-xs-3">
            <span id="timer-value"></span>
        </div>
        <div class="col-xs-3">
            <i id="volume-button"></i>
            <i id="lists-button"></i>
            <i id="settings-button"></i>
        </div>
    </div>

</gelato-component>