<div class="gelato-component vocab-detail">

    <div class="header-row row">

        <div class="col-xs-12">

            <div class="header-block">
                <div class="vocab-writing"></div>
                <div class="vocab-reading"></div>
            </div>

            <div class="header-block">
                <div class="vocab-writing-trad"></div>
                <div>trad</div>
            </div>

            <div class="header-block">
                <div class="vocab-difficulty"></div>
                <div>level</div>
            </div>

            <div class="detail-options">
                <div class="button-audio"></div>
                <div class="button-star"></div>
                <div class="button-add"></div>
            </div>

        </div>

    </div>

    <div class="detail-section row">

        <div class="col-xs-6">

            <div class="detail-block">
                <div class="detail-title">Definition</div>
                <div class="vocab-definition"></div>
            </div>

            <div class="detail-block">
                <div class="detail-title">Heisig</div>
                <div class="vocab-heisig"></div>
            </div>

            <div class="detail-block">
                <div class="detail-title">Example sentence</div>
                <div class="vocab-sentence"></div>
            </div>

            <div class="detail-block">
                <div class="detail-title">Mnemonic</div>
                <div class="vocab-mnemonic"></div>
            </div>

            <div class="detail-block">
                <div class="detail-title">Dictionary</div>
                <div>{TODO}</div>
            </div>

        </div>

        <div class="col-xs-6">

            <div class="detail-block">
                <div class="detail-title">Decomposition of <span></span></div>
                <div class="vocab-decompositions"></div>
            </div>

            <div class="detail-block">
                <div class="detail-title">Words containing <span></span></div>
                <div class="vocab-words-containing"></div>
            </div>

            <div class="detail-block">
                <div class="detail-title">Characters containing <span></span></div>
                <div class="vocab-characters-containing"></div>
            </div>

        </div>

    </div>

</div>