@import "../../styles/variables";

gelato-component[data-name='vocablist-table'] {

  color: #404851;
  font-family: $font-muli;
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px;

  table {
    thead { display: none; }
    tbody {
      td { border: none; }
      tr { cursor: pointer; }
    }
    .field-progress { width: 50%; }
  }

}
