@import "../../../../styles/_variables";

gelato-component[data-name="study-prompt-toolbar-grading"] {
  z-index: 6002;

  .btn-default {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $grey2;
    cursor: pointer;
    font-family: $font-slab;
    padding: 0;

    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: $grey2;
      outline: 0;
    }

    &.selected {
      color: $grey9;
      &.grade1 {
        color: $grade1;
      }
      &.grade2 {
        color: $grade2;
      }
      &.grade3 {
        color: $grade3;
      }
      &.grade4 {
        color: $grade4;
      }
    }

    .grade-text {
      font-size: 16px;
      font-weight: 300;
      text-shadow: -2px 0 $white1, 0 2px $white1, 2px 0 $white1, 0 -2px $white1;
    }

    .grade-value {
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
    }

    .teaching-text {
      font-size: 22px;
      font-weight: 300;
    }
  }

  .btn-group {
    background: linear-gradient(0deg, rgba(251, 250, 252, 1), rgba(251, 250, 252, 0));
    padding-bottom: 5px;
  }
}
