gelato-component(data-name="study-prompt-toolbar-grading")

  .btn-group.btn-group-justified.tap-to-advance-wrapper.hidden(role='group')
    .btn-group(role='group').text-center
      button.btn.btn-default(type='button')
        .teaching-text tap to advance

  .btn-group.btn-group-justified.grading-btn-wrapper.hidden(role='group')
    .btn-group(role='group')
      button.btn.btn-default.grading-btn.grade1(type='button', data-value='1')
        .grade-value 1
        .grade-text forgot
    .btn-group(role='group')
      button.btn.btn-default.grading-btn.grade2(type='button', data-value='2')
        .grade-value 2
        .grade-text so-so
    .btn-group(role='group')
      button.btn.btn-default.grading-btn.grade3(type='button', data-value='3')
        .grade-value 3
        .grade-text got it
    .btn-group(role='group')
      button.btn.btn-default.grading-btn.grade4(type='button', data-value='4')
        .grade-value 4
        .grade-text too easy

