<div id="view-account" class="padding-top view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left">
                    <li><a class="button-save" href="#"><i class="fa fa-check"></i> Save</a></li>
                    <li><a class="button-cancel" href="#"><i class="fa fa-times"></i> Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div class="content-block">
            <div class="row">
                <div class="col-xs-9">
                    <h4><span id="user-name"></span> <span id="user-id" class="text-muted"></span></h4>
                    <p id="user-about-me" class="lead"></p>
                </div>
                <div class="col-xs-3">
                    <div id="user-avatar"></div>
                    <button type="button" class="button-change-avatar btn btn-xs btn-default">Change Avatar</button>
                </div>
            </div>
        </div>
        <div class="content-block">
            <h3>Subscription</h3>
            <p><span id="subscription-expires"></span> <span id="subscription-plan"></span></p>
            <button type="button" class="button-start-subscription btn btn-sm btn-success">Start Subscription</button>
            <button type="button" class="button-cancel-subscription btn btn-sm btn-danger">Cancel Subscription</button>
        </div>
        <div class="content-block">
            <h3>Language</h3>
        </div>
        <div class="content-block">
            <h3>Location</h3>
            <h6>Country</h6>
            <div id="location-country"><</div>
            <h6>Timzone</h6>
            <div id="location-timezone"></div>
        </div>
    </div>
</div>