<div id="view-account" class="padding-top view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left">
                    <li><a class="button-save" href="#"><i class="fa fa-check"></i> Save</a></li>
                    <li><a class="button-cancel" href="#"><i class="fa fa-times"></i> Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div class="content-block">
            <div class="row">
                <div class="col-xs-9">
                    <h2><span id="user-name"></span> <span id="user-id" class="text-muted"></span></h2>
                    <p id="user-about-me" class="lead"></p>
                </div>
                <div class="col-xs-3">
                    <div id="user-avatar"></div>
                </div>
            </div>
        </div>
        <div class="content-block">
            <h4>Language</h4>
        </div>
        <div class="content-block">
            <h4>Subscription</h4>
        </div>
        <div class="content-block">
            <h4>Location</h4>
        </div>
    </div>
</div>