<div id="view-admin-stroke-editor" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left">
                    <li><a class="button-home" href="#"><i class="fa fa-arrow-left"></i></a></li>
                </ul>
                <ul class="navbar-nav navbar-text list-inline pull-right"></ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container no-scroll">
        <div id="writing-area"></div>
    </div>
</div>
