<div id="view-home-logged-in" class="padding-top view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left">
                    <li><a class="button-review-list" href="#"><i class="fa fa-list"></i></a></li>
                </ul>
                <ul class="navbar-nav navbar-text list-inline pull-right">
                    <li><a class="button-sync" href="#"><i class="fa fa-refresh"></i></a></li>
                    <li><a class="button-logout" href="#"><i class="fa fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div id="message"></div>
        <div class="row">  
            <div class="col-xs-12 col-md-6">
                <div id="summary" class="content-block">
                    <div class="media">
                        <div class="pull-left">
                            <div id="user-avatar" class="media-object"></div>
                            <button type="button" class="button-edit-account btn btn-fill btn-sm btn-default">Edit Account</button>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Overview</h4>
                            <p><strong><span id="user-id"></span></strong>, you currently have <strong><span id="user-due-count"></span></strong> items ready to review.</p>
                            <button type="button" class="btn btn-success button-study"><span class="fa fa-pencil"></span> Study</button>
                            <button type="button" class="btn btn-primary button-lists"><span class="fa fa-book"></span> Lists</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6"></div>
        </div>
        <div class="row">  
            <div class="col-xs-12">
                <div id="admin-item-filter" class="content-block">
                    <h4>Admin: Filter Items</h4>
                    <p>Enter common separated item id values (eg. 好-0-rune, 你-0-tone).</p>
                    <textarea id="filter-values" class="fill"></textarea>
                    <button type="button" class="btn btn-xs btn-default button-filter-apply">Apply</button>
                    <button type="button" class="btn btn-xs btn-default button-filter-clear">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div id="font-preloader">力</div>
</div>