<div class="view view-home">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle-sidebar">
                    <i class="fa fa-2x fa-bars"></i>
                    <span class="user-avatar"></span>
                </div>
                <ul class="navbar-nav navbar-text list-inline pull-right">
                    <li><a class="button-sync" href="#"><i class="fa fa-refresh"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar"></div>

    <div id="content" class="content-container container-fluid">
        <div id="message"></div>
        <div class="content-block">
            <h2>Overview</h2>
            <p><strong><span class="user-username"></span></strong>, you currently have <span class="due-count">0</span> items ready for review from <span class="list-count">0</span> lists.</p>
            <button type="button" class="btn btn-success button-study">Study</button>
            <button type="button" class="btn btn-info button-lists">Lists</button>
        </div>
    </div>

    <div class="font-preloader">力</div>

</div>