<div id="view-home-logged-in" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="hidden-xs button-home navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a class="button-study" href="#"><span class="fa fa-pencil"></span> Study</a></li>
                    <li><a class="button-lists" href="#"><span class="fa fa-list-alt"></span> Lists</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="summary" class="content-block">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span id="user-avatar" class="media-object"></span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Overview</h4>
                            <p><strong><span id="user-id"></span></strong>, you currently have <strong><span id="user-due-count"></span></strong> items ready to review.</p>
                            <button type="button" class="btn btn-primary pull-right button-sync"><span class="fa fa-refresh"></span> Sync</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>