<div class="view view-landing">
    
    <div class="navbar navbar-default navbar-fixed-top no-menu" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><%= application.name %> <span class="target-language"></span></a>
            </div>
        </div>
    </div>
    
    <div id="content" class="content-container container-fluid">
        <div class="content-block">
            <h1><%= landing.welcomeMessage %></h1>
            <button type="button" class="button-new-user btn btn-primary"><%= landing.newUser %></button>
            <button type="button" class="button-existing-user btn btn-success"><%= landing.existingUser %></button>
        </div>
    </div>
    
    <div class="font-preloader">力</div>
    
</div>