<!-- /MODAL: add-items -->
<div id="add-items" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-items" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">How many items?</h4>
            </div>
            <div class="modal-body">
                <input class="item-limit" type="number" min="1" max="100" step="1" value="1">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-success button-add"><i class="fa fa-2x fa-plus"></i> Add</button>
                    <button type="button" class="btn btn-sm btn-danger button-cancel" data-dismiss="modal"><i class="fa fa-2x fa-times"></i> Cancel</button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                        <span class="modal-progress-value"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL: confirm -->
<div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL: default -->
<div id="default" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="default" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL: download -->
<div id="download" class="modal modal-download fade" tabindex="-1" role="dialog" aria-labelledby="download" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="modal-title-icon fa fa-2x"></i>
                <h4> <span class="modal-title"></span></h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">% Complete</span>
                        <span class="modal-progress-value"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL: exit -->
<div id="exit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="modal-title-icon fa fa-2x"></i>
                <h4> <span class="modal-title"></span></h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-sm btn-danger modal-button-cancel" data-dismiss="modal"><span class="fa fa-2x fa-times"></span> No</button>
                <button type="button" class="btn btn-sm btn-success modal-button-ok pull-right"><span class="fa fa-2x fa-check"></span> Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL: loading -->
<div id="loading" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loading" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="img/ajax-loader.gif"> 
                <h5 class="message"></h5>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL: logout -->
<div id="logout" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="modal-title-icon fa fa-2x"></i>
                <h4><span class="modal-title"></span></h4>
            </div>
            <div class="modal-body">
                <div class="modal-options">
                    <button type="button" class="btn btn-sm btn-default modal-button-cancel" data-dismiss="modal"><span class="fa fa-2x fa-times"></span> Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger modal-button-logout pull-right"><span class="fa fa-2x fa-check"></span> Log Out</button>
                </div>
                <div class="message text-center"></div>
            </div>
            <div class="modal-footer">
                <div class="message text-center"></div>
            </div>
        </div>
    </div>
</div>