<div class="prompt">

    <div class="info-section content-block no-margin">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="character-font prompt-field prompt-writing"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-reading"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-definition"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-mnemonic"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="character-font prompt-field prompt-sentence"></span>
            </div>
        </div>
        <div class="row">
            <div class="prompt-toolbar">
                <div class="prompt-newness">NEW</div>
                <i class="button-eraser fa fa-2x fa-eraser"></i>
                <i class="button-reveal fa fa-2x fa-eye"></i>
            </div>
        </div>
    </div>

    <div class="input-section content-block no-margin no-padding">
        <div class="navigate navigate-left fa fa-chevron-left"></div>
        <div class="navigate navigate-right fa fa-chevron-right"></div>
        <div class="prompt-style"></div>
        <div class="canvas-container"></div>
        <div class="grading-container"></div>
        <div class="teaching-container"></div>
    </div>

</div>