<div id="rune" class="prompt">
    
    <div class="info-section content-block no-margin">
        <div class="row">
            <div class="col-xs-12 col-md-6 prompt-field prompt-writing"></div>
            <div class="col-xs-12 col-md-6 prompt-field prompt-reading"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 prompt-field prompt-definition"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 prompt-field prompt-sentence"></div>
        </div>
    </div>
    
    <div class="input-section content-block no-margin no-padding">
        <div class="canvas-container"></div>
        <div class="grading-container"></div>
    </div>
    
</div>