<div class="canvas-holder">
    <canvas class="canvas-display"></canvas>
    <canvas class="canvas-input"></canvas>
    <div class="prompt-question">
        <h1 class="character-font prompt-field prompt-writing text-center"></h1>
        <h3 class="text-center prompt-field prompt-question-text"></h3>
        <h4 class="text-center prompt-field prompt-question-help"></h4>
    </div>
    <div class="prompt-answer">
        <h1 class="character-font prompt-field prompt-writing text-center"></h1>
        <h3 class="prompt-field prompt-answer-text text-center"></h3>
    </div>
</div>