<div id="tone" class="prompt prompt-tone">
    
    <div class="info-section content-block no-margin">
        <div class="row bottom-spacing">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-reading"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-writing"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-definition"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="prompt-field prompt-sentence"></span>
            </div>
        </div>
    </div>
    
    <div class="input-section content-block no-margin no-padding">
        <div class="canvas-container"></div>
        <div class="grading-container"></div>
    </div>
    
</div>