<div id="rdng" class="prompt-container">
    <div id="info-section" class="content-block no-margin no-shadow">
        <i class="fa fa-2x fa-chevron-down button-toggle-hint"></i>
        <div id="prompt-hint-text" class="text-center">(click to show hint)</div>
        <div id="prompt-hint" class="collapsed">
            <div class="prompt-row">
                <div id="prompt-definition"></div>
            </div>
            <div class="prompt-row">
                <div id="prompt-sentence"></div>
            </div>
            <div class="prompt-row">
                <div id="prompt-mnemonic"></div>
            </div>
        </div>
        <div id="prompt-stats">
            <span id="prompt-newness"></span>
            <span id="prompt-style"></span>
        </div>
    </div>
    <div id="input-section" class="content-block no-margin no-padding no-shadow">
        <div class="navigate navigate-backward">
            <i class="fa fa-2x fa-chevron-left"></i>
        </div>
        <div class="navigate navigate-forward">
            <i class="fa fa-2x fa-chevron-right"></i>
        </div>
        <div id="prompt-text">
            <div id="question">
                <h1 class="prompt-writing character-font text-center"></h1>
                <h2 class="text-center">How do you say it?</h2>
                <h4 class="text-center">(click to show answer)</h4>
            </div>
            <div id="answer">
                <h1 class="prompt-writing character-font text-center"></h1>
                <h1 class="text-center">
                    <span id="prompt-reading"></span>
                </h1>
            </div>
        </div>
        <div id="grading-container"></div>
    </div>
</div>