<div id="rune" class="prompt">
    
    <div id="info-section" class="content-block">
        
        <div class="row">
            <div class="col-xs-12 col-md-6 prompt-writing">{writing}</div>
            <div class="col-xs-12 col-md-6 prompt-reading">{reading}</div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 prompt-sentence">{sentence}</div>
        </div>
        
    </div>
    
    <div id="input-section" class="content-block no-padding">
        <div class="canvas-container"></div>
        <div class="grading-container"></div>
    </div>
    
</div>