<div id="rune" class="prompt-container">
    <div id="info-section" class="content-block no-margin no-shadow">
        <div class="prompt-row">
            <div id="prompt-writing" class="character-font"></div>
            <div id="prompt-reading"></div>
        </div>
        <div class="prompt-row">
            <div id="prompt-definition"></div>
        </div>
        <div class="prompt-row">
            <div id="prompt-sentence"></div>
        </div>
        <div id="prompt-hint">
            <div class="prompt-row">
                <div id="prompt-mnemonic"></div>
            </div>
        </div>
        <div id="prompt-stats">
            <span id="prompt-newness"></span>
            <span id="prompt-style"></span>
        </div>
    </div>
    <div id="input-section" class="content-block no-margin no-padding no-shadow">
        <div class="navigate navigate-backward">
            <i class="fa fa-2x fa-chevron-left"></i>
        </div>
        <div class="navigate navigate-forward">
            <i class="fa fa-2x fa-chevron-right"></i>
        </div>
        <div id="writing-area"></div>
        <div id="grading-container"></div>
    </div>
</div>