<ul>
    <li class="button-sidebar-home"><div><i class="fa fa-2x fa-lg fa-home"></i> <span>Home</span></div></li>
    <li class="button-sidebar-study"><div><i class="fa fa-2x fa-lg fa-pencil"></i> <span>Study</span></div></li>
    <li class="button-sidebar-lists"><div><i class="fa fa-2x fa-lg fa-list"></i> <span>Lists</span></div></li>
    <li><div class="spacer"></div></li>
    <li class="button-sidebar-account"><div><i class="fa fa-2x fa-lg fa-user"></i> <span>Account</span></div></li>
    <li class="button-sidebar-logout"><div><i class="fa fa-2x fa-lg fa-sign-out"></i> <span>Sign Out</span></div></li>
</ul>