<div id="view-study" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left">
                    <li><a class="button-home" href="#"><i class="fa fa-arrow-left"></i></a></li>
                    <li><i class="fa fa-inbox"></i> <span id="items-due">0</span></li>
                    <li><i class="fa fa-clock-o"></i> <span id="timer">0:00</span></li>
                    <li class="button-audio cursor"><i class="fa fa-volume-up"></i></li>
                </ul>
                <ul class="navbar-nav navbar-text list-inline pull-right">
                    <li><a class="button-add-items" href="#"><i class="fa fa-plus"></i></a></li>
                    <li><a class="button-study-settings" href="#"><i class="fa fa-cogs"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container no-scroll"></div>
</div>