<div class="view view-study">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle-sidebar">
                    <i class="fa fa-2x fa-bars"></i>
                    <span class="user-avatar"></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="sidebar">
        <ul>
            <li class="button-home"><div><i class="fa fa-2x fa-lg fa-home"></i> <span>Home</span></div></li>
            <li class="button-study"><div><i class="fa fa-2x fa-lg fa-pencil"></i> <span>Study</span></div></li>
            <li class="button-options"><div><i class="fa fa-2x fa-lg fa-cogs"></i> <span>Options</span></div></li>
            <li class="button-logout"><div><i class="fa fa-2x fa-lg fa-sign-out"></i> <span>Sign Out</span></div></li>
        </ul>
    </div>
    
    <div id="content" class="content-container container-fluid">
        <div class="prompt-container"></div>
    </div>
    
    <div class="font-preloader">力</div>
    
</div>