<div id="view-study" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left">
                    <li><a class="button-home" href="#"><span class="fa fa-arrow-left"></span></a></li>
                    <li><span class="fa fa-inbox"></span> <span id="items-due">0</span></li>
                    <li><span class="fa fa-clock-o"></span> <span id="timer">0:00</span></li>
                    <li><a class="button-audio" href="#"><span class="fa fa-volume-off"></span></a></li>
                </ul>
                <ul class="navbar-nav navbar-text list-inline pull-right">
                    <!--<li><a id="add-button" href="#"><span class="fa fa-plus"></span></a></li>-->
                    <li><a class="button-study-settings" href="#"><span class="fa fa-cogs"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container no-scroll"></div>
</div>