<div class="view-test padding-top view no-sidebar">
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-back button-back">
                    <i class="fa fa-2x fa-chevron-left"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-container container-fluid">
        <div id="content" class="content-block"></div>
    </div>
    
</div>