<div class="view view-user-account">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle-sidebar">
                    <i class="fa fa-2x fa-bars"></i>
                    <span class="user-avatar"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar"></div>

    <div id="content" class="content-container container-fluid">
        <div class="content-block">
            <h1 class="user-username"></h1>
        </div>
        <div class="content-block">
            <h3>Subscription (<span id="sub-status"></span>)</h3>
            <h4>Plan: <small id="sub-plan"></small></h4>
            <h4>Expires: <small id="sub-expires"></small></h4>

            <h4>Timezone: <small id="user-timezone"></small></h4>
            <div id="sub-options">
                <button id="button-sub-one-month" type="button" class="btn btn-sm btn-primary">1 Month ($14.00/month)</button>
                <button id="button-sub-one-year" type="button" class="btn btn-sm btn-primary">12 Months ($99.00/year)</button>
                <button id="button-sub-cancel" type="button" class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </div>
    </div>

    <div class="font-preloader">力</div>

</div>