<div class="view view-vocab-lists">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle-sidebar">
                    <i class="fa fa-2x fa-bars"></i>
                    <span class="user-avatar"></span>
                    <span class="page-title">Lists</span>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar"></div>

    <div id="content" class="content-container container-fluid">
        <div id="block-search" class="content-block no-padding">
            <div class="input-group">
                <input type="text" class="form-control" disabled="disabled">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div id="block-lists" class="content-block overflow">
            <div id="lists"></div>
        </div>
        <div id="block-sort" class="content-block no-padding">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" id="button-category-studying" class="button-category btn btn-default">My Lists</button>
                </div>
                <div class="btn-group">
                    <button type="button" id="button-category-textbook" class="button-category btn btn-default">Textbooks</button>
                </div>
            </div>
        </div>
    </div>

    <div class="font-preloader">力</div>

</div>