<div class="view view-vocab-list">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle-sidebar">
                    <i class="fa fa-2x fa-bars"></i>
                    <span class="user-avatar"></span>
                    <span class="page-title">List</span>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar"></div>

    <div id="content" class="content-container container-fluid">
        <div class="content-block">
            <h2 class="list-name"></h2>
            <p class="list-description"></p>
            <h4>Creator: <small id="list-creator"></small></h4>
            
        </div>
        <div class="content-block">
            <h3>Options</h3>
            <button type="button" class="button-enable-list btn btn-success button-list-options"><i class="fa fa-play-circle"></i> Enable</button>
            <button type="button" class="button-start-list btn btn-success button-list-options"><i class="fa fa-play"></i> Start</button>
            <button type="button" class="button-pause-list btn btn-warning button-list-options"><i class="fa fa-pause"></i> Pause</button>
            <button type="button" class="button-disable-list btn btn-danger button-list-options"><i class="fa fa-stop"></i> Disable</button>
        </div>
        <div class="content-block">
            <div id="list-sections"></div>
        </div>
    </div>

    <div class="font-preloader">力</div>

</div>