<div class="view view-vocab-info">
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-right">
                    <li><a class="button-back" href="#"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="content-container container-fluid">
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="vocab-writing character-font"></h1>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="vocab-reading"></h4>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="vocab-definition"></h4>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="vocab-mnemonic"></h4>
                    <h6 class="vocab-mnemonic-author"></h6>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="vocab-sentence"></h4>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Contained Characters</h4>
                    <table class="cursor table table-hover vocab-contained">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Decompositions</h4>
                    <table class="cursor table table-hover vocab-decomps">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="font-preloader">力</div>
    
</div>