<div id="view-vocab-info" class="padding-top view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav navbar-text list-inline pull-left"></ul>
                <ul class="navbar-nav navbar-text list-inline pull-right">
                    <li><a class="button-back" href="#"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-container" class="container">
        <div id="writing" class="content-block">
            <h4 class="text-muted">Writing</h4>
            <div class="row">
                <div class="col-xs-6">
                    <h1 id="info-writing"></h1>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
        <div class="content-block">
            <h4 class="text-muted">Reading</h4>
            <h4 id="info-reading"></h4>
        </div>
        <div class="content-block">
            <h4 class="text-muted">Definition</h4>
            <div id="info-definition"></div>
        </div>
        <div class="content-block">
            <h4 class="text-muted">Sentence</h4>
            <div id="info-sentence">
                <h4 class="writing"></h4>
                <h4 class="reading"></h4>
                <h4 class="definition"></h4>
            </div>
        </div>
        <div class="content-block">
            <h4 class="text-muted">Mnemonic</h4>
            <h4 id="info-mnemonic"></h4>
        </div>
    </div>
</div>