gelato-component(data-name='mobile-study-prompt-vocab-definition')
  - var prompt = view.prompt;

  if prompt.reviews
    - var vocab = prompt.reviews.vocab;
    - var definition = prompt.reviews.vocab.getDefinition();

    if prompt.reviews.part !== 'defn'
      .value
        if view.editing
          textarea= definition
        else
          if definition
            if prompt.reviews.isDefinitionShown()
              if app.user.get('showHeisig') && vocab.has('heisigDefinition')
                em!= vocab.get('heisigDefinition') + ' - '
              span!= definition
            else
              button#show-definition.btn.btn-sm.btn-default show
          else
            em Click the 'edit' icon to add a definition
