gelato-component(data-name='study-prompt-vocab-definition')
  - var prompt = view.prompt;

  if prompt.reviews
    - var definition = prompt.reviews.vocab.getDefinition();

    label Definition

    case prompt.reviews.part

      when 'defn'
        .value(class=(prompt.reviews.isComplete() ? 'visible' : 'invisible'))
          if view.editing
            textarea= definition
          else
            if definition
              span!= definition
            else
              em Click the 'edit' icon to add a definition

      default
        .value
          if view.editing
            textarea= definition
          else
            if definition
              if prompt.review.isDefinitionHidden()
                button#show-definition.btn.btn-sm.btn-default show
              else
                span!= definition
            else
              em Click the 'edit' icon to add a definition
