gelato-dialog(data-name='demo-call-to-action')

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content

        .modal-header
          .pull-left
            .modal-title Start your 7-day free trial
          //.pull-right
            a(href='#', data-dismiss='modal')
              i.fa.fa-times-circle-o

        .modal-body
          p
            | That’s how Skritter works.
            | Create your free trial account to start tracking your progress, gain access to thousands of vocabulary lists, and begin your path to character mastery!

        .modal-footer
          button#button-back.btn.btn-lg.btn-default= app.locale('common.back')
          button#button-signup.btn.btn-lg.btn-primary= app.locale('common.signUp')
