<?xml version='1.0' encoding='utf-8'?>
<widget id="com.inkren.skritter.japanese" version="@@version" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Skritter Japanese</name>
    <description>
        Learn to read and write Japanese characters.
    </description>
    <author email="josh@skritter.com" href="http://www.skritter.com/">
        Joshua McFarland
    </author>
    <content src="index-cordova.html" />
    <access origin="*" />
</widget>