<?xml version='1.0' encoding='utf-8'?>
<widget id="com.inkren.skritter.japanese" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Skritter Japanese</name>
    <description>
        Learn to write Japanese characters.
    </description>
    <author email="team@skritter.com" href="https://www.skritter.com">
        Skritter Team
    </author>
    <content src="index-cordova.html" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.4.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="./icons/ldpi.png" density="ldpi" />
        <icon src="./icons/mdpi.png" density="mdpi" />
        <icon src="./icons/hdpi.png" density="hdpi" />
        <icon src="./icons/xhdpi.png" density="xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
