gelato-page(data-name="password-reset")
  gelato-navbar.theme-marketing.fixed-top
    .container-fluid
      .container
        .left
          .item.item-header(data-url="#")
            //i.fa.fa-chevron-left
            | Password Reset
  gelato-content
    #section-main.content-block
      .text-center.text-danger
        #response-message
      form.form-horizontal
        .form-group
          label.col-sm-6.control-label(for="login-email") Email or username
          .col-sm-6
            input#login-email.form-control(type="email")
        .text-center
          button#reset-submit.btn.btn-success(type="submit") Reset
      #back-to-login.text-center
        a(href="#", data-url="login") Back to login
    #footer-container