<gelato-component data-name="footer">

    <div class="container">
        <div class="row text-center">
            <div class="col-xs-4">
                <div class="header">Company</div>
                <div class="list">
                    <a href="#" data-url="about">About us</a>
                    <a href="#" data-url="legal">Legal</a>
                    <a href="#" data-url="contact">Contact</a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="header">Community</div>
                <div class="list">
                    <a href="#" data-url="blog">Blog</a>
                    <a href="#" data-url="forum">Forum</a>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-google-plus"></i>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="header">Help</div>
                <div class="list">
                    <a href="#" data-url="resources">Resources</a>
                    <a href="#" data-url="institutions">Institutions</a>
                    <a href="#" data-url="faqs">FAQs</a>
                </div>
            </div>
        </div>
    </div>

</gelato-component>