gelato-dialog(data-name='demo-language-select-dark').dark-notification-dialog

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .dialog-title Language Selection
      .content
        .modal-body
          .button-wrapper.clearfix.pad-bottom
            #button-select-chinese.language-selection-button
              .selection-indicator
              .button-detail-wrapper
                .button-detail-text Chinese
                .button-detail-text 中文
          .button-wrapper.clearfix
            #button-select-japanese.language-selection-button
              .selection-indicator
              .button-detail-wrapper
                .button-detail-text Japanese
                .button-detail-text 日本語