gelato-dialog(data-name='demo-language-select')

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content

        .modal-header
          .pull-left
            .modal-title Welcome to the Skritter demo!
          //.pull-right
            a(href='#', data-dismiss='modal')
              i.fa.fa-times-circle-o

        .modal-body
          p Please select your language and we’ll show you how studying characters on Skritter works.

        .modal-footer
          button#button-select-chinese.btn.btn-lg.btn-primary Chinese
          button#button-select-japanese.btn.btn-lg.btn-primary Japanese
