gelato-component(data-name='practice-pad-toolbar')
  .row
    .col-md-10.vocabs-list Here be a list of items to study
    .col-md-2.sign-up-wrapper.text-right
      a.btn.btn-success(href="/signup") Like what you see?