@import "../../../styles/_variables";

gelato-component[data-name='practice-pad-toolbar'] {
  font-family: $font-slab;
  font-size: 24px;
  font-weight: 300;
  height: 35px;
  margin: 20px auto;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;

  i {
    cursor: pointer;
    font-size: 28px;
  }

  .text-left i {
    margin-right: 10%;
  }

  .text-right i {
    margin-left: 10%;
  }

  .vocablist-section {
    font-size: 14px;
  }

  .nav-list-btn, .vocab-list-wrapper {
    display: inline-block;
    font-family: $font-ubuntu;
  }

  .nav-list-btn {
    cursor: pointer;

    &:hover {
      color: $green6;
    }

    .btn-label {
      font-size: 16px;
    }
  }
}
