@import "../../../styles/_variables";

gelato-component[data-name='practice-pad-toolbar'] {
  font-family: $font-slab;
  font-size: 24px;
  font-weight: 300;
  height: 35px;
  margin: 20px auto;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;

  i {
    cursor: pointer;
    font-size: 28px;
  }

  .text-left i {
    margin-right: 10%;
  }

  .text-right i {
    margin-left: 10%;
  }

  .vocablist-section {
    font-size: 14px;
  }

  .vocab-item {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    color: #808080;
    font-weight: bold;

    &:hover {
      color: $green6;

      .highlight {
        background-color: rgba(0,0,0,0.3);
      }
    }

    .highlight {
      margin-top: 2px;
      background-color: rgba(0,0,0,0.3);
      height: 5px;
      width: 100%;
    }

    &.selected {
      color: $grey8;
      cursor: initial;

      .highlight {
        background-color: $green4;
        box-shadow: 0px 2px 3px #6b695f;
      }
    }
  }

  .arrow {
    height: 37px;
    width: 20px;
    display: inline-block;
    margin-left: 10px;
  }

  .back-arrow {
    transform: rotate(180deg);
    margin-left: 0px;
    margin-right: 10px;
  }

  #next-vocab-btn {
    margin-left: 15px;
  }

  #prev-vocab-btn {
    margin-right: 20px;
  }

  .nav-list-btn, .vocab-list-wrapper {
    display: inline-block;
    font-family: $font-ubuntu;
  }

  .nav-list-btn {
    cursor: pointer;

    &:hover {
      color: $green6;

      .btn-label {
        color: $green6;
      }
    }

    .btn-label {
      letter-spacing: 1px;
      font-size: 19px;
      font-weight: bold;
    }
  }
}
