@import "../../../styles/_variables";

gelato-component[data-name='practice-pad-toolbar'] {
  font-family: $font-slab;
  font-size: 24px;
  font-weight: 300;
  height: 35px;
  margin: 20px auto;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;

  i {
    cursor: pointer;
    font-size: 28px;
  }

  .text-left i {
    margin-right: 10%;
  }

  .text-right i {
    margin-left: 10%;
  }
  .vocablist-section {
    font-size: 14px;
  }

  .vocabs-list {
    background: $white;
    border-radius: 5px;
  }
}
