gelato-component(data-name='words-sidebar')
  .options
    a(href="/words/all") All Words
    a(href="/words/mnemonics") Mnemonics
    a(href="/words/starred") Starred Words
    a(href="/words/banned") Banned Words
