<div class="desktop no-navbar page page-create-account">

    <div class="container text-center">

        <h1>Create Account</h1>

        <p class="text-muted">Creating an account will ensure that you're able to access your data even after uninstalling the app or switching devices.</p>

        <hr>

        <form class="create-account-form" role="form">
            <h4 id="message" class="text-danger"></h4>
            <fieldset>
                <div class="form-group">
                    <h4>{{account-creation.create-account.username}}:</h4>
                    <input type="text" name="create-account-username" id="create-account-username" class="form-control input-lg" value="">
                    <h4>{{account-creation.create-account.email}}:</h4>
                    <input type="text" name="create-account-email" id="create-account-email" class="form-control input-lg" value="">
                    <h4>{{account-creation.create-account.password}}:</h4>
                    <input type="password" name=create-account-password" id="create-account-password" class="form-control input-lg" value="">
                </div>
                <button id="button-create" class="btn btn-lg btn-block btn-success vertical-margin">Create &raquo;</button>
                <hr>
                <button id="button-skip" class="btn btn-lg btn-block btn-default vertical-margin">Skip</button>
            </fieldset>
        </form>

    </div>

</div>