<gelato-component data-name="prompt">

        <div class="content-block no-padding">
            <div class="row">
                <div id="panel-left" class="col-xs-6 no-select">
                    <div id="prompt-banner-new">
                        <i class="icon icon-study-new-character"></i>
                    </div>
                    <div id="panel-left-center">
                        <div id="prompt-canvas-container"></div>
                        <div id="prompt-navigation-container"></div>
                        <div id="prompt-grading-container"></div>
                        <div id="prompt-toolbar-container"></div>
                    </div>
                </div>
                <div id="panel-right" class="col-xs-6">
                    <div id="prompt-demo-container"></div>
                    <div id="prompt-detail-container"></div>
                </div>
            </div>
        </div>

</gelato-component>