gelato-component(data-name='marketing-footer')
  .container
    .row.text-center
      .col-xs-4
        .header Company
        .list
          a(href="#", data-navigate="about") About us
          a(href="#", data-navigate="legal") Legal
          a(href="#", data-navigate="contact") Contact
      .col-xs-4
        .header Community
        .list
          a(href="#", data-navigate="blog") Blog
          a(href="#", data-navigate="forum") Forum
          i.fa.fa-facebook-square
          | &nbsp;&nbsp;
          i.fa.fa-twitter
          | &nbsp;
          i.fa.fa-google-plus
      .col-xs-4
        .header Help
        .list
          a(href="#", data-navigate="resources") Resources
          a(href="#", data-navigate="institutions") Institutions
          a(href="#", data-navigate="faqs") FAQs
