@import "../../styles/_variables";

gelato-page[data-name='home'] {

  section {
    padding-bottom: 100px;
    padding-top: 75px;
    .header {
      font-family: $font-slab;
      font-size: 36px;
      font-weight: 400;
    }
    &.dark {
      background-color: #262b30;
      color: $grey2;
    }
    &.light {
      background-color: #fbfafc;
      color: #838f98;
    }
  }

  #hero-slider {
    position: relative;
    background: #666;

    .carousel-inner, .item {
      height: 100%;
    }

    img {
      width: 100%;
    }

    .carousel-header {
      color: $white1;
      font-size: 36px;
      position: absolute;
      top: 40%;
      z-index: 9999;
      .btn {
        margin-top: 75px;
        padding: 15px 30px;
      }

    }
  }

  .cover-section-wrapper {
    position: relative;
  }

  .main {
    padding: 0px;
    margin-top: 50px;
    width: 100%;
    height: calc(100% - 100px);
    background: url("#{$dir-assets}/images/landing/bamboo-background.jpg") no-repeat bottom right scroll;
    background-size: cover;

  }

  .left-wrapper {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 54%;
    max-width: 550px;
    color: $white;
    text-align: center;
  }

  .stat-wrapper {
    display: inline-block;
    width: 50%;
  }

  .right-border {
    display: inline-block;
    width: 1px;
    background: $green4;
    position: absolute;
    left: 50%;
    top: 20px;
    bottom: 20px;
  }

  .data-box {
    background-color: rgba(81, 99, 43, 1.0);
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    padding: 15px;
    position: relative;
  }

  .stat-num {
    font-size: 36px;
  }

  .stat-unit {
    display: inline-block
  }

  .stat-label {
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
  }

  .your-path {
    padding-top: 60px;
    font-size: 50px; /* 42.72 pt */
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 8px 25.81px rgba(0, 0, 0, 0.73);
  }

  .try-it-out-button {
    background-color: rgba(237, 82, 54, 1.0);
    border-radius: 60px;
    font-size: 30px; /* 28.94pt */
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: 1px;
    padding: 10px 35px;
  }

  .mobile-app-link {
    display: inline-block;

    img {
      height: 90px;
    }
  }

  .device-photo {
    position: absolute;
    top: 50px;
    left: 50%;
    bottom: 0;
    right: 0;
    z-index: 1;

    img {
      max-height: 100%;
      max-width: 100%;
      float: right;
    }
  }

  .anchor {
    padding: 0px;
    margin: 0px;
    width: 100%;
  	height: 120px;
    background: url('#{$dir-assets}/images/landing/bamboo-blur.jpg') no-repeat bottom center fixed;
    position: relative;

    .col-md-12 {
      position: absolute;
    }
  }

  #promo-video {
    margin: auto;
    display: block;
    margin-bottom: 80px;
  }

  #section-action {
    background: #262b30 $background-marketing;
    .btn {
      font-size: 24px;
      padding: 15px 25px;
    }
    .header {
      margin-bottom: 90px;
    }
  }

  #section-features {
    .header {
      margin-top: 0px;
      margin-bottom: 60px;
    }
    .media {
      margin-bottom: 60px;
    }
    .icon {
      width: 75px;
    }
    .badge-link {
      cursor: pointer;
      opacity: 1.0;
      &:hover {
        opacity: 0.7;
      }
    }
    .media-body {
      color: #404851;
      font-family: $font-ubuntu;
      font-size: 16px;
      font-weight: 300;
      max-width: 350px;
    }
    .media-heading {
      color: #8c9196;
      font-family: $font-slab;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 15px;
    }
  }

  #section-plans {
    .header {
      margin-bottom: 65px;
    }
    .institutions {
      margin-top: 75px;
    }
    .plan {
      padding-bottom: 12px;
      padding-top: 12px;
      position: relative;
      &.border-right {
        border-right: 1px solid $white3;
      }
      .discount {
        color: #87a64b;
        font-family: $font-ubuntu;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 60px;
      }
      .icon {
        display: none;
        position: absolute;
        right: -25px;
        top: -10px;
      }
      .monthly {
        color: #b2b5b9;
        font-family: $font-ubuntu;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 60px;
      }
      .price {
        color: #404851;
        font-family: $font-ubuntu;
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      .subscribe {
        margin-bottom: 10px;
      }
      .title {
        color: #8c9196;
        font-family: $font-slab;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 12px;
      }
      .trial {
        color: #6c7a85;
        font-family: $font-ubuntu;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  #section-testimonials {
    .header {
      margin-bottom: 65px;
    }
    .quote-avatar {
      margin-right: 25px;
    }
    .quote-block {
      background-color: #333940;
      border-radius: 25px;
      color: #9ba4ac;
      font-family: $font-ubuntu;
      font-size: 16px;
      font-style: italic;
      font-weight: 300;
      margin-bottom: 20px;
      min-height: 140px;
      padding: 25px;
      text-align: center;
    }
    .quote-footer {
      color: #666c73;
      font-family: $font-ubuntu;
      font-size: 16px;
      font-weight: 300;
    }
    .quote-footer-text {
      padding-top: 15px;
    }
  }

  .ios-store-link {
    text-align: right;
  }

  .android-store-link {
    text-align: left;
  }

  .footer-container {
    margin-top: 0px;
  }

  .push-bottom-40 {
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    .motto-text {
      text-shadow: 2px 2px 4px #151515;
    }

    #hero-slider {
      img {
        opacity: 0.9;
      }
    }
    .ios-store-link, .android-store-link {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
