@import "../../styles/_variables";

gelato-page[data-name='mobile-home'] {
  background: $background-primary;
  height: 100%;
  padding: 15px !important;
  position: relative;

  .btn-fixed {
    padding: 7.5px;
  }

  .helper-text {
    font-size: 11px;
  }

  .logo {
    background-image: url('#{$dir-assets}/images/skrit-logo-1.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vh;
  }

  .language {
    font-size: 4vh;
  }

  .welcome-options {
    position: absolute;
    bottom: 10%;
    width: 88%;
    margin: auto;
  }

  .welcome-panel {
    background: $white;
    border-radius: 5px;
    height: 100%;
    padding: 15px;
    text-align: center;

    .character {
      color: $white3;
      font-size: 50vw;
    }

    .title {
      font-family: $font-slab;
      font-size: 10vw;
    }
  }
}
