gelato-page(data-name='mobile-home')

  .welcome-panel
    .title
      .logo
    .language.unselectable-text= app.getLanguageName()
    .character.unselectable-text(class=app.getLanguage() === 'zh' ? 'text-chinese' : 'text-japanese') 字

  .welcome-options
    .row
      // TODO: enable this when signup page ready
      // .col-xs-6
        // a.btn.btn-fixed.btn-success(href='/signup') Sign up
      .col-xs-12.text-center
        a.btn.btn-fixed.btn-success(href='/login')= app.locale('common.logIn')
