@import "../../styles/_variables";

gelato-page[data-name='mobile-home'] {
  background: $background-primary;
  height: 100%;
  padding: 15px !important;
  position: relative;

  .helper-text {
    font-size: 2vh;
  }

  .logo {
    background-image: url('#{$dir-assets}/images/skrit-logo-1.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vh;
  }

  .language {
    font-size: 4vh;
  }

  .welcome-options {
    bottom: 5%;
    position: absolute;
    width: 100%;
    margin: auto;

    .col-xs-6 {
      padding: 0;
    }
  }

  .welcome-panel {
    background: $white;
    border-radius: 5px;
    height: 100%;
    padding: 15px 0;
    position: relative;
    text-align: center;

    .character {
      color: $white3;
      font-size: 50vw;
    }

    .title {
      font-family: $font-slab;
      font-size: 10vw;
    }
  }
}
