gelato-page(data-name='mobile-home')

  .welcome-panel
    .title
      .logo
    .language.no-select= app.getLanguageName()
    .character.no-select(class=app.getLanguage() === 'zh' ? 'text-chinese' : 'text-japanese') 字

    .welcome-options
      .col-xs-6
        a#signup-button.btn.btn-fixed.btn-success.mobile(href='#')
          div= app.locale('common.getStarted')
          div.helper-text (new users)
      .col-xs-6.text-center
        a.btn.btn-fixed.btn-success.mobile(href='/login')
          div= app.locale('common.logIn')
          div.helper-text (existing users)
