gelato-page(data-name='mobile-home')

  .welcome-panel
    .title Skritter
    .language= app.getLanguageName()
    .character(class=app.getLanguage() === 'zh' ? 'text-chinese' : 'text-japanese') 学


  .welcome-options
    .row
      // TODO: enable this when signup page ready
      // .col-xs-6
        // a.btn.btn-fixed.btn-success(href='/signup') Sign up
      .col-xs-12
        a.btn.btn-fixed.btn-success(href='/login') Log in
