@import "../../styles/_variables";

gelato-page[data-name='mobile-home'] {
  background: $background-primary;
  height: 100%;
  padding: 60px 30px 0 30px;

  .logo {
    background-image: url('#{$dir-assets}/images/skrit-logo-1.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vh;
  }

  .language {
    font-size: 20px;
  }

  .welcome-options {
    padding-top: 20%;
  }

  .welcome-panel {
    background: $white;
    border-radius: 5px;
    height: 80%;
    padding: 5px;
    text-align: center;

    .character {
      color: $white3;
      font-size: 50vw;
    }

    .title {
      font-family: $font-slab;
      font-size: 10vw;
    }
  }
}
