gelato-page(data-name='mobile-home')

  .welcome-panel
    .title
      .logo
    .language.no-select= app.getLanguageName()
    .character.no-select(class=app.getLanguage() === 'zh' ? 'text-chinese' : 'text-japanese') 字

  .welcome-options
    .row
      .col-xs-6
        a.btn.btn-fixed.btn-success(href='/signup')= app.locale('common.signUp')
      .col-xs-6.text-center
        a.btn.btn-fixed.btn-success(href='/login')= app.locale('common.logIn')
