gelato-page(data-name='home')

  #hero-slider.carousel.slide(data-ride="carousel", data-interval="false")
    ol.carousel-indicators
      li.active(data-target="#hero-slider", data-slide-to="0")
      li(data-target="#hero-slider", data-slide-to="1")
      li(data-target="#hero-slider", data-slide-to="2")
    .carousel-inner(role="listbox")
      .item.active
        img(src="http://placehold.it/900x500", alt="")
      .item
        img(src="http://placehold.it/900x500", alt="")
      .item
        img(src="http://placehold.it/900x500", alt="")
    a.left.carousel-control(href="#hero-slider", role="button", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      span.sr-only Previous
    a.right.carousel-control(href="#hero-slider", role="button", data-slide="next")
      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      span.sr-only Next

  section.light
    .container.text-center
      .header The best way to learn Chinese and Japanese

  section.dark
    .container.text-center
      .header People using Skritter

  section.light
    .container.text-center
      .header Flexible plans to match your study needs

  section.dark
    .container.text-center
      .header Ready to start learning?

  #footer-container