gelato-page(data-name='home')

  #navbar-container

  #hero-slider.carousel.slide(data-ride="carousel", data-interval="false")
    //TODO: enable indicators and navigation with more hero images
    //ol.carousel-indicators
      li.active(data-target="#hero-slider", data-slide-to="0")
      li(data-target="#hero-slider", data-slide-to="1")
    .carousel-inner(role="listbox")
      .item.active
        img(src="/media/images/marketing_hero1_phone.jpg", alt="")
        .container
          .carousel-header
            div Chinese & Japanese
            div characters, made fun
            button.btn.btn-lg.btn-danger Start your 7-day free trial
      //.item
        img(src="/media/images/home_hero2.png", alt="")
    //a.left.carousel-control(href="#hero-slider", role="button", data-ignore="true", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    //a.right.carousel-control(href="#hero-slider", role="button", data-ignore="true", data-slide="next")
      span.glyphicon.glyphicon-chevron-right

  section#section-features.light
    .container
      .header.text-center The best way to learn Chinese and Japanese
      .row
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-plane
            .media-body
              .media-heading Characters on the go
              | Learn Chinese & Japanese characters anywhere, even in Antarctica
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-flashcards
            .media-body
              .media-heading Smart flashcards
              | Skritter gives you immediate stroke-level feedback and helps you review hard characters more often.
      .row
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-book
            .media-body
              .media-heading Studying, your way
              | Start learning from hundreds of textbooks and users lists, or make your own.
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-review
            .media-body
              .media-heading Efficient reviewing
              | Learn new characters in less than a minute, and remember 95% of what you learn.

  section#section-testimonials.dark
    .container
      .header.text-center People using Skritter
      .row
        .col-md-4
          .quote-block If I could only keep one app on my iPod, this would be it without a doubt. Skritter will change your life!
          .quote-footer
            .quote-avatar.pull-left
              img.img-circle(src="/media/people/testimonials/wendy_werneth.jpg", alt="")
            .quote-footer-text
              div -- Wendy Werneth
              div UN Translator, Switzerland
        .col-md-4
          .quote-block Learning to write Chinese characters has never been so fun. From writing zero to 2000+ characters in six months!
          .quote-footer
            .quote-avatar.pull-left
              img.img-circle(src="/media/people/testimonials/brian_jackson.jpg", alt="")
            .quote-footer-text
              div -- Brian Jackson
              div Economist, Alaska
        .col-md-4
          .quote-block An absolutely amazing app. It makes me want to actually study whenever I have downtime.
          .quote-footer
            .quote-avatar.pull-left
              img.img-circle(src="/media/people/testimonials/greg_bell.jpg", alt="")
            .quote-footer-text
              div -- Greg Bell
              div Master's Student, Taiwan

  section#section-plans.light
    .container.text-center
      .header Flexible plans to match your study needs
      .row
        .col-md-3
          .plan.border-right
            .title 1 month
            .discount
            .price $14.99
            .monthly per month
            a.subscribe.btn.btn-fixed.btn-default(href='/signup') Subscribe
            .trial Includes 7-day free trial
        .col-md-3
          .plan.border-right
            .title 6 months
            .discount
            .price $59.99
            .monthly $10.00 / month
            a.subscribe.btn.btn-fixed.btn-default(href='/signup') Subscribe
            .trial Includes 7-day free trial
        .col-md-3
          .plan.border-right
            i.icon.icon-marketing-most-popular
            .title 1 year
            .discount
            .price $99.99
            .monthly $8.33 / month
            a.subscribe.btn.btn-fixed.btn-success(href='/signup') Subscribe
            .trial Includes 7-day free trial
        .col-md-3
          .plan
            i.icon.icon-marketing-best-value
            .title 2 years
            .discount
            .price $179.99
            .monthly $7.50 / month
            a.subscribe.btn.btn-fixed.btn-default(href='/signup') Subscribe
            .trial Includes 7-day free trial
      .institutions
        | Buying for a school? Check out our
        | &nbsp;
        a(href="/institutions") school information & pricing page
        | .

  section#section-action.dark
    .container.text-center
      .header Ready to start learning?
      a.btn.btn-success(href='/signup') Start your 7-day free trial

  #footer-container