@import "../../styles/_variables";

bootstrap-dialog[data-name="confirm"] {

	.modal-content {
		background-color: $white5;
	}

	.modal-dialog {
		width: 300px;
	}

	.modal-footer {
		text-align: center;
	}

}
