@import "../../../../styles/_variables";

gelato-component[data-name="study-prompt-toolbar-vocab"] {
  position: absolute;
  right: 30px;
  z-index: 1000;
  text-align: right;

  i {
    cursor: pointer;
    margin-right: 15px;
  }

  .text-info {
    color: $grey2;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: right;
  }
}
