@import "../../../styles/variables";

gelato-component[data-name='prompt-vocab-sentence'] {


  label {
    font-size: 14px;
    font-weight: 700;
  }

  .value {
    font-size: 18px;
    font-weight: 400;
  }

}
