gelato-component(data-name='prompt-vocab-sentence')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews
    - var sentence = reviews.vocab.getSentence()
    if sentence
      = sentence.getWriting()
    else
      em Click here add your own custom sentence

  else

    i.fa.fa-spinner.fa-pulse
