gelato-component(data-name='prompt-vocab-sentence')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews
    - var sentence = reviews.vocab.getSentence()

      if sentence
        - var sentenceDefinition = sentence.getDefinition()
        - var sentenceReading = sentence.get('reading')

        label Example sentence

        .value

          if prompt.part === 'rune' && !reviews.isComplete()
            = sentence.getWriting(reviews.vocab.get('writing'))
          else
            = sentence.getWriting()

          .hint
            .hint-reading= app.isChinese() ? app.fn.pinyin.toTone(sentenceReading, true) : sentenceReading
            .hint-definition= sentenceDefinition
