@import "../../../../styles/_variables";

gelato-component[data-name="study-prompt-navigation"] {

  font-size: 82px;
  position: absolute;
  top: 33%;
  width: 100%;
  z-index: 6000;

  i {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    color: $grey2;

    &.review-complete {
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.4;
    }

    &#navigate-next {
      padding-left: 15px;
      right: -50px;
      background-size: 400% 100% !important;

      &.grade-1 {
        background: linear-gradient(to left, $white1 1%, $white1 50%, $grade1 51%, $grade1 100%);
      }
      &.grade-2 {
        background: linear-gradient(to right, $white1 1%, $white1 50%, $grade2 51%, $grade2 100%);
      }
      &.grade-3 {
        background: linear-gradient(to left, $white1 1%, $white1 50%, $grade3 51%, $grade3 100%);
      }
      &.grade-4 {
        background: linear-gradient(to right, $white1 1%, $white1 50%, $grade4 51%, $grade4 100%);
      }
    }

    &#navigate-previous {
      left: -50px;
      padding-right: 15px;
    }
  }
}

//.mobile {
//  gelato-component[data-name="study-prompt-navigation"] {
//    i {
//      opacity: 0;
//    }
//  }
//}

@-webkit-keyframes AutoAdvanceProgress {
    0%{background-position: 100% 50%}
    50%{background-position: 0% 50%}
    100%{background-position: 100% 50%}
}
@-moz-keyframes AutoAdvanceProgress {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}
@keyframes AutoAdvanceProgress {
    0%{background-position:100% 50%}
    50%{background-position:0% 50%}
    100%{background-position:100% 50%}
}
