@import "../../../../styles/_variables";

gelato-component[data-name="study-prompt-navigation"] {

  font-size: 82px;
  position: absolute;
  top: 33%;
  width: 100%;
  z-index: 6000;

  i {
    cursor: pointer;
    opacity: 0.2;
    position: absolute;
    &:hover {
      opacity: 0.6;
    }
    &#navigate-next {
      padding-left: 15px;
      right: -50px;
    }
    &#navigate-previous {
      left: -50px;
      padding-right: 15px;
    }
  }

}
