gelato-component(data-name="study-prompt-navigation")
  - var prompt = view.prompt;

  if prompt.reviews

    if view.showLeft && !prompt.reviews.isFirst()
      i#navigate-previous.fa.fa-angle-left
    if view.showRight
      i#navigate-next.fa.fa-angle-right
