gelato-page(data-name='features')

  #navbar-container

  #section-top.text-center
    .title Simple enough for students, powerful enough for expats
    img.hero-image(src="/media/images/features_placeholder.png", alt="")

  #section-call-to-action.text-center
    a.btn.btn-lg.btn-danger(href='/signup') Start your 7-day free trial now

  #section-main-features
    .container
      .row
        .col-md-6.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-plane
            .media-body
              .media-heading Characters on the go
              .media-subtext Learn Chinese & Japanese characters anywhere, even in Antarctica.
        .col-md-6.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-flashcards
            .media-body
              .media-heading Smart flashcards
              .media-subtext
                | Skritter gives you immediate stroke-level feedback and helps you review hard characters more often.
      .row
        .col-md-6.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-book
            .media-body
              .media-heading Studying, your way
              .media-subtext Start learning from hundreds of textbooks and user lists, or make your own.
        .col-md-6.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-review
            .media-body
              .media-heading Efficient reviewing
              .media-subtext Learn new characters in less than a minute, and remember 95% of what you learn.

  #section-additional-features
    .container
      .row
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-handwriting-recognition
            .media-body
              .media-heading Handwriting Recognition
              .media-subtext With Skritter you write characters in your browser and get real-time grading.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-writing-style-corrections
            .media-body
              .media-heading Writing Style Corrections
              .media-subtext Skritter helps you learn proper written form through instant corrections.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-stroke-order
            .media-body
              .media-heading Stroke Order Help
              .media-subtext Ever wondered about stroke order? Skritter clears up any such questions.
      .row
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-spaced-repetition-system
            .media-body
              .media-heading Spaced Repetition System
              .media-subtext
                | Skritter's SRS schedules all your reviews, ensuring that you retain more characters.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-personal-progress-stats
            .media-body
              .media-heading Personal Progress Stats
              .media-subtext Track your learning to get a better idea how to improve the process.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-decomps
            .media-body
              .media-heading Character Decompositions
              .media-subtext Get to know the building blocks of characters to improve memorization.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-textbooks
            .media-body
              .media-heading 100s of Textbooks
              .media-subtext We support 300+ lists of the most popular Chinese and Japanese textbooks.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-chinese-pod
            .media-body
              .media-heading ChinesePod Support
              .media-subtext Automatically import your vocabulary from ChinesePod and keep on studying.
        .col-md-4.block
          .media
            .media-left
              .media-object
                i.icon.icon-marketing-tone-practice
            .media-body
              .media-heading Tone Practice
              .media-subtext Draw the tone marks for each character to enhance your comprehension.

  #footer-container
