bootstrap-dialog(data-name='add-items')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-body.text-center
          h3 How many words to add?
          .row.text-center
            .col-sm-4
              button.button-add.btn.btn-lg.btn.btn-primary(data-value=1) 1 word
            .col-sm-4
              button.button-add.btn.btn-lg.btn.btn-primary(data-value=5) 5 words
            .col-sm-4
              button#button-cancel.btn.btn-lg.btn.btn-default Cancel

