@import "../../styles/_variables";

bootstrap-navbar[data-name='mobile'] {
  color: $white2;

  .navbar-toggle {
    float: left;
  }

  .title-txt {
    color: $white1;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
  }

  .buttons {
    font-size: 20px;
    margin-top: 9px;
    position: absolute;
    right: 0;

    span {
      display: inline-block;
      margin-left: 25px;
      cursor: pointer;
    }

    .icon-study-word-volume, .icon-study-info {
      position: relative;
      top: 3px;
    }

    .last {
      margin-right: 10px;
    }
  }

  .wrapper {
    display: inline-block;
  }

  .icon {

    svg {
      fill: $sand2;
      height: 20px;
      width: 20px;
    }
  }

  .timer-duecount-wrapper {
    display: inline-block;
    max-width: 54px;
    margin-top: 5px;
  }

  .due-count, .due-label {
    display: inline-block;
    font-size: 13px;
  }

  #duecount-container {
    margin-top: -2px;
    min-width: 55px;
  }

  .timer-wrapper {
    min-width: 55px;
    position: relative;
  }

  #timer-container {
    display: inline-block;

    gelato-component {
      margin-right: 15px;
    }
  }

  .timer-label {
    position: absolute;
    top: 4px;
    right: 0px;
  }

  .due-label {
    font-variant: small-caps;
    float: right;
    margin-top: 4px;
    margin-left: 5px;
  }
  // h4x
  gelato-component[data-name='study-toolbar-timer'] .hover-tooltip {
    letter-spacing: 1px;
    font-size: 13px;

    .tooltip-text {
      left: 0;
    }
  }
}
