.navbar-mobile-dashboard-component
  - var user = app.user;
  - var currentSection = view.getCurrentSection();


  .navbar-header
    if user.isLoggedIn()
      button#toggle-menu.navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    span#title-txt.title-txt Dashboard

  #navbar-collapse.collapse.navbar-collapse
