@import "../../styles/_variables";

bootstrap-navbar[data-name='mobile'] {
  color: $white2;

  .navbar-toggle {
    float: left;
  }

  .title-txt {
    color: $white1;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
  }

  .buttons {
    font-size: 24px;
    margin-top: 9px;
    position: absolute;
    right: 0;

    span {
      display: inline-block;
      margin-left: 25px;
      cursor: pointer;
    }

    .icon-study-word-volume, .icon-study-info {
      position: relative;
      top: 3px;
    }

    .last {
      margin-right: 25px;
    }
  }

  .wrapper {
    display: inline-block;
  }

  .icon {

    svg {
      fill: $white2;
    }
  }

  .timer-duecount-wrapper {
    display: inline-block;
    max-width: 54px;
    margin-top: 5px;
  }

  .due-count, .due-label {
    display: inline-block;
  }

  .due-label {
    font-variant: small-caps;
    float: right;
    margin-top: 3px;
  }
  // h4x
  gelato-component[data-name='study-toolbar-timer'] .hover-tooltip {
    letter-spacing: 2px;

    .tooltip-text {
      left: 0;
    }
  }
}
