bootstrap-navbar(data-name='mobile')
  - var user = app.user;
  - var currentSection = view.getCurrentSection();

  nav.navbar.navbar-inverse
    .container

      .navbar-header
        button#toggle-menu.navbar-toggle.collapsed
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span#title-txt.title-txt Lists
