@import "../../styles/_variables";

bootstrap-navbar[data-name='mobile'] {
  color: $sand2;

  .navbar-toggle {
    float: left;
  }

  .title-txt {
    text-decoration: none;
    display: inline-block;
  }

  .buttons {
    font-size: 20px;
    margin-top: 9px;
    position: absolute;
    right: 0;

    span {
      display: inline-block;
      margin-left: 25px;
      cursor: pointer;
    }

    .icon-study-word-volume, .icon-study-info {
      position: relative;
      top: 3px;
    }

    .last {
      margin-right: 10px;
    }
  }

  .wrapper {
    display: inline-block;
  }

  .icon {

    svg {
      fill: $sand2;
      height: 20px;
      width: 20px;
    }
  }

  .timer-duecount-wrapper {
    display: inline-block;
    max-width: 54px;
    margin-top: 5px;
  }

  .due-count, .due-label {
    display: inline-block;
    font-size: 13px;
  }

  #duecount-container {
    margin-top: -2px;
    min-width: 55px;
  }

  .navbar-header {
    width: 100%;
  }

  .timer-wrapper {
    min-width: 55px;
    position: relative;
  }

  #timer-container {
    display: inline-block;

    gelato-component {
      margin-right: 15px;
    }
  }

  .timer-label {
    position: absolute;
    top: 4px;
    right: 0px;
  }

  .due-label {
    font-variant: small-caps;
    float: right;
    margin-top: 4px;
    margin-left: 5px;
  }

  .adding {
    -webkit-animation: spin 2s ease-out infinite;
    -moz-animation: spin 2s ease-out infinite;
    animation: spin 2s ease-out infinite;
    cursor: default;
    color: $green6;
  }

  .add-amt {
    color: $green5;
    cursor: pointer;
    padding: 10px 15px;
  }

  #add-popup {
    position: absolute;
    top: 35px;
    right: 100px;
    padding: 15px;
    background: $white1;
    font-size: 18px;
    color: $grey6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .popup-label {
      color: $grey4;
      margin-bottom: 10px;
    }
  }

  // h4x
  gelato-component[data-name='study-toolbar-timer'] .hover-tooltip {
    letter-spacing: 1px;
    font-size: 13px;

    .tooltip-text {
      left: 0;
    }
  }
}
