bootstrap-navbar(data-name='mobile')
  - var user = app.user;
  - var currentSection = view.getCurrentSection();

  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      #sub-navbar-container
