.navbar-mobile-dashboard-component
  - var user = app.user;

  .navbar-header
    if user.isLoggedIn()
      button#toggle-menu.navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    if view.showBackBtn
      i#back-btn.fa.fa-chevron-left.back-chevron

    span#title-txt.title-txt Dashboard

    if view.showCreateListBtn
      i#create-list-btn.fa.fa-plus-circle.create-list-icon

    if view.showSyncBtn
      i#sync-btn.fa.fa-refresh.refresh-icon

  // #navbar-collapse.collapse.navbar-collapse
