@import "../../styles/_variables";

.dark-notification-dialog, gelato-dialog[data-name='notification-dialog'] {
  font-family: $font-ubuntu;
  text-transform: uppercase;

  .modal {
    width: 100%;
    left: 0;
    transition: left .2s, width .2s;
    max-height: calc(100% - 150px);
    overflow-y: auto;
  }

  .modal-content {
    border-radius: 0;

    // $grey7 = #262B30 = 38 43 48
    //background-color: rgba(38, 43, 48, .7);
    background-color: rgba(0, 0, 0, .7);
    color: $white1;
  }


  .modal-dialog {
    margin-top: 0;
    max-width: 1000px;
    width: 80%;
  }

  .modal-body {
    padding: 20px;
  }

  .dialog-title {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    // $white1 = #fbfafc = 251 250 252
    background: rgba(251, 250, 252, .9);
    opacity: .9;
    color: $grey7;
  }

  .button-wrapper {
    text-align: center;
  }

  .btn {
    background: $green5;
    border-radius: 40px;
    color: $lime5;
    height: 80px;
    text-align: center;
    height: auto;
    font-size: 20px;
    padding: 8px 80px;
    margin-top: 25px;
  }

  .media {
    display: inline-block;
    margin: 0;
  }

  // TODO: move to its own .scss file
  .demo-complete-view {
    margin: auto;
    max-width: 700px;
    position: relative;
    background: #ffffff;
    background: linear-gradient(to top, #ffffff 0%,#ffffff 33%,#f7efe4 63%,#f7efe4 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 33%,#f7efe4 63%,#f7efe4 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 33%, #f7efe4 63%, #f7efe4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7efe4',GradientType=1 );

    .skritter-main-features {
      text-align: left;
      color: #272727;
      background-image: url('#{$dir-assets}/images/devices1.png');
      background-position: 90% 25px;
      background-repeat: no-repeat;
    }

    img {
      position: absolute;
      left: 0;
    }

    .tagline {
      font-size: 25px;
      font-weight: 300;
      color: #000;
      text-transform: uppercase;
      line-height: 1.2;
      margin-left: 25px;
      margin-top: 98px;
      letter-spacing: 1px;
      padding-right: 95px;
    }

    .icon {
      max-width: 35px;
    }

    .push-left {
      margin-right: 45px;
    }

    .push-right {
      margin-left: 45px;
    }

    .features-row {
      margin-top: 99px;
    }

    .media-body {
      padding-left: 8px;
      padding-bottom: 21px;
    }

    .media-heading {
      font-weight: bold;
      margin-bottom: 0;
    }

    .media-subtext {
      font-weight: 300;
      font-size: 13px;
      text-transform: none;
      line-height: 1;
    }

    .see-features-wrapper {
      text-align: center;
      margin-top: -8px;

      a {
        color: #000;
        font-size: 11px;
        text-decoration: underline !important;
      }
    }

    .sign-up-area {
      max-width: 700px;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 20px;
      margin: auto;
    }

    .free-trial-wrapper {
      color: #FFF;
      font-size: 13px;
    }

    #button-signup {
      float: none;

      background: #ed5236;
      color: #FFF;
    }
  }
}

.mobile {
  .dark-notification-dialog, gelato-dialog[data-name='notification-dialog'] {
    .modal-dialog {
      margin-top: 10%;
      max-width: none;
      width: auto;
    }
  }
}