gelato-dialog(data-name='notification-dialog')

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      if dialogTitle
        .dialog-title= dialogTitle
      .modal-content
        .modal-body!= body
      if showConfirmButton
        .button-wrapper
          .btn= buttonText
