gelato-component(data-name='words-sidebar')
  .options
    a(href="/words/all") All Words
    a(href="/words/mnemonics") Mnemonics
    a(href="/words/starred") Starred Words
    //- a(href="/words/banned") Banned Words
    //- 
    //- hr
    //- 
    //- a#export-link
    //-   div.action
    //-     span.glyphicon.glyphicon-share
    //-     span Export
    //- 
    //- a#save-me-link
    //-   div.action
    //-     span.glyphicon.glyphicon-exclamation-sign
    //-     span Save Me
    //- 
    //- a#delete-all-link
    //-   div.action
    //-     span.glyphicon.glyphicon-trash
    //-     span Delete all

    
