@import "../../styles/variables";

gelato-page[data-name='settings-study'] {

  .content-block { background-color: #f2f2f6; }

  #section-content {
    background-color: $white1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #404851;
    margin: -15px;
    padding: 55px 40px;
    input {
      border-radius: 0;
      height: 50px;
      &[type="checkbox"] { height: auto; }
      &[type="email"],
      &[type="text"] {
        max-width: 300px;
      }
    }
    label {
      font-family: $font-muli;
      font-weight: 300;
      text-align: left;
    }
    select {
      background-color: white;
      border: 0;
      max-width: 300px;
      outline: 1px solid #cccccc;
    }
    textarea {
      border-radius: 0;
      max-width: 300px;
    }
    .title {
      font-family: $font-muli;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    #button-save { margin-top: 30px; }
  }

  #section-menu {
    color: #8c9196;
    margin: 45px auto 0 auto;
    width: 140px;
    button {
      height: 50px;
      padding: 0 20px;
    }
    .options {
      color: #8c9196;
      font-family: $font-muli;
      font-size: 16px;
      font-weight: 300;
      margin-top: 30px;
      padding: 10px;

      > a {
        color: $grey3;
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        &:hover { color: $grey6; }
        &.active { color: $grey9;  }
      }
    }
  }

}
