@import "../../styles/variables";

gelato-component[data-name='navbar-logged-in'] {

  a {
    color: $white1;
    text-decoration: none;

    &.item-link {
      margin-left: 25px;
    }

    &:hover {
      color: $white5;
    }
  }

  img {
    height: 30px;
  }

}
