gelato-component(data-name='navbar-logged-in')
  gelato-navbar.fixed-top
    .container
      .left
        a.item.item-header(href="/dashboard") Skritter
        a.item.item-link(href="/study") Study
        a.item.item-link(href="/vocablist/queue") Lists
        a.item.item-link(data-toggle="tooltip" data-placement="bottom" title="Working on it") Words
        a.item.item-link(data-toggle="tooltip" data-placement="bottom" title="Working on it") Stats
      .right
        .item.item-link(data-toggle="tooltip" data-placement="bottom" title="Working on it")= user.settings.get('name') || user.id
        if user.settings.get('avatar')
          .item.item-icon
            img(src='data:image/png;base64,'+user.settings.get('avatar'))