@import "../../styles/variables";

// TODO: Move this to global styles if this works

gelato-application {
  overflow: hidden;
}

gelato-page {
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;

  #site-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    background: #428bca;
    padding: 15px;
  }

}

gelato-application.show-nav gelato-page {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
