gelato-page(data-name='test-offcanvas')
  #site-menu
    h2 my menu
    p Put any HTML here
    
  .container
    .row
      .col-xs-12
        .content-block
          a#toggle-nav Toggle nav
          h1 Off canvas menu
          p Basic demo blah blah blah
        
    
      
