bootstrap-dialog(data-name='cancel-subscription')
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          a.glyphicon.glyphicon-remove-circle.pull-right(data-dismiss='modal')
          .modal-title Cancel subscription

        .modal-body
          #page-1
            p
              | If you need to temporarily pause your subscription,
              a.spl.spr#go-on-vacation-link go on vacation
              | instead.
            p
              | Cancelling your subscription means:
            ul
              li You can review existing words but cannot add new words.
              li Your subscription will continue until the end of your
                | current billing period.

            .checkbox
              label
                input#receive-newsletters(type="checkbox" name="receive-newsletters")
                | Keep getting newsletters

            .text-center
              button#submit-btn.btn.btn-lg.btn-success
                span Submit
                i.fa.fa-1x.fa-spinner.fa-pulse.hide
