@import "../../styles/variables";

gelato-page[data-name='words-all'] {
  .table-oversized-wrapper {
    margin-top: 30px;
  }

  th .glyphicon {
    display: none;
  }

  th.active .glyphicon {
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }

  .checkbox-td {
    width: 5%;
  }

  .writing-td {
    width: 10%;
  }

  .reading-td {
    width: 15%;
  }

  .definition-td {
    width: 30%;
  }

  .last-td {
    width: 20%;
  }

  .next-td {
    width: 20%;
  }
}
