@import "../../styles/variables";

gelato-page[data-name='vocablist-section'] {

  #editing-header-row {
    margin-bottom: 25px;

    .text-center {
      padding: 13px;
    }
  }

  .checkbox-td {
    cursor: pointer;
    width: 5%;

    input {
      cursor: pointer;
    }
  }

  .writing-td {
    width: 15%;
  }

  .reading-td {
    width: 15%;
  }

  .definition-td {
    width: 55%;
  }

  .remove-td {
    width: 5%;
  }
}
