@import "../../styles/variables";

gelato-page[data-name='vocablist-section'] {

  .checkbox-td {
    width: 5%;
  }

  .writing-td {
    width: 15%;
  }

  .reading-td {
    width: 15%;
  }

  .definition-td {
    width: 60%;
  }
}
