gelato-page(data-name='vocablist-section')
  #navbar-container

  gelato-page
    .container
      .content-block.main-content
        p
          a(href="/vocablist/view/"+view.vocablist.id)
            span.glyphicon.glyphicon-chevron-left
            if view.vocablist.state === 'standby'
              span.spl back to #{view.vocablist.get('name')}

        if view.section.state === 'fetching' || view.vocablist.state === 'fetching'
          p.text-center
            i.fa.fa-5x.fa-spinner.fa-pulse

        else
          .row#static-header-row
            .col-md-7
              .title= view.section.get('name')
            .col-md-3
              select#action-select.form-control.input-lg
                option(value="") Select words...
                option(value="ban") Ban from words
                option(value="unban") Unban from words
            .col-md-2
              if view.vocablist.editable()
                button#edit-section-btn.btn.btn-fixed.btn-success Edit Section
          .row#editing-header-row.hide
            .col-md-9
              input#name-input.input-lg.form-control(value=view.section.get('name'))
            .col-md-1.text-center
              a#cancel-edit-section-link Cancel
            .col-md-2
              button#save-edit-section-btn.btn.btn-fixed.btn-success Save edits


          .table-oversized-wrapper
            table.table.table-striped
              for row, i in view.section.get('rows')
                include ./row-template

            if view.vocabs.state === 'fetching'
              p.text-center
                i.fa.fa-5x.fa-spinner.fa-pulse