gelato-sidebar(data-name="menu")
  nav.navmenu.navmenu-default.navmenu-fixed-left.offcanvas(role="navigation")
    ul.nav.navmenu-nav
      li
        a.pull-right(href="/settings/general")
          span.glyphicon.glyphicon-cog
        a.pull-left
          span.glyphicon.glyphicon-log-out
        .clearfix
          
      if user.get('avatar')
        li.text-center
          img.img-circle(src='data:image/png;base64,' + user.get('avatar'))
          br
          span#name= user.get('name') || user.id
        
      li
        a(href="/dashboard") Dashboard
      li
        a(href="/study") Study
      li
        a(href="/vocablists/queue") Lists
      li
        a(href="/words/all") My Words
      li
        a(href="/progress") Progress
