gelato-component[data-name="prompt-canvas"] {

  margin-bottom: 25px;

  #canvas-message {
    bottom: 5px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

}