gelato-component(data-name="prompt-canvas").cursor.no-select
  canvas#prompt-canvas-element
  #prompt-canvas-definition
    .writing
    .question What's the definition?
    .answer
  #prompt-canvas-reading
    .writing
    .question What's the reading?
    .answer
  #prompt-canvas-message