@import "../../styles/variables";

gelato-component[data-name="prompt-details"] {

  font-family: $font-helv;
  position: relative;

  .detail-row {
    color: #8c9196;
    max-width: 500px;
    .title {
      font-size: 14px;
      font-weight: 700;
    }
  }

  #details-toolbar {
    right: 0;
    position: absolute;
    i {
      color: $green5;
      cursor: pointer;
      float: left;
      font-size: 24px;
      margin-right: 20px;
    }
  }

  #vocab-definition {
    margin-bottom: 30px;
    .value {
      font-size: 14px;
      font-weight: 300;
    }
  }

  #vocab-mnemonic {
    margin-bottom: 30px;
    .title { margin-bottom: 5px; }
    .value {
      display: none;
      font-size: 14px;
      font-weight: 300;
    }
  }

  #vocab-reading {
    margin-bottom: 30px;
    .value {
      color: #8c9196;
      font-size: 18px;
      font-weight: 300;
      .segment {
        cursor: pointer;
        display: inline;
        &.active { background-color: $white1 !important; }
        &.mask { background-color: $white5; }
        &.mask span { visibility: hidden; }
      }
    }
  }

  #vocab-sentence {
    margin-bottom: 30px;
    .title { margin-bottom: 5px; }
    .value {
      display: none;
      font-size: 18px;
      font-weight: 300;
    }
  }

  #vocab-style {
    margin-bottom: 5px;
    .value {
      color: #b2b5b9;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  #vocab-writing {
    margin-bottom: 15px;
    .value {
      color: #666c73;
      font-size: 42px;
      font-weight: 400;
      .writing-element {
        cursor: pointer;
        display: inline;
        width: 60px;
        &.active { background-color: $white1 !important; }
        &.mask { background-color: $white5; }
        &.mask span { visibility: hidden; }
      }
    }
  }

}