gelato-component(data-name="prompt-details")
  #details-toolbar
    i#button-detail-audio.icon.icon-study-word-volume
    //i#button-detail-star.icon.icon-study-word-star
    //i#button-detail-edit.icon.icon-study-word-edit
    //i#button-detail-ban.icon.icon-study-ban
    //i#button-detail-info.icon.icon-study-info
  .detail-row
    #vocab-style
      .value
  .detail-row
    #vocab-writing
      .value
  .detail-row
    #vocab-reading
      .value
  .detail-row
    #vocab-definition
      .title Definition
      .value
  .detail-row
    #vocab-sentence
      .title Example sentence
      .button
        button.btn.btn-sm.btn-default show
      .value
  .detail-row
    #vocab-mnemonic
      .title Mnemonic
      .button
        button.btn.btn-sm.btn-default show
      .value