@import "../../../styles/variables";

gelato-component[data-name='prompt-vocab-definition'] {

  label {
    color: $grey3;
    font-size: 14px;
    font-weight: 700;
  }

  img {
    max-width: 250px;
    width: 100%;
  }

  .value {
    color: $grey3;
    font-size: 14px;
    font-weight: 300;
    textarea { width: 100%; }
  }

}
