@import "../../../styles/variables";

gelato-component[data-name='prompt-vocab-definition'] {

  label {
    font-size: 14px;
    font-weight: 700;
  }

  .value {
    font-size: 14px;
    font-weight: 300;
    textarea { width: 100%; }
  }

}
