gelato-component(data-name='prompt-vocab-definition')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews
    - var definition = reviews.vocab.getDefinition()

    label Definition

    if prompt.part === 'defn'
      .value(class=(reviews.isComplete() ? 'visible' : 'invisible'))
    else
      .value

        if view.editable
          textarea= definition
        else
          if definition
            span!= definition
          else
            em Click the 'edit icon to add a definition'