gelato-component(data-name='prompt-vocab-definition')
  - var prompt = view.prompt
  - var review = view.prompt.review

  if review
    - var definition = review.vocab.getDefinition()

    label Definition

    div.value(class=(review.isComplete() ? 'visible' : 'invisible'))
      if definition
        = definition
      else
        | Click here to add your own custom definition
