@import "../../../styles/_variables";

gelato-component[data-name='study-toolbar'] {

  font-family: $font-slab;
  font-size: 24px;
  font-weight: 300;
  height: 35px;
  margin: 20px auto;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;

  i {
    cursor: pointer;
    font-size: 28px;
  }

  .text-left i {
    margin-right: 10%;
  }

  .text-right i {
    margin-left: 10%;
  }

  .vocablist-due {
    font-size: 14px;
    font-weight: 700;
    padding-top: 2px;
  }

  .vocablist-name {
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
  }

  .vocablist-section {
    font-size: 14px;
  }

  #button-study-settings {
    -ms-transform: rotate(0deg) scale(1,1);
    -webkit-transform: rotate(0deg) scale(1,1);
    transform: rotate(0deg) scale(1,1);
    -webkit-transition: transform 50ms; /* Safari */
    transition: transform 75ms;

    &:hover {
      -ms-transform: rotate(15deg) scale(1.15,1.15);
      -webkit-transform: rotate(15deg) scale(1.15,1.15);
      transform: rotate(15deg) scale(1.15,1.15);
    }
  }

}
