gelato-component(data-name='study-toolbar')
  - var page = view.page;

  .row

    .col-xs-4.text-left
      if page.vocablist
        .vocablist-name= page.vocablist.get('name')
        #due-count.vocablist-due= view.getDueCountWithOffset() + ' items due'
      else
        span#due-count= view.getDueCountWithOffset()
        span.spl items due

    .col-xs-4.text-center
      #timer-container

    .col-xs-4.text-right
      if page.items
        i#button-add-item.fa.fa-plus-circle
      i#button-study-settings.fa.fa-gear

    #add-popup.hidden
      .popup-label Add how many items?
      .row.text-center
        .col-xs-6.col-sm-6.add-amt(data-amt="1") 1
        .col-xs-6.col-sm-6.add-amt(data-amt="5") 5
      .row.text-center
        if user.get('eccentric')
          .col-xs-6.col-sm-6.add-amt(data-amt="11") 11
        else
          .col-xs-6.col-sm-6.add-amt(data-amt="10") 10
        if user.get('eccentric')
          .col-xs-6.col-sm-6.add-amt(data-amt="23") 23
        else
          .col-xs-6.col-sm-6.add-amt(data-amt="25") 25
