gelato-component(data-name='account-sidebar')

  .options
    .header-stripe
    .header Account
    a(href="/account/settings/general") General
    a(href="/account/settings/study") Study

    // clearfix aligns stripe with header
    .clearfix
    .header-stripe
    .header Billing

    a(href="/account/billing/subscription") Subscription
    a(href="/account/billing/history") Billing history
    //- a(href="/billing/school") School validation
