gelato-component(data-name='signup-notification').row
  .col-xs-12
    .content-block.subscription-notice-area.dark
      .content.clearfix
        .push-left
          .bold Create an account
          .expiration-description Customize your study experience, create lists and sync across devices.
        .text-center
          button#signup-btn.btn.btn-success.account-expired-block Sign up!
