@import "../../styles/variables";

gelato-page[data-name='settings-general'] {

  .content-block { background-color: #f2f2f6; }

  #section-content {
    background-color: $white1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #404851;
    margin: -15px;
    padding: 55px 40px;
    input {
      border-radius: 0;
      height: 50px;
      &[type="email"],
      &[type="text"] {
        max-width: 300px;
      }
    }
    label {
      font-family: $font-muli;
      font-weight: 300;
      text-align: left;
    }
    textarea {
      max-width: 300px;
    }
    .title {
      font-family: $font-muli;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    #field-avatar {
      height: 100px;
      width: 100px;
    }
  }

  #section-menu {
    margin: 45px auto 0 auto;
    width: 140px;
    button {
      height: 50px;
      padding: 0 20px;
    }
    .options {
      color: #8c9196;
      font-family: $font-muli;
      font-size: 16px;
      font-weight: 300;
      margin-top: 30px;
      padding: 10px;
      > div {
        cursor: pointer;
        margin-bottom: 20px;
      }
      .active {
        color: #404851;
        font-weight: 400;
      }
      .header {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

}
