gelato-component(data-name="word-details")
  #section-header
    #writing-block-1.header-block
      #vocab-writing-primary
        .value
      #vocab-reading
        .value
    #vocab-writing-secondary.header-block
      .value
      .value-label TRAD
    #vocab-level.header-block
      .value
      .value-label LEVEL
  #section-content
    .container-fluid
      .row
        .col-xs-6
          .detail-row
            #vocab-definition
              .title Definition
              .value
            #vocab-heisig
              .title Heisig
              .value
            #vocab-sentence
              .title Example sentence
              .value
            #vocab-mnemonic
              .title Mnemonic
              .value
            #vocab-dictionary
              .title Dictionary
              .value
        .col-xs-6
          .detail-row
            #vocab-decomps
              .title Decomposition of
                | &nbsp;
                span.title-character
              .value
            #vocab-containing
              .title Words containing
                | &nbsp;
                span.title-character
              .value