@import "../../styles/_variables";

.demo-progress-component {
  width: 100%;
  background-color: $black;
  position: absolute;
  color: $white2;
  font-size: 16px;
  height: 40px;
  padding: 0 10%;

  .row {
    position: relative;
    margin: auto;
    height: 100%;
  }

  .progress-bar-wrapper {
    position: absolute;
    background: #CCC;
    height: 1vh;
    bottom: .5vh;
    left: 0;
    right: 75px;
    border-radius: 10px;
  }

  .skip-btn {
    position: absolute;
    right: 10px;
    bottom: .5vh;
    padding: 4px 10px;
    font-size: 12px;
  }

  .step-text-wrapper {
    text-transform: uppercase;
    margin-top: .5vh;
    font-size: 12px;
  }

  .step-text {
    font-weight: 300;
  }

  .progress-bar {
    background: $green5;
    border-radius: 10px;
  }


  a {
    color: $sand1;
    font-size: 22px;
    padding: 4px 15px;

    &:hover, &:focus {
      background-color: $sand6;
    }
  }
}

.mobile {
  .demo-progress-component {
    padding: 0 0 0 10px;

    .progress-bar {
      background: #337ab7;
      border-radius: 10px;
    }
  }
}