gelato-component(data-name='vocablist-history')
  - var dialog = view.dialog;

  .modal-header
    .pull-left
      .modal-title= app.locale('dialogs.vocablistHistory.title')
    .pull-right
      a(href='#', data-dismiss='modal')
        i.fa.fa-times-circle-o

  .modal-body
    | Todo...

    #working.text-center.hidden
      i.fa.fa-3x.fa-spinner.fa-pulse
