@import "../../styles/variables";

gelato-component[data-name="prompt"] {

  border-radius: 25px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  color: $grey4;
  height: 640px;
  margin: 0 auto;
  width: 1280px;

  #prompt-grading-container { min-height: 85px; }

  #panel-left {
    background-color: $white1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 640px;
    float: left;
    padding-left: 95px;
    padding-right: 95px;
    width: 640px;
  }

  #panel-right {
    background-color: $white3;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    float: right;
    height: 640px;
    padding: 42px 45px;
    width: 640px;
  }

  #prompt-toolbar-container { min-height: 85px; }

  @media (max-width: 1280px) {
    height: 575px;
    width: 1000px;
    #panel-left {
      height: 575px;
      padding-left: 50px;
      padding-right: 50px;
      width: 500px;
    }
    #panel-right {
      height: 575px;
      width: 500px;
    }
  }

}