@import "../../styles/variables";

gelato-component[data-name='prompt'] {

  background-color: $white1;
  border-radius: 50px;
  height: 640px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .ribbon {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 6000;
  }

  #loading-spinner {
    text-align: center;
    i { margin-top: 250px; }
  }

  #panel-left {
    background-color: $white1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 640px;
    float: left;
    padding-left: 95px;
    padding-right: 95px;
    position: relative;
    width: 640px;
  }

  #panel-right {
    background-color: $white3;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    float: right;
    height: 640px;
    padding: 42px 2px 42px 45px;
    position: relative;
    width: 640px;
    .panel-container {
      height: 100%;
      overflow-y: auto;
      margin-right: 100px;
      width: 100%;
      &::-webkit-scrollbar {
        background-color: $white3;
        width: 12px;
      }
      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: $grey3;
        border-radius: 55px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0 ,0 ,0 , 0.3);
        background-color: $white3;
        border-radius: 5px;
      }
    }

    #vocab-characters-container { margin-top: 30px; }
    #vocab-decomp-container { margin-top: 30px; }
    #vocab-definition-container { margin-top: 30px; }
    #vocab-mnemonic-container { margin-top: 30px; }
    #vocab-sentence-container { margin-top: 30px; }
  }

  @media (max-width: 1310px) {

    #panel-left {
      padding-left: 50px;
      padding-right: 50px;
      width: 50%;
    }

    #panel-right {
      //padding-left: 50px;
      //padding-right: 50px;
      width: 50%;
    }

  }

}
