gelato-component(data-name='prompt')

    #new-ribbon.hidden
      .icon.icon-study-new-character

    #panel-left
      #input-canvas-container
      #grading-toolbar-container
      #action-toolbar-container

    #panel-right
      #vocab-writing-container
      #vocab-reading-container

      label Definition
      #vocab-definition-container

      label Example sentence
      #vocab-sentence-container

      label Mnemonic
      #vocab-mnemonic-container
