gelato-component(data-name='prompt')

  if view.reviews

    #new-ribbon.hidden
      .icon.icon-study-new-character

    #panel-left
      #canvas-container
      #toolbar-grading-container
      #toolbar-action-container

    #panel-right
      #toolbar-vocab-container
      #vocab-style-container
      #vocab-writing-container
      #vocab-reading-container
      #vocab-definition-container
      #vocab-sentence-container
      #vocab-mnemonic-container

  else

    #loading-spinner
      i.fa.fa-5x.fa-spinner.fa-pulse
