gelato-component(data-name="prompt")
  #panel-left.no-select
    #prompt-newness.icon.icon-study-new-character
    #prompt-canvas-container
    #prompt-grading-container
    #prompt-toolbar-container
  #panel-right
    #prompt-details-container