gelato-component(data-name='prompt')
  - var reviews = view.reviews

  if reviews
    - var item = reviews.item

    if item
      #leech-ribbon.ribbon(class=item.isLeech() ? '' : 'hidden')
        .icon.icon-study-leech
      #new-ribbon.ribbon(class=item.isNew() ? '' : 'hidden')
        .icon.icon-study-new-character

    #panel-left.no-select
      #canvas-container
      #toolbar-grading-container
      #toolbar-action-container

    #panel-right
      #toolbar-vocab-container
      #vocab-style-container
      #vocab-writing-container
      #vocab-reading-container
      #vocab-definition-container
      #vocab-sentence-container
      #vocab-mnemonic-container
      #vocab-characters-container
      #vocab-decomp-container

  else

    #loading-spinner
      i.fa.fa-5x.fa-spinner.fa-pulse
