@import "../../styles/_variables";

gelato-page[data-name='not-found'] {

	background: $background-marketing;
	padding-top: 100px;

	#footer-container {
		bottom: 0;
		position: absolute;
		width: 100%;
	}

}
