gelato-page(data-name='not-found')

	#navbar-container

	section.container

		.text-center
			h1 Page Not Found
				h4
					a(href="/") Return home

	#footer-container

		//.row
			.content-block.text-center
				h1 Page Not Found
				hr
				h4
					a(href="/") Return home
