gelato-page(data-name='not-found')

  #navbar-container

  section.container

    .text-center
      h3 The page you're looking for seems to be missing.
      h3
        a(href="/") Back to homepage

  #footer-container
