gelato-page(data-name='vocablist-queue')
  gelato-navbar.fixed-top
    .container-fluid
      .container
        .left
          .item.item-header(data-navigate="dashboard") Skritter
  gelato-content
    .container
      .row.text-center
        .content-block
          h1 Page Not Found
          hr
          h4
            a(href="/") Return home