gelato-page(data-name='stats')

  section.container
    .stats-section-selector-wrapper
      // #timeline-selector.stats-section-selector Timeline
      // #summary-selector.stats-section-selector.active Summary
    #stats-summary-container
    #stats-timeline-container
