gelato-page(data-name='stats')

  #navbar-container

  section.container
    .stats-section-selector-wrapper
      a(href="http://www.skritter.com/progress" class="stats-section-selector" target="_blank") Back to old Skritter stats page
      // #timeline-selector.stats-section-selector Timeline
      // #summary-selector.stats-section-selector.active Summary
    #stats-summary-container
    #stats-timeline-container

  #footer-container.margin-top
