gelato-page(data-name='stats')

  #navbar-container

  section.container
    .stats-section-selector-wrapper
      #timeline-selector.stats-section-selector Timeline
      #summary-selector.stats-section-selector.active Summary
    #stats-timeline-container
    #stats-summary-container