@import "../../styles/_variables";

gelato-page[data-name='login'] {
  background: $background-primary;
  padding-top: 50px;

  label {
    font-size: 20px;
  }

  input {
    padding: 12px 12px;
    font-size: 20px;
    line-height: normal;
    margin: auto;
    height: auto;
    margin-bottom: 20px;
  }

  .wrapper {
    background: none;
    margin: 100px auto;
    max-width: 400px;
  }

  .push-bottom {
    margin-bottom: 25px;
  }

  @media (max-width: 500px) {
    .content-block {
      margin: 50px auto;
      max-width: 400px;
    }
    #footer-container {
      position: relative;
    }
  }

}
