@import "../../styles/_variables";

gelato-page[data-name='login'] {

  background: $background-marketing;
  padding-top: 50px;

  .content-block {
    margin: 100px auto;
    max-width: 400px;
  }

  #login-form {
    margin-bottom: 15px;
  }

  @media (max-width: 500px) {
    .content-block {
      margin: 50px auto;
      max-width: 400px;
    }
    #footer-container {
      position: relative;
    }
  }

}
