gelato-page(data-name='login').mobile
  section.container
    .wrapper.content-block
      form#login-form.push-bottom
        #login-message.text-danger
        .form-group
          label(for="login-username") Username
          input#login-username.form-control.large-input(type="text", placeholder="Username")
        .form-group
          label(for="login-password") Password
          input#login-password.form-control.large-input(type="password", placeholder="Password")
        .form-group.text-center
          button#button-login.btn.btn-fixed.btn-primary.btn-success(type="button")= app.locale('common.logIn')

          if app.isDevelopment()
            .form-group.text-center
              a#button-skeleton.btn.btn-warning(href="#") Skeleton

      .text-center
        a#signup-button(href="/signup") Don't have an account?
        a#forgot-password-button(href="/password-reset") Forgot your password?
