@import "../../styles/_variables";

gelato-page[data-name='login'] {

  background: $background-marketing;
  padding-top: 50px;

  .content-block {
    margin: 100px auto;
    max-width: 400px;
  }

  #footer-container {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  #login-form {
    margin-bottom: 15px;
  }

}
