@import "../../../../styles/_variables";

gelato-component[data-name='vocablists-list-editor'] {

  margin-bottom: 15px;

  .row {
    color: #8c9196;
    font-size: 16px;
    padding: 10px 25px;
    border-top: 1px solid $white5;
    &.odd { background-color: $white3; }
    &.even { background-color: $white1; }
    .vocab-definition { margin-top: 4px; }
    .vocab-options { margin-top: 4px; }
    .vocab-reading { margin-top: 4px; }
    .vocab-writing { font-size: 24px; }
  }

}
