gelato-component(data-name="prompt-grading-toolbar")

  .btn-group.btn-group-justified.cursor.text-center(role="group", aria-label="grading-buttons")
    .btn-group(role="group")
      button.btn.btn-default.grade1(type="button", data-value="1")
        .grade-value 1
        .grade-text forgot
    .btn-group(role="group")
      button.btn.btn-default.grade2(type="button", data-value="2")
        .grade-value 2
        .grade-text so-so
    .btn-group(role="group")
      button.btn.btn-default.grade3(type="button", data-value="3")
        .grade-value 3
        .grade-text got it
    .btn-group(role="group")
      button.btn.btn-default.grade4(type="button", data-value="4")
        .grade-value 4
        .grade-text too easy