gelato-page(data-name='practice-pad')

  #dialog-container

  section.container-fluid

    #study-toolbar-container

    #study-prompt-container

    if app.user.get('eccentric')
      #recipes-container.recipes-container.text-center
