gelato-component(data-name='stats-time-studied-circle-component')
  .row
    .col-md-3
      .num-area-wrapper
        #num-time-per-day.num ...
        #time-per-day-units.units-label
    .col-md-6
      .graph-wrapper
        #circle
        .days-studied-wrapper
          #num-days-studied.num.num-days-studied
          .units-label.week / 7 days
    .col-md-3
      .num-area-wrapper
        #num-retention-rate.num ...
        .units-label retention rate
