gelato-component(data-name='stats-time-studied-circle-component')
  .row
    .col-md-3
      .num 2
      .num-label mins per day
    .col-md-6
      #circle circle!
    .col-md-3
      .num 1%
      .num-label retention rate
