@import "../../../styles/variables";

gelato-component[data-name='prompt-vocab-mnemonic'] {

  label {
    font-size: 14px;
    font-weight: 700;
  }

  .value {
    font-size: 14px;
    font-weight: 300;
  }

}
