gelato-component(data-name='prompt-vocab-mnemonic')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews
    - var mnemonic = reviews.vocab.getMnemonic();

    label Mnemonic

    .value
      if view.editable
        textarea= mnemonic ? mnemonic.text : ''
      else
        if (mnemonic && mnemonic.text != '')
          span!= app.fn.textToHTML(mnemonic.text)
        else
          em Click the 'edit' icon to add a mnemonic
