gelato-component(data-name='prompt-vocab-mnemonic')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews
    - var mnemonic = reviews.vocab.getMnemonic();
    - var review = reviews.current();

    label Mnemonic

    .value
      if !mnemonic || review.get('showMnemonic') || reviews.isComplete()

        if view.editable
          textarea= mnemonic ? mnemonic.text : ''
        else
          if (mnemonic && mnemonic.text !== '')
            span!= app.fn.textToHTML(mnemonic.text)
          else
            em Click the 'edit' icon to add a mnemonic

      else

        button#show-mnemonic.btn.btn-default show
