@import "../../../styles/variables";

gelato-component[data-name='prompt-vocab-characters'] {

  button { border-radius: 4px; }

  label {
    font-size: 14px;
    font-weight: 700;
  }

  .value {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    .reading { font-weight: 700; }
  }

}
