gelato-page(data-name='home')
  gelato-navbar.fixed-top
    .container-fluid
      .container
        .left
          .item.item-header(data-navigate="") Skritter
  gelato-content
    .container
      #vocab-container