/*** GENERAL ***/
.btn.vertical-margin { margin-bottom: 10px; }
.login-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.padding-top { padding-top: 15px; }
.team-avatar { max-height: 100px; }


/*** ADMIN: STROKE EDITOR ***/
.stroke-json {
    min-height: 200px;
    resize: none;
    width: 90%;
}


/*** PROMPT: CANVAS ***/
.canvas-container {
    cursor: pointer;
    margin: 0 auto;
}
.canvas-container canvas { background-color: #ffffff; }
.gelato-panel-left {
    border-right: 2px solid #000000;
    float: left;
    height: 100%;
    width: 400px;
}
.gelato-panel-right { float: left; }
